<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="hr-benefits-lifecycle" class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
       <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a5">HCM.180 Compensation Management</button>
        <div id="b-a5" class="usa-accordion__content usa-prose">
            <table id="hcm-180" aria-label="HCM.180 Compensation Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div> 

      <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a6">HCM.190 Work Schedule and Leave Management</button>
        <div id="b-a6" class="usa-accordion__content usa-prose">
            <table id="hcm-190" aria-label="HCM.190 Work Schedule and Leave Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>
      
      <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a7">HCM.200 Work Schedule and Leave Management</button>
        <div id="b-a7" class="usa-accordion__content usa-prose">
            <table id="hcm-200" aria-label="HCM.200 Benefits Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>

      <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a8">HCM.210 Work Schedule and Leave Management</button>
        <div id="b-a8" class="usa-accordion__content usa-prose">
            <table id="hcm-210" aria-label="HCM.210 Work-Life Wellness / Employee Assistance Programming">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>
</div>
