<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="hr-benefits-lifecycle" class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">HCM.130 Compensation Management (Payroll Administration)</button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="hcm-130" aria-label="HCM.130 Compensation Management (Payroll Administration)">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2">HCM.140 Work Schedule and Leave Management</button>
        <div id="b-a2" class="usa-accordion__content usa-prose">
            <table id="hcm-140" aria-label="HCM.140 Work Schedule and Leave Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>  
      <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3">HCM.150 Benefits Management</button>
        <div id="b-a3" class="usa-accordion__content usa-prose">
            <p>Business Standards Under Development</p>
        </div>
       </div>

       <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4">HCM.160 Work-Life Wellness/Employee Assistance Programming (EAP)</button>
        <div id="b-a4" class="usa-accordion__content usa-prose">
            <p>Business Standards Under Development</p>
        </div>
       </div>

       <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">HCM.180 Compensation Management</button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="hcm-180" aria-label="HCM.180 Compensation Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
