<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="rpm-lifecycle" class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">
            RPM.010 Real Property Program Planning and Evaluation
        </button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="rpm-010" aria-label="RPM.010 Real Property Program Planning and Evaluation">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2"> 
            RPM.020 Real Property Asset Needs Assessment and Planning
        </button>
        <div id="b-a2" class="usa-accordion__content usa-prose">
            <table id="rpm-020" aria-label="RPM.020 Real Property Asset Needs Assessment and Planning">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3"> RPM.030 Real Property Asset Acquisition, Design, and Commissioning </button>
        <div id="b-a3" class="usa-accordion__content usa-prose">
            <table id="rpm-030" aria-label="RPM.030 Real Property Asset Acquisition, Design, and Commissioning">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4"> RPM.040 Real Property Asset Operation </button>
        <div id="b-a4" class="usa-accordion__content usa-prose">
            <table id="rpm-040" aria-label="RPM.040 Real Property Asset Operation">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a5"> RPM.050 Real Property Asset Tenant Services </button>
        <div id="b-a5" class="usa-accordion__content usa-prose">
            <table id="rpm-050" aria-label="RPM.050 Real Property Asset Tenant Services">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a6"> RPM.060 Real Property Asset Reuse/Disposal</button>
        <div id="b-a6" class="usa-accordion__content usa-prose">
            <table id="rpm-060" aria-label="RPM.060 Real Property Asset Reuse/Disposal">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>