<A NAME="CWSguidelines"><p class="text-italic text-primary font-body-md">Contract Writing System Information - date posted 4/7/2025</p>
<LI><a href="https://ussm.gsa.gov/assets/files/cw/System.Guidelines.for.CWS.final.pdf">System Guidelines for Contract Writing</a></LI>
<LI><a href="https://ussm.gsa.gov/assets/files/cw/CWS.Providers.Final.for.Posting.pdf">Contract Writing Systems (CWS) Providers | CWS Issues</a></LI>
<LI><a href="https://ussm.gsa.gov/assets/files/cw/Standard.Forms.and.Dollar.Fields-Final.pdf">Standard Forms and Dollar Fields</a></LI>
