<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="acq-lifecycle" class="usa-accordion usa-accordion--bordered" data-allow-multiple>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1"> ACQ.010 Business Analysis & Acquisition Strategy </button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="acq-010" aria-label="ACQ.010 Business Analysis & Acquisition Strategy">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2"> ACQ.020 Acquisition Planning </button>
        <div id="b-a2" class="usa-accordion__content usa-prose">
            <table id="acq-020" aria-label="ACQ.020 Acquisition Planning">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3"> ACQ.030 Acquisition Package Preparation </button>
        <div id="b-a3" class="usa-accordion__content usa-prose">
            <table id="acq-030" aria-label="ACQ.030 Acquisition Package Preparation">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4"> ACQ.040 Source Selection </button>
        <div id="b-a4" class="usa-accordion__content usa-prose">
            <table id="acq-040" aria-label="ACQ.040 Source Selection">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a5">ACQ.050 Contract Administration/Management</button>
        <div id="b-a5" class="usa-accordion__content usa-prose">
            <table id="acq-050" aria-label="ACQ.050 Contract Administration/Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
