<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="hr-benefits-lifecycle" class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">HCM.A2-1 Talent Acquisition Management</button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="hcm-A2-1" aria-label="HCM.A2-1 Talent Acquisition Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2">HCM.A2-2 Candidate Sourcing and Recruitment</button>
        <div id="b-a2" class="usa-accordion__content usa-prose">
            <table id="hcm-A2-2" aria-label="HCM.A2-2 Candidate Sourcing and Recruitment">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>

      <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3">HCM.A2-3 Candidate Assessment and Selection</button>
        <div id="b-a3" class="usa-accordion__content usa-prose">
            <table id="hcm-A2-3" aria-label="HCM.A2-3 Candidate Assessment and Selection">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
       </div>

       <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4">HCM.A2-4 Applicant Screening, Reciprocity, and Investigation Request</button>
        <div id="b-a4" class="usa-accordion__content usa-prose">
            <table id="hcm-A2-4" aria-label="HCM.A2-4 Applicant Screening, Reciprocity, and Investigation Request">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
       </div>

       <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a5">HCM.A2-5 Vetting Adjudication</button>
        <div id="b-a5" class="usa-accordion__content usa-prose">
            <table id="hcm-A2-5" aria-label="HCM.A2-5 Vetting Adjudication">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>

      <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a6">HCM.A2-6 New Hire In-Processing and Onboarding </button>
        <div id="b-a6" class="usa-accordion__content usa-prose">
            <table id="hcm-A2-6" aria-label="HCM.A2-6 New Hire In-Processing and Onboarding">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>


</div>
