<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="mom-lifecycle" class="usa-accordion usa-accordion--bordered" data-allow-multiple>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">
            MOM.010 Agency Mail Operations Management Strategy and Planning
        </button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="mom-010" aria-label="MOM.010 Agency Mail Operations Management Strategy and Planning">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2"> 
            MOM.020 Agency Mail Operations Budget Management
        </button>
        <div id="b-a2" class="usa-accordion__content usa-prose">
            <table id="mom-020" aria-label="MOM.020 Agency Mail Operations Budget Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3"> MOM.030 Mail Center Operations </button>
        <div id="b-a3" class="usa-accordion__content usa-prose">
            <table id="mom-030" aria-label="MOM.030 Mail Center Operations">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4"> MOM.040 Agency Mail Operations Reporting </button>
        <div id="b-a4" class="usa-accordion__content usa-prose">
            <table id="mom-040" aria-label="MOM.040 Agency Mail Operations Reporting">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
