---
title: "Video Landing Page"
layout: base
permalink: /video-center
---

{% include video-card/tag-line.html %}

<section id="main-content" class="usa-graphic-list usa-section sml-margin bg-gradient">
  <div class="grid-container">
    <ul class="usa-card-group">
      {% include video-card/video-card.html %}
      {% include video-card/video-card.html %}
      {% include video-card/video-card.html %}
      {% include video-card/video-card.html %}
      {% include video-card/video-card.html %}
    </ul>
  </div>
</section>
