---
title: List of all posts
permalink: /business-standards-api/cyb/
---
[
{
"Business-Standards": "Cybersecurity Standards",
"Sub-section":"Security Operations Center",
"Business Lifecycle": {% raw %}[{{% endraw %}
{% for post in site.cyb-soc %}
"{{post.type |strip_newlines}}": {{ post.content |  remove: '<p>' | remove: '</p>' | strip_newlines  }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% raw %}}],{% endraw %}
"Business Capabilities": [{% include business-standards-api/cyb/soc/soc-capabilities.html %}],
"Business Use Cases": "coming soon",
"Standard Data Elements": "coming soon",
"Performance Metrics": "coming soon"
},
{
"Business-Standards": "Cybersecurity Standards",
"Sub-section":"Coordinated Vulnerability Disclosure",
"Business Lifecycle": {% raw %}[{{% endraw %}
{% for post in site.cyb-cvd %}
"{{post.type |strip_newlines}}": {{ post.content |  remove: '<p>' | remove: '</p>' | strip_newlines  }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% raw %}}],{% endraw %}
"Business Capabilities": [{% include business-standards-api/cyb/cvd/cvd-capabilities.html %}],
"Business Use Cases": "coming soon",
"Standard Data Elements": "coming soon",
"Performance Metrics": "coming soon"
}
]