<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="hr-hcs-lifecycle" class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">HCM.A1-1 Human Capital Strategy</button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="hcm-A1-1" aria-label="HCM.A1-1 Human Capital Strategy">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2">HCM.A1-2 Workforce Planning</button>
        <div id="b-a2" class="usa-accordion__content usa-prose">
            <table id="hcm-A1-2" aria-label="HCM.A1-2 Workforce Planning">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>

      <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3">HCM.A1-3 Position Classification and Position Management</button>
        <div id="b-a3" class="usa-accordion__content usa-prose">
            <table id="hcm-A1-3" aria-label="HCM.A1-3 Position Classification and Position Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
       </div>

       <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4">HCM.A1-4 Employee Engagement</button>
        <div id="b-a4" class="usa-accordion__content usa-prose">
            <table id="hcm-A1-4" aria-label="HCM.A1-4 Employee Engagement">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
       </div>


</div>
