<p class="text-italic text-primary font-body-md">IT Cost Transparency Taxonomy - date posted 2022/03/18</p>
<p>Having comprehensive IT Cost Transparency Standards to enable cohesive integration across the Federal IT initiatives is an integral part of any Federal IT ecosystem. Disparate attempts over the years to define IT Cost Transparency Standards have led to overlap, duplication of effort, and a lack of clarity on how to represent IT services and manage spend. The  IT Cost Transparency Taxonomy establishes a common  standard that translates IT policy into practice and facilitates the effective and efficient delivery of IT services. These standards help to:</p>
<ol>
  <li> Provide a comprehensive approach for managing IT spend across Federal initiatives</li>
  <li> Enable more visibility and traceability</li>
  <li> Improve data quality</li>
  <li> Create cohesive integration and identify cross-functional touchpoints between mission support functions and the IT Cost Transparency taxonomy/lifecycle</li>
  <li> Help identify new mission support functions suitable for sharing across agencies</li>
</ol>
<p>These IT Cost Transparency standards have been developed by a cross-functional team, based on industry best practices and incorporating agency feedback. They will serve as a substantial input to IT lifecycle standards and agency modernization efforts.</p>
