<p class="text-italic text-primary font-body-md">ITS Common Operational Capabilities - date posted 11/15/2024</p>
<img src="{{ site.baseurl }}/assets/images/icon.xls.webp" valign="middle" alt="xls">
   <a href="{{ site.baseurl }}/assets/files/downloads/its/its_2025/ITS Operational Capabilities.xlsx">ITS Common Operational Capababilities</a>
<p class="text-italic text-primary font-body-md">Cybersecurity (CYB) Common Operational Capabilities - date posted 11/15/2024</p>
<img src="{{ site.baseurl }}/assets/images/icon.xls.webp" valign="middle" alt="xls">
   <a href="{{ site.baseurl }}/assets/files/downloads/its/its_2025/Cybersecurity Operational Capabilities.xlsx">Cybersecurity Operational Capabilities</a>
<p>These documents serve three purposes:</p>
<ol>
  <li>The Quality Service Management Offices (QSMOs) use the draft ITS and CYB functions, activities, business capabilities, business data elements and services measures to establish, offer, and manage their governmentwide marketplaces of solutions and services.</li>
  <li>The GSA Technology Business Management (TBM) Program Management Office (PMO) uses the ITS and CYB functions, activities, and data elements as components of the Federal government’s IT Cost Transparency Taxonomy.</li>
  <li>Support Office of Management and Budget (OMB) Circular A-11 “Preparation, Submission, and Execution of the Budget” guidance to agencies when submitting IT investment data attributable to ITS Delivery, Platform, or Infrastructure solutions. Note the TBM Delivery solution subcomponent of Security & Compliance aligns to a mixture of CYB and ITS functions and activities.</li>
</ol>

