
{% comment %}
This banner will be displayed on the homepage. It highlights the President's Management Agenda and newsletter signup.
{% endcomment %}

<section class="usa-section " style="background-color:#046b99; padding-bottom: 2rem;">

</section>

<section class="usa-section usa-section--dark ">
    <div class="grid-container ">
        <div class="usa-graphic-list__row grid-row grid-gap">

            <div class="tablet:grid-col-6">
                <h2 class=" margin-top-0 tablet:margin-bottom-0 text-primary-darker " style="color:white">C-Suite Quarterly Newsletter</h2>
                <p class="font-sans-sm text-ink padding-bottom-3"> Sign up for C-Suite Quarterly, a quarterly update on management priorities, transformation success stories, and tools and information to help agencies improve performance. <BR><BR> To sign up for updates or to access your subscriber preferences, please enter your contact information below.</p>

            </div>

            <div class="tablet:grid-col-6">

                <form class="usa-form" id="GD-snippet-form" action="https://public.govdelivery.com/accounts/USGSA/subscribers/qualify" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="ZhCoiMxoWiSHeJTiR19j3v2+S7Z6oMVPNTy2Ytiv7ukUos3n+vi5J/Fc0MG7tmBSLdsHmRfj02xB0ztqUS0YWQ==">
                    <fieldset class="usa-fieldset">
                        <label class="usa-label" for="email">* Email address</label>
                        <input class="usa-input" id="email" name="email" type="email" autocapitalize="off" autocorrect="off" required>
                        <input class="usa-button" type="submit" name="commit" value="Submit">

                    </fieldset>
                </form>

            </div>
        </div>
    </div> </div>


        </div>
    </div>
</section>