{% comment %}
This banner will be displayed on the homepage. It highlights the President's Management Agenda and newsletter signup.
{% endcomment %}

<section class="bg-base-lightest">
    <div class="usa-section usa-prose grid-container">
        <h2 class="text-primary" >Learn and Connect</h2>
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4 display-flex flex-column flex-align-center text-center">
                <iframe src="https://player.vimeo.com/video/569954187?badge=0&autopause=0&player_id=0&app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen  title="What Are Shared Services"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
                <p><i>Shared Services Strategy</i></p>
            </div>
            <div class="tablet:grid-col-4 display-flex flex-column flex-align-center text-center">
                <iframe src="https://player.vimeo.com/video/698159819?h=f7c711fc66&badge=0&autopause=0&player_id=0&app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen  title="Enhancing Your Agencies Services by Utilizing FIBF"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
                <p><i>FIBF: Agency Data and Business Standards</i></p>
            </div>
            <div class="tablet:grid-col-4 display-flex flex-column flex-align-center text-center">
                <iframe src="https://player.vimeo.com/video/704934121?h=437ef4784d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen  title="M3-Playbook Video"></iframe><script src="https://player.vimeo.com/api/player.js"></script> 
                <p><i>Agency Modernization Playbook (M3)</i></p>
            </div>
        </div>
    </div>
</section>