<div class="desktop:grid-col-5 mobile:grid-col-12 fibf-wheel-media fibf-media3">
    <div class="circle">
        <div class="slice slice-1" tabindex="1">
            <a href="#business_lifecycle" aria-label="Federal Business Lifecycle link">
                <span class="label margin-top-neg-1 text-center" data-label="Federal Business Lifecycle"> </span></a>

        </div>

        <div class="slice slice-2">
            <a href="#business_capabilities" aria-label="Business Capabilities link">
                <span class="label text-center" data-label="Business Capabilities"></span></a>
        </div>

        <div class="slice slice-3">
            <a href="#business_use_cases" aria-label="Business Use Cases link">
                <span class="label margin-left-2 text-center" data-label="Business Use Cases"></span></a>
        </div>

        <div class="slice slice-4">
            <a href="#standard_data_elements" aria-label="Standard Data Elements link">
                <span class="label margin-left-05 ogp-margin-top-neg-07 text-center" data-label="Standard Data Elements"></span></a>
        </div>

        <div class="slice slice-5">
            <a href="#performance_metrics" aria-label="Service Measures link">
                <span class="label text-center" data-label="Service Measures"></span></a>
        </div>


        <div class="circle-semitrans"></div>
        <div class="circle__usage">
            <h2>FIBF</h2>
        </div>
    </div>
    <p class="text-center margin-right-5"><i>Click wheel to review standards</i></p>
</div>
