{% comment %}
This banner will be displayed on the homepage. It highlights the President's Management Agenda and newsletter signup.
{% endcomment %}

<section class="usa-section" style="background-color: #f1f1f1; padding-top:30px;padding-bottom:15px">
    <span id="who"></span>
    <div class="grid-container">
        <div class="grid-row">
            <div class="tablet:grid-col text-center ">
                <a class="hvr-sink" href="#who"style="text-decoration:none;"><h3 style="color:black; ">Who are the QSMOs?</h3>
                    <p><img src="../assets/images/project-icons/arrow-down.webp" alt="arrow down" style="width:35px;"></p> </a>
            </div>
            <div class="tablet:grid-col border-x text-center">
                <a class=" hvr-sink" href="#what" style="text-decoration:none;"><h3 style="color:black;">What are QSMOs?</h3>
                    <p><img  src="../assets/images/project-icons/arrow-down.webp" alt="arrow down" style="width:35px;"></p></a>
            </div>
            <div class="tablet:grid-col text-center ">
                <a class="hvr-sink" class="grow "href="#how" style="text-decoration:none;"><h3 style="color:black; ">How agencies get support from<br> the QSMO?</h3>
                    <p><img  src="../assets/images/project-icons/arrow-down.webp" alt="arrow down" style="width:35px;"></p></a>
            </div>
        </div>
    </div>
</section>