
<footer class="usa-footer">
  <div class="usa-footer__secondary-section" style="background-color:#f1f1f1;">
    <nav class="usa-footer__nav" aria-label="Primary Footer navigation">
      <ul class="grid-row grid-gap" >
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/governance/">Governance</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/fibf/">Business Standards</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/qsmo/">QSMO</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/m3/">M3 Framework</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/about/">About OSSPI</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/ussm-contact/">Contact Us</a>
        </li>
      </ul>

    </nav>
  </div>

  <div class="usa-footer__primary-section" style="background-color:#d6d7d9;">
    <div class="grid-container">
      <div class="grid-row ">
        <div class="tablet:grid-col-10">
          <nav class="usa-footer__nav" aria-label="Footer navigation">
            <div class="grid-row grid-gap-10">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h2 class="text-primary" style="margin-bottom: 9px;font-size: 18px;margin-top: 48px;" >Related Websites</h2>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://cfo.gov">CFO.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://cao.gov">CAO.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://cio.gov">CIO.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://pic.gov">PIC.gov</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">

                  <h2 class="text-primary" style="margin-bottom: 9px;font-size: 18px;margin-top: 48px;" >Resources</h2>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"> <a  href="https://www.whitehouse.gov/wp-content/uploads/2019/04/M-19-16.pdf">OMB Memo 19-16</a></li>
                    <li class="usa-footer__secondary-link"> <a  href="{{ site.baseurl }}/assets/files/SQS-Public-FAQs-April-2020.pdf">Frequently Asked Questions</a></li>
                    <li class="usa-footer__secondary-link"><a href="{{ site.baseurl}}/assets/files/QSMO-Long-term-Designation-Criteria.pdf">Designation Criteria</a></li>
<!--                    <li class="usa-footer__secondary-link"><a href="{{ site.baseurl}}/assets/files/Workforce-Strategies-Guide-4-11-19.pdf">Workforce Strategies Guide</a></li>-->
                    <li class="usa-footer__secondary-link"><a href="{{ site.baseurl}}/assets/files/Marketplace Capabilities Framework_Deliverable.pdf">Marketplace Capabilities Framework</a></li>
                    <li class="usa-footer__secondary-link"><a  href="{{ site.baseurl}}/assets/files/Investment-Planning-Guidance-March 2021.pdf">Investment Planning Guidance</a></li>
                    <li class="usa-footer__secondary-link"><a  href="{{ site.baseurl}}/m3/">M3 Framework</a></li>
                    <li class="usa-footer__secondary-link"><a  href="{{ site.baseurl}}/fibf/">Business Standards</a></li>
                    <li class="usa-footer__secondary-link"><a  href="{{ site.baseurl}}/more-about-shared-services/">More About Shared Services</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">

                  <h2 class="text-primary" style="margin-bottom: 9px;font-size: 18px;margin-top: 48px;">Website Information</h2>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><A HREF="http://www.gsa.gov/portal/content/116621">Accessibility Information</A></li>
                    <li class="usa-footer__secondary-link"> <A HREF="http://www.gsa.gov/portal/category/21546">Budget and Performance</A></li>
                    <li class="usa-footer__secondary-link"><A HREF="https://www.gsa.gov/reference/freedom-of-information-act-foia">FOIA</A></li>
                    <li class="usa-footer__secondary-link"><A HREF="http://www.gsa.gov/portal/content/102469">No Fear ACT Data</A></li>
                    <li class="usa-footer__secondary-link"><A HREF="http://www.gsa.gov/portal/content/104660">Office of the Inspector General</A></li>
                    <li class="usa-footer__secondary-link"><A HREF="http://www.gsa.gov/portal/content/116609">Privacy Statement</A></li>
                    <li class="usa-footer__secondary-link"><A HREF="http://www.usa.gov/">USA.gov</A></li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
        <div class="tablet:grid-col-2">
          <div class="usa-sign-up">
            <address>

              <h2 class="usa-footer-contact-heading" style="text-align:right;color:#046b99;">Office of Shared Solutions and Performance Improvement</h2>


              <p style="text-align:right;font-size:18px;"><a style="color: #212121" href="mailto:ussmteam@gsa.gov">ussmteam@gsa.gov</a></p>
            </address>
            <img src="{{site.baseurl}}/assets/images/gsa-logo-dark.jpg" style="width:120px;float:right;padding-bottom: 20px;" alt="GSA Logo">
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>

<style>

  .usa-footer__secondary-link a {
  color: #212121
  }

  .usa-list--unstyled > li {
    margin-bottom: -10px;
    }
</style>