
<footer class="usa-footer">
  <div class="usa-footer__secondary-section" style="background-color:#f1f1f1;">
    {% if page.layout == 'm3/keyTask' or page.layout == 'm3/phase' or page.layout == 'm3/m3-layout' %}
    <nav class="usa-footer__nav usa-footer-wide" aria-label="Primary Footer navigation">
    {% else %}
    <nav class="usa-footer__nav" aria-label="Primary Footer navigation">
    {% endif %}
      <ul class="grid-row grid-gap" >
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/governance/">Governance</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/fibf/">Business Standards</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/qsmo/">QSMO</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/m3/">M3 Framework</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/about/">About OSSPI</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{site.baseurl}}/ussm-contact/">Contact Us</a>
        </li>
      </ul>

    </nav>
  </div>

  <div class="usa-footer__primary-section" style="background-color:#d6d7d9;">
    {% if page.layout == 'm3/keyTask' or page.layout == 'm3/phase' or page.layout == 'm3/m3-layout' %}
    <div class="grid-container usa-footer-wide">
    {% else %}
    <div class="grid-container">
    {% endif %}
      <div class="grid-row ">
        <div class="tablet:grid-col-9">
          {% if page.layout == 'm3/keyTask' or page.layout == 'm3/phase' or page.layout == 'm3/m3-layout' %}
          <nav class="usa-footer__nav usa-footer-wide" aria-label="Footer navigation">
          {% else %}
          <nav class="usa-footer__nav" aria-label="Footer navigation">
          {% endif %}
            <div class="grid-row grid-gap-10">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h2 class="text-primary" style="margin-bottom: 9px;font-size: 18px;margin-top: 48px;" >Related Websites</h2>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://cfo.gov">CFO.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://cao.gov">CAO.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://cio.gov">CIO.gov</a></li>
                    <li class="usa-footer__secondary-link" aria-label="footer link for PIC"><a href="https://pic.gov">PIC.gov</a></li>
                    <li class="usa-footer__secondary-link"><A HREF="http://www.usa.gov/">USA.gov</A></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-6">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">

                  <h2 class="text-primary" style="margin-bottom: 9px;font-size: 18px;margin-top: 48px;">Resources, Guidance, and Lessons Learned</h2>
                  <ul class="usa-list usa-list--unstyled">
                      <li class="usa-footer__secondary-link"> <a href="{{ site.baseurl}}/shared-services-lessons-learned">Knowledge Library</a></li>
                      <li class="usa-footer__secondary-link"> <a href="{{ site.baseurl}}/assets/files/PMA Placemat.pdf">Advancing the PMA through Shared Services</a></li>
                      <li class="usa-footer__secondary-link"> <a href="https://www.whitehouse.gov/wp-content/uploads/2019/04/M-19-16.pdf">OMB Memo 19-16</a></li>
                      <li class="usa-footer__secondary-link"> <a href="{{ site.baseurl }}/assets/files/SQS-Public-FAQs-April-2020.pdf">Frequently Asked Questions</a></li>
                      <li class="usa-footer__secondary-link"><a href="{{ site.baseurl}}/assets/files/QSMO-Long-term-Designation-Criteria.pdf">Designation Criteria</a></li>
                      <!--                    <li class="usa-footer__secondary-link"><a href="{{ site.baseurl}}/assets/files/Workforce-Strategies-Guide-4-11-19.pdf">Workforce Strategies Guide</a></li>-->
                      <li class="usa-footer__secondary-link"><a href="{{ site.baseurl}}/assets/files/Marketplace Capabilities Framework_Deliverable.pdf">Marketplace Capabilities Framework</a></li>
                      <li class="usa-footer__secondary-link"><a href="{{ site.baseurl}}/assets/files/Investment-Planning-Guidance-March 2021.pdf" aria-label="footer link of Investment planning">Investment Planning Guidance</a></li>
                      <li class="usa-footer__secondary-link"><a href="{{ site.baseurl}}/m3/">M3 Framework</a></li>
                      <li class="usa-footer__secondary-link"><a href="{{ site.baseurl}}/fibf/">Business Standards</a></li>
                      <li class="usa-footer__secondary-link"><a href="{{ site.baseurl}}/video-center/">Learn About Shared Services</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
        <div class="tablet:grid-col-3">
          <div class="usa-sign-up">
            <address>

              <h2 class="usa-footer-contact-heading" style="text-align:right;color:#046b99;">Office of Shared Solutions and Performance Improvement</h2>


              <p style="text-align:right;font-size:18px;"><a style="color: #212121" href="mailto:ussmteam@gsa.gov">ussmteam@gsa.gov</a></p>
            </address>
            <img src="{{site.baseurl}}/assets/images/gsa-logo-dark.jpg" style="width:120px;float:right;padding-bottom: 20px;" alt="GSA Logo">
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>

<div class="usa-identifier">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="https://gsa.gov" class="usa-identifier__logo">
          <img class="usa-identifier__logo-img" src="{{site.baseurl}}/assets/images/gsa-logo-dark.jpg" alt="General Services Administration Logo">
        </a>
      </div>
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">USSM.GSA.gov</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the <a href="https://www.gsa.gov/">General Services Administration</a>
        </p>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links,,"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/about-us" class="usa-identifier__required-link usa-link">About GSA</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/website-information/accessibility-aids" class="usa-identifier__required-link usa-link">Accessibility support</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link">FOIA requests</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="usa-identifier__required-link usa-link">No FEAR Act data</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link">Office of the Inspector General</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/reports/budget-performance" class="usa-identifier__required-link usa-link">Performance reports</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/website-information/website-policies" class="usa-identifier__required-link usa-link">Privacy policy</a>
        </li>
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>

<style>

  .usa-footer__secondary-link a {
  color: #212121
  }

  .usa-list--unstyled > li {
    margin-bottom: -10px;
    }
</style>