<footer
  style="
    background-color: #162e51;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: sans-serif;
  "
>
  <div style="max-width: 800px; margin: auto">
    <h3 style="color: #fff">Stay Connected</h3>

    <p style="margin: 0">
      Email us at GrantsQSMO@hhs.gov to discuss your future grants management IT
      solution needs.<br />
      Subscribe to our newsletter for the latest news and updates in federal
      grants IT solutions. If you work for a <br />
      federal agency and want to join our federal newsletter, send an email to
      GrantsQSMO@hhs.gov.
    </p>
  </div>
</footer>
