<footer
  style="
    background: linear-gradient(to right, #022f80 0%, #022f80 100%);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: sans-serif;
    position: sticky;
    top: 100%;
    bottom: 0;
  "
>
  <div style="max-width: 800px; margin: auto; font-size: 14px">
    <h3 style="color: #fff; margin: 0">Stay Connected</h3>

    <p style="margin: 0">
      Email us at GrantsQSMO@hhs.gov to discuss your future grants management IT
      solution needs.<br />
      Subscribe to our newsletter for the latest news and updates in federal
      grants IT solutions. If you work for a <br />
      federal agency and want to join our federal newsletter, send an email to
      GrantsQSMO@hhs.gov.
    </p>
  </div>
</footer>
