<footer
  style="
    background: linear-gradient(to right, #022f80 0%, #022f80 100%);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: sans-serif;
    position: sticky;
    top: 100%;
    bottom: 0;
    margin-top: 30px;
  "
>
  <div style="max-width: 800px; margin: auto; font-size: 14px">
    <h3 style="color: #fff; margin: 0">Stay Connected</h3>
    <p style="margin: 0">
      Reach out to us at <a href="#">GrantsQSMO@hhs.gov </a>to explore grants
      management IT solutions. Stay informed— <br />subscribe to our newsletter
      for the latest updates. Federal employees can email us to join our federal
      newsletter.
    </p>
  </div>
</footer>
