<div class="usa-grid usa-graphic_list-row">
  <div class="usa-width-one-fourth" ">
    <h3  style="color: #FFFFFF;">Federal Shared Services</h3>
  </div>
  <div class="usa-width-three-fourths" style="color: #FFFFFF;">
    <p style="color: #FFFFFF;">Through sharing quality services, the Office of Shared Solutions and Performance Improvement is transforming the way government does business internally, to drive agencies to share investments in people, business processes and technology; and to function more as one enterprise serving the American public. <a style="color: #FFFFFF;" href="{{ site.baseurl }}/about/">Learn more</a>
    </p>
  </div>
</div>
<div class="usa-grid usa-graphic_list-row">
  <div class="usa-width-one-fourth">
    <a href="https://www.performance.gov/PMA/PMA.html"><img src="{{ site.baseurl }}/assets/img/pma-logo-white.png" style="float: left;width: 225px; padding-right: 15px;">
  </div>
  <div class="usa-width-three-fourths" style="color: #FFFFFF;">
      <p style="color: #FFFFFF;"><a style="color: #FFFFFF;" href="https://www.performance.gov/CAP/CAP_goal_5.html">Sharing quality services</a> is a key strategy for how the President's Management Agenda helps modernize and streamline government.</p>
  </div>
</div>
