<section class="usa-graphic_list clearfix padding-top-5">
    <div class="clearfix grid-container grey-back padding-top-2 padding-bottom-2">
        <div class="grid-row ">
            <div class="tablet:grid-col-3 padding-1">
                <a title="Modernization Playbook (M3)" href="{{ site.baseurl }}/m3/" style="color:black;text-decoration: none; display: block;" class="text-center height-full">
                    <img src="{{ site.baseurl }}/assets/images/modernization-playbook-m3.png" alt="Modernization Playbook (M3) Icon">
                </a>
            </div>
            <div class="tablet:grid-col-3 padding-1">
                <a title="Federal Integrated Business Framework (FIBF)" href="{{ site.baseurl }}/fibf/" style="color:black;text-decoration: none; display: block;" class="text-center height-full">
                    <img src="{{ site.baseurl }}/assets/images/data-and-business-standards.png" alt="Federal Integrated Business Framework (FIBF) Icon">
                </a>
            </div>
            <div class="tablet:grid-col-3 padding-1">
                <a title="Quality Service Management Office (QSMO)" href="{{ site.baseurl }}/qsmo/" style="color:black;text-decoration: none; display: block;" class="text-center height-full">
                    <img src="{{ site.baseurl }}/assets/images/quality-service-management-offices.png" alt="Quality Service Management Office (QSMO) Icon">
                </a>
            </div>
            <div class="tablet:grid-col-3 padding-1">
                <a title="Frequently Asked Questions (FAQ)" href="{{ site.baseurl }}/faq/" style="color:black;text-decoration: none; display: block;" class="text-center height-full">
                    <img src="{{ site.baseurl }}/assets/images/frequently-asked-questions.png" alt="Frequently Asked Questions (FAQ) Icon">
                </a>
            </div>
        </div>
    </div>
</section>


