

<section class="usa-graphic_list clearfix ">
    <div class="clearfix grid-container grey-back padding-top-2 padding-bottom-2">
        <div class="grid-row ">

            <div class="tablet:grid-col-3 padding-1">
                <a href="{{ site.baseurl }}/m3/" style="color:black;text-decoration: none; display: block;" class="text-center height-full">
                    <div class="bg-gray-5 padding-3 border-bottom-05 border-primary-dark shadow-5 height-full members-hover">
                        <p class="name-leader text-primary">Modernization Playbook (M3)</p>
                    </div>
                </a>
            </div>
            <div class="tablet:grid-col-3 padding-1">
                <a href="{{ site.baseurl }}/fibf/" style="color:black;text-decoration: none; display: block;" class="text-center height-full">
                    <div class="bg-gray-5 padding-3 border-bottom-05 border-primary-dark shadow-5 height-full members-hover">

                        <p class="name-leader text-primary">Data and Business Standards</p>

                    </div>
                </a>
            </div>
            <div class="tablet:grid-col-3 padding-1">
                <a href="{{ site.baseurl }}/qsmo/" style="color:black;text-decoration: none; display: block;" class="text-center height-full">
                    <div class="bg-gray-5 padding-3 border-bottom-05 border-primary-dark shadow-5 height-full members-hover">

                        <p class="name-leader text-primary">Quality Service Management Offices</p>

                    </div>
                </a>
            </div>
            <div class="tablet:grid-col-3 padding-1">
                <a href="{{ site.baseurl }}/faq/" style="color:black;text-decoration: none; display: block;" class="text-center height-full">
                    <div class="bg-gray-5 padding-3 border-bottom-05 border-primary-dark shadow-5 height-full members-hover">

                        <p class="name-leader text-primary">Frequently Asked Questions</p>

                    </div>
                </a>
            </div>

        </div>




    </div>
</section>


