<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/uswds-{{ site.wds-version }}/js/uswds.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.3/rg-1.1.2/rr-1.2.7/datatables.min.js"></script>
<script src="{{ site.baseurl }}/js/imageMapResizer.min.js"></script>
<script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js"></script>
<script src="{{ '/assets/js/index.js' | prepend: site.baseurl  }}"></script>

<!--
  analytics for DAP, for more info visit
  https://www.digitalgov.gov/services/dap/
-->
<script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{ site.analytics.dap.agency}}&subagency={{ site.analytics.dap.subagency }}"
id="_fed_an_ua_tag"></script>

<!--
  analytics for 18F guild, for more info visited
  https://github.com/18f/analytics-standards
-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics.google.code }}', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('set', 'forceSSL', true);
  ga('send', 'pageview');
</script>
