{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<STYLE>
.content {
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#content-1, #content-2 {
    display: none;
    opacity: 0;
    visibility: hidden;
}

#content-1.active, #content-2.active {
    display: block;
    opacity: 1;
    visibility: visible;
}
</STYLE>




<section id="main-content">
    <div class="usa-hero clearfix " style="background-image: url('{{ site.baseurl }}/assets/images/homepage-update-image-2.webp');background-repeat:no-repeat">
        <div class="grid-container">
            <div class="usa-width-whole hero-content text-center">
                <h1 class="text-white">Solutions to Advance Your Agency's Management Priorities</h1>
                <p class="text-white big">A marketplace of commercial and Federal solutions, backed by agency business and data standards informed by industry, will drastically improve the ability of government to deliver mission outcomes, provide improved services, and effectively steward taxpayer dollars on behalf of the American people.</p>
                <a class="usa-button usa-button--secondary tablet:margin-right-205" href="{{site.baseurl}}/ssgb/">Meet the Board</a>
                <a class="usa-button usa-button--secondary" href="{{site.baseurl}}/sapoc/">Agency SAPOC</a>
            </div>
        </div>
    </div>

     
</section>


    <SCRIPT>

const rotateContent = () => {
    content1.classList.toggle("active");
    content2.classList.toggle("active");
};
    
document.addEventListener("DOMContentLoaded", () => {
    const content1 = document.getElementById("content-1");
    const content2 = document.getElementById("content-2");

    let isContent1Visible = true;

    const rotateContent = () => {
        if (isContent1Visible) {
            content1.style.display = "none";
            content2.style.display = "block";
        } else {
            content1.style.display = "block";
            content2.style.display = "none";
        }
        isContent1Visible = !isContent1Visible;
    };

    // Change content every 5 seconds
    setInterval(rotateContent, 5000);
});

    



    </SCRIPT>


    
