{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}


<section id="main-content">
    <div class="usa-hero clearfix " style="background-image: url('{{ site.baseurl }}/assets/images/homepage-update-image-2.webp');background-repeat:no-repeat">
        <div class="grid-container">
            <div class="usa-width-whole hero-content text-center">
                <h1 class="text-white">Solutions to Improve Agency Management Efficiency</h1>
                <p class="text-white big">A marketplace of commercial and Federal solutions, backed by agency business and data standards informed by industry, will drastically improve the ability of government to deliver mission outcomes, provide improved services, and effectively steward taxpayer dollars on behalf of the American people.</p>
                <a class="usa-button usa-button--secondary tablet:margin-right-205" href="{{site.baseurl}}/ssgb/">Meet the Board</a>
                <a class="usa-button usa-button--secondary" href="{{site.baseurl}}/sapoc/">Agency SAPOC</a>
            </div>
        </div>
    </div>
</section>
