{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}




<section>
    <div class="usa-hero clearfix " style="background-image: url('{{ site.baseurl }}/assets/images/homepage-update-image-2.png');background-repeat:no-repeat">
        <div class="grid-container">
        <div class="usa-width-whole hero-content">
            <center>
            <h1 style="color:white">Centralized Mission Support Capabilities for the Federal Government</h1>
            <p style="color:#ffffff;font-size:20px;">A government-wide Shared Services approach is a marketplace of common mission support solutions and services.  The Office of Management and Budget has designated Quality Service Management Offices (QSMOs) in key Mission Support Service areas.</p>
            <a class="usa-button usa-button-secondary " href="https://vimeo.com/569954187/07960a41a1" style="background-color:#e31c3d;">What Are Shared Services?</a>
            <a class="usa-button usa-button-secondary " href="{{site.baseurl}}/qsmo/" style="background-color:#e31c3d;">Learn more about QSMOs</a>
            </center>
        </div>
    </div>
    </div>
</section>