<!-- Mobile Toggle Button -->
<button class="menu-toggle" onclick="toggleSidebar()">☰</button>

<div class="sidebar" id="sidebar">
  <div class="nav-item">
    <a
      class="nav-link {% if page.url == '/marketplace/grm/' %}active{% endif %}"
      href="{{site.baseurl}}/marketplace/grm/"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="#005ea2"
        height="24"
        stroke="white"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        width="24"
      >
        <circle cx="12" cy="12" r="10" />
        <polyline points="12 16 16 12 12 8" />
        <line x1="8" x2="16" y1="12" y2="12" />
      </svg>
      Home
    </a>
  </div>
  <div class="nav-item">
    <a
      class="nav-link {% if page.url == '/marketplace/marketplace-catalog/' %}active{% endif %}"
      href="{{site.baseurl}}/marketplace/marketplace-catalog/"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="#005ea2"
        height="24"
        stroke="white"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        width="24"
      >
        <circle cx="12" cy="12" r="10" />
        <polyline points="12 16 16 12 12 8" />
        <line x1="8" x2="16" y1="12" y2="12" />
      </svg>
      Marketplace Catalog
    </a>
    <div class="submenu">
      <a
        href="{{site.baseurl}}/marketplace/marketplace-catalog/federal"
        class="{% if page.url == '/marketplace/marketplace-catalog/federal/' %}active{% endif %}"
        >Federal Shared Services</a
      >
      <a
        href="{{site.baseurl}}/marketplace/marketplace-catalog/commercial"
        class="{% if page.url == '/marketplace/marketplace-catalog/commercial/' %}active{% endif %}"
        >Commercial Shared Services</a
      >
      <a
        href="{{site.baseurl}}/marketplace/marketplace-catalog/mandatory"
        class="{% if page.url == '/marketplace/marketplace-catalog/mandatory/' %}active{% endif %}"
        >Mandatory Federal Solutions & Services</a
      >
    </div>
  </div>
  <div class="nav-item">
    <a
      class="nav-link {% if page.url == '/marketplace/resources/' %}active{% endif %}"
      href="{{site.baseurl}}/marketplace/resources"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="#005ea2"
        height="24"
        stroke="white"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        width="24"
      >
        <circle cx="12" cy="12" r="10" />
        <polyline points="12 16 16 12 12 8" />
        <line x1="8" x2="16" y1="12" y2="12" />
      </svg>
      Resources
    </a>
  </div>
  <div class="nav-item">
    <a
      class="nav-link {% if page.url == '/marketplace/faq/' %}active{% endif %}"
      href="{{site.baseurl}}/marketplace/faq"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="#005ea2"
        height="24"
        stroke="white"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        width="24"
      >
        <circle cx="12" cy="12" r="10" />
        <polyline points="12 16 16 12 12 8" />
        <line x1="8" x2="16" y1="12" y2="12" />
      </svg>
      Frequently Asked Questions (FAQs)
    </a>
  </div>
  <div class="nav-item">
    <a
      class="nav-link {% if page.url == '/marketplace/contact/' %}active{% endif %}"
      href="{{site.baseurl}}/marketplace/contact"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="#005ea2"
        height="24"
        stroke="white"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        width="24"
      >
        <circle cx="12" cy="12" r="10" />
        <polyline points="12 16 16 12 12 8" />
        <line x1="8" x2="16" y1="12" y2="12" />
      </svg>
      Contact Us
    </a>
  </div>
</div>
