{% comment %}
This banner will be displayed on the homepage. It highlights the President's Management Agenda and newsletter signup.
{% endcomment %}

<div class="grid-container">
    <div class="grid-row ">
        <div class="grid-col-12">
            <h2 style="color:black">Legacy Designated Providers</h2>
            <p>Memo 19-16 directs legacy designated providers to propose a <a href="{{ site.baseurl}}/assets/files/Investment-Planning-Guidance-March 2021.pdf">joint business case</a> with the QSMO to accept any new customers, expand services to existing customers, or make investments in technology or services for these functions.</p>
            <table class="usa-table" role ="presentation">
                <tr>
                    <td style="background-color: #205493;color:white;">Functional Area</td>
                    <td style="background-color: #205493;color:white;">Legacy Designated Providers</td>
                    <td style="background-color: #205493;color:white;">Pre/Designated QSMO</td>
                </tr>
                <tr>
                    <td>Civilian HR Transaction Services</td>
                    <ul>
                        <td><ul><li>Defense Accounting and Financial Service (Department of Defense)</li><li>Interior Business Center (Department of Interior)</li> <li>Administrative Resource Center and Treasury Shared Service Center (Department of Treasury)</li><li> National Finance Center (Department of Agriculture)</li></ul></td>
                        <td>General Services Administration</td>
                </tr>
                <tr>
                    <td>Core Financial Management</td>
                    <ul>
                        <td><ul><li>Interior Business Center (Department of Interior)</li><li> Financial Management Services (Department of Agriculture)</li><li> Enterprise Services Center (Department of Transportation)</li><li> Administrative Resource Center (Department of Treasury)</li></ul></td>
                        <td>Department of Treasury</td>
                </tr>
                <tr>
                    <td>Grants Management</td>
                    <td>N/A</td>
                    <td>Department of Health and Human Services</td>
                </tr>
                <tr>
                    <td>Cybersecurity Services</td>
                    <td>N/A</td>
                    <td>Department of Homeland Security </td>
                </tr>
            </table>

            <i>Agencies listed were previously designated by either OMB or an e-gov Managing Partner</i>
        </div>
    </div>
</div>