{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the
site, this is the place to do it.
{% endcomment %}

{% assign title = site.title %}

{% if page.title %}
  {% capture title %}{{ page.title }} | {{ site.title }}{% endcapture %}
{% endif %}

{% if page.layout == "m3/phase" %}
  {% capture title %}M3 Playbook | Phase {{page.phase}}{% endcapture %}
{% elsif page.layout == "m3/keyTask" %}
  {% capture title %}M3 Playbook | Key Task {{page.phase}}.{{page.keyTask}}{% endcapture %}
{% elsif page.layout contains "m3/" %}
  {% capture title %}M3 Playbook | {{ page.title }}{% endcapture %}
{% elsif page.url == "/sapoc/" %}
  {% capture title %}Shared Services | Senior Accountable Point of Contact{% endcapture %}
{% elsif page.title == "Federal Mission Support Shared Services Marketplace : Grants Management" %}
  {% capture title %}{{page.title}}{% endcapture %} 
{% endif %}


{% assign ogtitle = title %}
{% assign description = site.description %}
{% assign ogimage = false %}

{% if page.url == "/more-about-shared-services/" %}
  {% assign ogtitle = "What are Shared Services? - Learn about the Federal Government's Shared Services efforts" %}
  {% assign description = "A 3-part approach to delivering on the Federal government's vision for shared services." %}
  {% assign ogimage = "https://ussm.gsa.gov/assets/images/fibf/SM-WhatAreSharedServices600x300.png" %}
{% elsif page.url contains "fibf" %}
  {% assign ogimage = "https://ussm.gsa.gov/assets/images/fibf/business-standards-website-icons-large.png" %}
{% endif %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.title == "Federal Mission Support Shared Services Marketplace : Grants Management" %}
  <meta name="robots" content="noindex">
  {% else %}
  <meta name="robots" content="index,follow">
  {% endif %}
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title and meta description
    ================================================== -->
  <title>{{title}}</title>
  {% if page.layout contains "m3/" %}
  <meta property="og:title" content="M3 Playbook | Introduction to Modernization and Migration Management">
  {% else %}
  <meta property="og:title" content="{{title}}">
  {% endif %}
  {% if page.layout contains "m3/" %}
  <meta name="description" content="">
  <meta property="og:description" content="">
  {% else %}
  <meta name="description" content="{{description}}">
  <meta property="og:description" content="{{description}}">
  {% endif %}


  {% if ogimage %}
  <meta property="og:image" content="{{ogimage}}">
  {% endif %}

  {% if page.layout contains "m3/" %}
  <meta property='og:title' content='M3 Playbook'/>
  <meta property='og:image' content='https://ussm.gsa.gov/assets/images/m3/m3-wider-social-media-image.png' />
  <meta property='og:description' content='Introduction to Modernization and Migration Management'/>
  <meta property='og:url' content='https://ussm.gsa.gov/m3/'/>
  {% endif %}
  
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  {% if page.url == "/more-about-shared-services/" %}
  <meta name="twitter:title" content="What are Shared Services? - Learn about the Federal Government's Shared Services efforts" />
  <meta name="twitter:image" content="https://ussm.gsa.gov/assets/images/fibf/SM-WhatAreSharedServices600x300.png">
  <meta name="twitter:description" content="A 3-part approach to delivering on the Federal government's vision for shared services." />
  {% elsif page.url contains "fibf" %}
  <meta name="twitter:title" content="{{site.title}}" />
  <meta name="twitter:image" content="https://ussm.gsa.gov/assets/images/fibf/business-standards-website-icons-large.png">
  <meta name="twitter:description" content="{{site.description}}" />
  {% elsif page.url contains "m3/" %}
  <meta name='twitter:title' content="M3 Playbook | Introduction to Modernization and Migration Management" />
  <meta name='twitter:image' content='https://ussm.gsa.gov/assets/images/m3/m3-wider-social-media-image.png' />
  <meta name='twitter:description' content='Transitions are difficult but you can be successful with sufficient planning and follow-through' />
  {% else %}
  <!--<meta name="twitter:title" content="{{site.title}}" />-->
  <!-- <meta name="twitter:image" content="https://ussm.gsa.gov/assets/images/fibf/business-standards-website-icons-large.png"> -->
  <!--<meta name="twitter:description" content="{{site.description}}" />-->
  {% endif %}
  
  <meta property="og:type" content="article">
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <!-- Favicons
    ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/favicon.ico" />
  <link rel="icon" type="image/png" href="{% asset favicons/favicon.png @path %}">

  <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/images/favicon-2.ico">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon-2.ico">
  <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/assets/images/favicon-2.ico">
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/images/favicon-2.ico">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/images/favicon-2.ico">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/images/favicon-2.ico">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/images/favicon-2.ico">
  <!-- CSS
    ================================================== -->


  {% asset index.scss %}
  {% asset main-page.scss %}
  {% asset governance.scss %}
  {% asset qsmo.scss %}
  {% asset filter.scss %}
  {% asset side-nav.scss %}
  {% asset global.scss %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/slick.css?{{ site.time | date: '%s%N' }}">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/slick-theme.css?{{ site.time | date: '%s%N' }}">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/magnific-popup.css?{{ site.time | date: '%s%N' }}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css">
  <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
</head>
