<section id="NewsUpdates" class="grid-container usa-section" style="background-color:#FFFFFF;">
    
    
    <div class="grid-row">

        <div class="grid-col-6 min" id="services" STYLE="display: inline-block;">
            <h2 class="text-primary" STYLE="display: inline-block;"><img src="/assets/images/marketplace/icon_govops.jpg"  alt="GovOps Shared Services Marketplace" 
                                                                        style="width:50px; height:50px; vertical-align: middle;">&nbps;<A HREF="/marketplace/">GovOps Marketplace</A></h2><BR>
           Unlock your agency's management and operations potential through service delivery partners.
            {% include fibf/icons.html %}
        </div>
        
        <!-- <div class="grid-col-6 min">
            {% for news-posts in site.news-posts reversed limit:5 %}
            <ul style="list-style-type: none; padding-left: 0;">
                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.webp" class="news" alt="news icon">
                    <span class="date">
                        <b>{{ news-posts.source }}</b><br>
                    </span>
                    <a class="article" href="{{  news-posts.link }}" target="_blank" aria-label="Opens in new window for {{news-posts.title}}" class="ext-link" rel="external no folow">{{ news-posts.title }}</a><br>
                    <span class="date">
                        <i>{{ news-posts.date | date: '%B %d, %Y' }}</i>
                    </span>
                </li>
            </ul>
            {% endfor %}
        </div> -->

        <div class="grid-col-6 min" id="news">
            <h2 class="text-primary" >News and Updates</h2>
            {% include news/news-listing-home.html %}
            <!-- {% include news/static-news-listing-home.html %} -->
        </div>
        

        

        <!-- <div class="grid-col-6 min">
            <ul style="list-style-type: none; padding-left: 0;">
                {% for updates in site.updates reversed limit:4 %}
                <li class="margin-bottom-7"><img src="{{ site.baseurl }}/assets/images/project-icons/update.webp" class="news" alt="update icon" >
                    <span class="date">
                        <b>{{ updates.date | date: '%B %d, %Y' }}</b><br>
                    </span>
                    <a class="article" href="{{ updates.link }}" class="ext-link" rel="external no folow">{{ updates.title }}</a><br>
                </li>
                {% endfor %}
            </ul>
        </div> -->
        
    </div>
    
</section>

