<section id="NewsUpdates" class="grid-container usa-section" style="background-color:#FFFFFF;">
    
    
    <div class="grid-row">

        <div class="grid-col-6 min" id="services">
            <h2 class="text-primary">Services Catalog</h2>
            <p class="width-full maxw-mobile">Unlock your agency's potential through a network of service delivery partners.</p>
            {% include fibf/icons.html %}
        </div>
        
        <!-- <div class="grid-col-6 min">
            {% for news-posts in site.news-posts reversed limit:5 %}
            <ul style="list-style-type: none; padding-left: 0;">
                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>{{ news-posts.source }}</b><br>
                    </span>
                    <a class="article" href="{{  news-posts.link }}" target="_blank" aria-label="Opens in new window for {{news-posts.title}}" class="ext-link" rel="external no folow">{{ news-posts.title }}</a><br>
                    <span class="date">
                        <i>{{ news-posts.date | date: '%B %d, %Y' }}</i>
                    </span>
                </li>
            </ul>
            {% endfor %}
        </div> -->

        <div class="grid-col-6 min" id="news">
            <h2 class="text-primary" >News and Updates</h2>
            <ul style="list-style-type: none; padding-left: 0;">


                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Federal News Radio</b><br>
                    </span>
                    <a class="article" href="https://federalnewsnetwork.com/management/2024/04/ombs-new-guidance-rfi-boost-grant-modernization-efforts/" target="_blank" aria-label="OMB’s New Guidance, RFI Boost Grant Modernization Efforts" class="ext-link" rel="external no folow">OMB’s New Guidance, RFI Boost Grant Modernization Efforts</a><br>
                    <span class="date">
                        <i>April 5, 2024</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>FedGovToday</b><br>
                    </span>
                    <a class="article" href="https://fedgovtoday.com/podcast/enhancing-grants-management-microelectronics-innovation-tsp-biometrics-integration" target="_blank" aria-label="Enhancing Grants Management Efficiency via Shared Services at HHS" class="ext-link" rel="external no folow">Enhancing Grants Management Efficiency via Shared Services at HHS</a><br>
                    <span class="date">
                        <i>April 3, 2024</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Regulations.gov</b><br>
                    </span>
                    <a class="article" href="https://www.regulations.gov/docket/BSC-FOI-2024-0001/document" target="_blank" aria-label="FOIA Lifecycle Standards Available for Public Comment (Due by 5/17/2023)" class="ext-link" rel="external no folow">FOIA Lifecycle Standards Available for Public Comment (Due by 5/17/2023)</a><br>
                    <span class="date">
                        <i>March 18, 2024</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Cybersecurity and Infrastructure Services Agency</b><br>
                    </span>
                    <a class="article" href="https://www.cisa.gov/news-events/news/vdp-platform-2022-annual-report-showcases-platforms-success" target="_blank" aria-label="VDP Platform 2022 Annual Report Showcases Platform’s Success" class="ext-link" rel="external no folow">VDP Platform 2022 Annual Report Showcases Platform’s Success</a><br>
                    <span class="date">
                        <i>August 25, 2023</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Federal News Radio</b><br>
                    </span>
                    <a class="article" href="https://federalnewsnetwork.com/agency-oversight/2023/03/treasurys-fiscal-service-setting-pace-for-federal-financial-management-transformation/" target="_blank" aria-label="Treasury’s Fiscal Service Setting Pace for Federal Financial Management Transformation" class="ext-link" rel="external no folow">Treasury’s Fiscal Service Setting Pace for Federal Financial Management Transformation</a><br>
                    <span class="date">
                        <i>March 6, 2023</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Nextgov</b><br>
                    </span>
                    <a class="article" href="https://www.nextgov.com/modernization/2022/11/treasury-selects-commercial-vendor-financial-shared-services-market/380239/" target="_blank" aria-label="Treasury Selects Commercial Vendor for Financial Shared Services Market" class="ext-link" rel="external no folow">Treasury Selects Commercial Vendor for Financial Shared Services Market</a><br>
                    <span class="date">
                        <i>November 29, 2022</i>
                    </span>
                </li>

            </ul>
        </div>
        

        

        <!-- <div class="grid-col-6 min">
            <ul style="list-style-type: none; padding-left: 0;">
                {% for updates in site.updates reversed limit:4 %}
                <li class="margin-bottom-7"><img src="{{ site.baseurl }}/assets/images/project-icons/update.png" class="news" alt="update icon" >
                    <span class="date">
                        <b>{{ updates.date | date: '%B %d, %Y' }}</b><br>
                    </span>
                    <a class="article" href="{{ updates.link }}" class="ext-link" rel="external no folow">{{ updates.title }}</a><br>
                </li>
                {% endfor %}
            </ul>
        </div> -->
        
    </div>
    
</section>

