<section id="NewsUpdates" class="grid-container usa-section" style="background-color:#FFFFFF;">
    <h2 class="text-primary" >News and Updates</h2>
    
    <div class="grid-row">

        <div class="grid-col-6 min">
            <ul style="list-style-type: none; padding-left: 0;">

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Cybersecurity and Infrastructure Services Agency</b><br>
                    </span>
                    <a class="article" href="https://www.cisa.gov/news-events/news/vdp-platform-2022-annual-report-showcases-platforms-success" target="_blank" aria-label="VDP Platform 2022 Annual Report Showcases Platform’s Success" class="ext-link" rel="external no folow">VDP Platform 2022 Annual Report Showcases Platform’s Success</a><br>
                    <span class="date">
                        <i>August 25, 2023</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Federal News Radio</b><br>
                    </span>
                    <a class="article" href="https://federalnewsnetwork.com/agency-oversight/2023/03/treasurys-fiscal-service-setting-pace-for-federal-financial-management-transformation/" target="_blank" aria-label="Treasury’s Fiscal Service setting pace for federal financial management transformation" class="ext-link" rel="external no folow">Treasury’s Fiscal Service setting pace for federal financial management transformation</a><br>
                    <span class="date">
                        <i>March 6, 2023</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Nextgov</b><br>
                    </span>
                    <a class="article" href="https://www.nextgov.com/it-modernization/2022/11/treasury-selects-commercial-vendor-financial-shared-services-market/380252/" target="_blank" aria-label="Treasury Selects Commercial Vendor for Financial Shared Services Market" class="ext-link" rel="external no folow">Treasury Selects Commercial Vendor for Financial Shared Services Market</a><br>
                    <span class="date">
                        <i>November 29, 2022</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Federal News Network</b><br>
                    </span>
                    <a class="article" href="https://federalnewsnetwork.com/agency-oversight/2022/11/justice-department-gsa-working-on-common-standards-for-foia-tech" target="_blank" aria-label="Justice Department, GSA working on common standards for FOIA technologies" class="ext-link" rel="external no folow">Justice Department, GSA working on common standards for FOIA technologies</a><br>
                    <span class="date">
                        <i>November 8, 2022</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Department of Health and Human Services</b><br>
                    </span>
                    <a class="article" href="https://www.hhs.gov/about/news/2022/09/29/grants-quality-service-management-office-grants-qsmo-launches-marketplace.html" target="_blank" aria-label="Grants Quality Service Management Office (Grants QSMO) Launches Marketplace" class="ext-link" rel="external no folow">Grants Quality Service Management Office (Grants QSMO) Launches Marketplace</a><br>
                    <span class="date">
                        <i>September 29, 2022</i>
                    </span>
                </li>

            </ul>
        </div>
        
        <!-- <div class="grid-col-6 min">
            {% for news-posts in site.news-posts reversed limit:5 %}
            <ul style="list-style-type: none; padding-left: 0;">
                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>{{ news-posts.source }}</b><br>
                    </span>
                    <a class="article" href="{{  news-posts.link }}" target="_blank" aria-label="Opens in new window for {{news-posts.title}}" class="ext-link" rel="external no folow">{{ news-posts.title }}</a><br>
                    <span class="date">
                        <i>{{ news-posts.date | date: '%B %d, %Y' }}</i>
                    </span>
                </li>
            </ul>
            {% endfor %}
        </div> -->

        <div class="grid-col-6 min">
            <ul style="list-style-type: none; padding-left: 0;">


                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Federal News Radio</b><br>
                    </span>
                    <a class="article" href="https://www.nextgov.com/cio-briefing/2021/09/grants-management-shared-services-marketplace-set-launch-end-2021/185600/" target="_blank" aria-label="Grants Management Shared Services Marketplace Set to Launch" class="ext-link" rel="external no folow">Grants Management Shared Services Marketplace Set to Launch</a><br>
                    <span class="date">
                        <i>September 24, 2021</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Cybersecurity and Infrastructure Security Agency (CISA)</b><br>
                    </span>
                    <a class="article" href="https://www.cisa.gov/blog/2021/07/29/cisa-announces-new-vulnerability-disclosure-policy-vdp-platform" target="_blank" aria-label="CISA Announces Vulnerability Disclosure Policy Platform" class="ext-link" rel="external no folow">CISA Announces Vulnerability Disclosure Policy Platform</a><br>
                    <span class="date">
                        <i>July 29, 2021</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Federal News Radio</b><br>
                    </span>
                    <a class="article" href="https://federalnewsnetwork.com/reporters-notebook-jason-miller/2021/07/56-federal-financial-systems-nearing-end-of-life-puts-treasury-on-fast-track-to-get-shared-services-right/" target="_blank" aria-label="Interview with Matt Miller, Acting Commissioner, Bureau of the Fiscal Service: Treasury on Fast Track to Getting Shared Services Right" class="ext-link" rel="external no folow">Interview with Matt Miller, Acting Commissioner, Bureau of the Fiscal Service: Treasury on Fast Track to Getting Shared Services Right</a><br>
                    <span class="date mobile-align">
                        <i>July 27, 2021</i>
                    </span>
                </li>

                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>Center for Organizational Excellence</b><br>
                    </span>
                    <a class="article" href="https://www.youtube.com/watch?v=KDfv8Q2ODn8&t=3s" target="_blank" aria-label="Congress to Cubicle Podcast, Shared Services - Benefits & Impact featuring Earl Pinto" class="ext-link" rel="external no folow">Congress to Cubicle Podcast, Shared Services - Benefits & Impact featuring Earl Pinto</a><br>
                    <span class="date">
                        <i>June 29, 2021</i>
                    </span>
                </li>
                <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
                    <span class="date">
                        <b>IBM Center for the Business of Government</b><br>
                    </span>
                    <a class="article" href="https://www.businessofgovernment.org/blog/leading-cybersecurity-quality-services-management-office" target="_blank" aria-label="Leading the Cybersecurity QSMO, Jim Sheire Interview" class="ext-link" rel="external no folow">Leading the Cybersecurity QSMO, Jim Sheire Interview</a><br>
                    <span class="date">
                        <i>May 6, 2021</i>
                    </span>
                </li>

            </ul>
        </div>
        

        

        <!-- <div class="grid-col-6 min">
            <ul style="list-style-type: none; padding-left: 0;">
                {% for updates in site.updates reversed limit:4 %}
                <li class="margin-bottom-7"><img src="{{ site.baseurl }}/assets/images/project-icons/update.png" class="news" alt="update icon" >
                    <span class="date">
                        <b>{{ updates.date | date: '%B %d, %Y' }}</b><br>
                    </span>
                    <a class="article" href="{{ updates.link }}" class="ext-link" rel="external no folow">{{ updates.title }}</a><br>
                </li>
                {% endfor %}
            </ul>
        </div> -->
        
    </div>
    
</section>

