<div class="notifications">
    <a href="#latest-notifications" class="text-base-dark display-block margin-top-1 tablet:" id="notification-button" aria-controls="latest-notifications" data-open-modal title="View latest Shared Services Notifications">
        <svg class="usa-icon usa-icon--size-3" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#notifications"></use>
        </svg>
    </a>
    <div class="usa-modal" id="latest-notifications" aria-labelledby="modal-1-heading" aria-describedby="modal-1-description">
        <div class="usa-modal__content">
            <div class="usa-modal__main">
                <div class="usa-prose">
                    <p id="modal-1-description">
                        <div id="news-content">
                            
                        </div>
                    </p>
                </div>
            </div>
            <button type="button" class="usa-button usa-modal__close margin-top-neg-2" aria-label="Close this window" data-close-modal>
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#close"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', function() {
        let output = '';
        fetch('{{ site.baseurl }}/news-api/') 
            .then(response => response.json())
            .then(data => {
                let year = new Date().getFullYear();
                let pastmonth = (new Date().getMonth()).toString().padStart(2, '0');
                let currentmonth = (new Date().getMonth() + 1).toString().padStart(2, '0');

                // Build dates array from last 3 weeks
                let datesArray = [];
                for (let i = 0; i < 21; i++) {
                    let date = new Date(new Date().setDate(new Date().getDate() - i)).toISOString().split('T')[0];
                    datesArray.push(date);
                }

                // let filteredData = data.filter(function(item) {
                //     return item.Date.includes(year + '-' + currentmonth); 
                // });

                // Filter data by dates array
                let filteredData = data.filter(function(item) {
                    return datesArray.includes(item.Date.split('T')[0]);
                });

                if (filteredData.length === 0) {
                    output = 'No new notifications';
                } else {
                    document.getElementById('notification-button').classList.remove('text-base-dark');
                    document.getElementById('notification-button').classList.add('text-secondary-dark');
                    output += '<h1 class="font-body-lg">Latest Notifications</h1>';
                    for (const item of filteredData) {
                        output += '<p><a href="' + item.Hyperlink + '" title="' + item.Title +  '" class="display-block font-body-xs">' + item.Title + '</a>';
                        output += '<time datetime="' + new Date(item.Date).toISOString().split('T')[0] + '" class="notification-date display-block font-body-xs"><i>' + new Date(item.Date).toLocaleDateString('en-US', {timeZone: 'UTC'}) + '</i></time></p>';
                    }
                }
                output += '<p><a href="{{ site.baseurl }}/#news" class="display-inline-block font-body-xs usa-button" data-close-modal>View all notifications</a></p>';
                document.getElementById('news-content').innerHTML = output;
            
            })
            .catch(error => {
                console.error('Error:', error);
            }); 
    });
</script>
