<!--***********buttons for policy catalog page*********************************************-->

<div class="usa-width-one-fourth">

 <a class="usa-button usa-button--accent-cool margin-bottom-2" href="{{ site.baseurl }}/qsmo/#subject=*&role=*&status=*">Reset Filter</a>

 <nav id="filter" class="filters">


     <h3 class="filter-title font-sans-sm">Filter by Phase</h3>
     <ul class="filter-list" data-filter-group="role">
        <li><a aria-label="Filter by Agency: CAOC" role="checkbox" href="javascript:void(0)" data-filter=".formal">Formal Designation</a></li>
        <li><a aria-label="Filter by Agency: CFOC" role="checkbox" href="javascript:void(0)" data-filter=".pre">Assessment & Pre-designation</a></li>
        <li><a aria-label="Filter by Agency: CIOC" role="checkbox" href="javascript:void(0)" data-filter=".research">Initiation & Research</a></li>
     </ul>

     <h3 class="filter-title font-sans-sm">Filter by QSMO</h3>
     <ul class="filter-list" data-filter-group="subject">
         <li><a aria-label="Filter by Type: Individual" role="checkbox" href="javascript:void(0)" data-filter=".hr">Civilian HR Transaction Services</a></li>
         <li><a aria-label="Filter by Type: Team" role="checkbox" href="javascript:void(0)" data-filter=".finance">Financial Management</a></li>
         <li><a aria-label="Filter by Type: Team" role="checkbox" href="javascript:void(0)" data-filter=".cyber">Cybersecurity</a></li>
         <li><a aria-label="Filter by Type: Team" role="checkbox" href="javascript:void(0)" data-filter=".grants">Grants Management</a></li>
         <!--<li><a aria-label="Filter by Type: Team" role="checkbox" href="javascript:void(0)" data-filter=".acquisition">Assisted Acquisition</a></li>
         <li><a aria-label="Filter by Type: Team" role="checkbox" href="javascript:void(0)" data-filter=".contract">Contract Writing System</a></li>
         <li><a aria-label="Filter by Type: Team" role="checkbox" href="javascript:void(0)" data-filter=".cx">Customer Experience</a></li>
         <li><a aria-label="Filter by Type: Team" role="checkbox" href="javascript:void(0)" data-filter=".property">Real Property Management</a></li>
         <li><a aria-label="Filter by Type: Team" role="checkbox" href="javascript:void(0)" data-filter=".travel">Travel</a></li>
         <li><a aria-label="Filter by Type: Team" role="checkbox" href="javascript:void(0)" data-filter=".foia">FOIA</a></li>-->
     </ul>

     <!--<h3 class="filter-title font-sans-sm">Filter by Agency</h3>
     <ul class="filter-list" data-filter-group="status">
         <li><a aria-label="Filter by Award Type: Agency" role="checkbox" href="javascript:void(0)" data-filter=".gsa">GSA</a></li>
         <li><a aria-label="Filter by Award Type: Council" role="checkbox" href="javascript:void(0)" data-filter=".dhs">DHS</a></li>
         <li><a aria-label="Filter by Award Type: President's" role="checkbox" href="javascript:void(0)" data-filter=".hhs">HHS</a></li>
         <li><a aria-label="Filter by Award Type: President's" role="checkbox" href="javascript:void(0)" data-filter=".treasury">Treasury</a></li>

     </ul>-->

 </nav>
</div>
