<!--********Generates policy catalog items. Individual cards live in the in the _policies folder**************-->

<div class="usa-width-three-fourths usa-media_block ">
  <p class="filter-count qsmo-tag margin-top-0 text-gray-50"></p>
  <div class="2020-winners">

    {% for qsmos in site.qsmos %}
      <div class="usa-width-one-third winner {{ qsmos.filters }} ">
        <div class="container-GoG" tabindex="0" style="border-top: 5px solid #{{qsmos.border}};">
          <p class="qsmo-tag">{{ qsmos.phase }}</p>
          <b>{{ qsmos.name}}</b>
          <p style="font-size:11px;margin-top:3px;margin-bottom:1px"><b>QSMO Agency</b>: {{ qsmos.agency }}</p>
          <p style="font-size:11px;margin-top:2px;margin-bottom:1px;"><b>Services</b>: {{ qsmos.services }}</p>
          <p style="font-size:11px;margin-top:2px;"><b>Contact</b>: {{ qsmos.contact }}</p>
        </div>
      </div>
      {% endfor %}

  </div>
</div>
