<!--********Generates resource catalog items. **************-->
{% assign pageFilters= include.filters | split: ' ' %}
{% assign gridClass = "tablet:grid-col-9" %}

{% if pageFilters.size > 0 %}
{% assign gridClass = "tablet:grid-col-12" %}
{% endif %}

<div class="usa-media-block {{gridClass}} display-block" id="filters-data">
  <p class="filter-count itm-tag margin-top-0 text-gray-50 text-thin count"></p>
  {% assign resources = site.data.resource-data | sort: 'order'%}
  {% for i in (1..3) %}
  <div id="resources-{{ i }}" class="{% if i > 1 %}border-top-2px{% endif %} border-accent-cool-dark">
    {% assign key = 'FunctionCategory0' | append: i %}
    {% for resource in resources %}
    <div class="tablet:grid-col-4 grid-spacing policy {{ resource[key] | downcase }}">
      <div class="shadow-1 border-top-05 {{ resource.FunctionCategory01 | downcase }}-border">
        <div class="text-container">
          <span class="card-tag"><a class="text-ink text-no-underline" href="{{site.baseurl}}{{resource.Link}}">{{ resource.PartnerName }}</a></span>
          {% if resource.Services != '' %}
          <p class="title-resources"><a class="text-ink text-no-underline" href="{{site.baseurl}}{{resource.Link}}"><label class="text-ink text-bold">Services:</label> {{
            resource.Services }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
