<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->

<script src="{{ site.baseurl }}/assets/js/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/isotope.settings.js"></script>
{% if site.dap.agency %}
<script
  id="_fed_an_ua_tag"
  src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap.agency}}{% if site.dap.subagency %}&subagency={{site.dap.subagency}}{% endif %}"
></script>
{% endif %} {% if site.ga.ua %}
<!-- Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ site.ga.ua }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  /**
   * `forceSSL` was used for analytics.js (the older Google Analytics script).
   * It isn't documented for gtag.js, but the term occurs in the gtag.js code;
   * figure it doesn't hurt to leave it in. -@afeld, 5/29/19
   */
  gtag("config", "{{ site.ga.ua }}", { anonymize_ip: true, forceSSL: true });
</script>
{% endif %}

<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/slick.js?{{ site.time | date: '%s%N' }}"
></script>

<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery(".carousel").slick({
      lazyLoad: "ondemand", // ondemand progressive anticipated
      infinite: true,
      dots: true,
      arrows: false,
    });
  });
</script>

<script src="{{ site.baseurl }}/assets/js/uswds.min.js?{{ site.time | date: '%s%N' }}"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/app.js?{{ site.time | date: '%s%N' }}"></script>

<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/slick.js?1617716038051754794"
></script>
<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/magnific-popup.js?1617716038051754794"
></script>
<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/m3.js"
></script>
{% for file in page.attached %}
<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/{{ file }}.js"
></script>
{% endfor %}

<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery(".top").slick({
      lazyLoad: "ondemand", // ondemand progressive anticipated
      infinite: true,
      dots: true,
      arrows: false,
    });
    jQuery(".image-link").magnificPopup({
      type: "inline",
      midClick: true,
    });
  });
</script>

{% if page.permalink == "/marketplace/"%}
<script type="module" src="{{site.baseurl}}/assets/js/resources.js"></script>
{% endif %}

<!-- ARC -->

<script>
  const svgSize = 410;
  const center = svgSize / 2;
  const circleRadius = 175;
  const gap = 5;
  const strokeWidth = 10;

  const arcRadius = circleRadius + gap + strokeWidth / 2;
  const startAngle = 155;
  const endAngle = -49.5;

  const toRadians = (angle) => (angle * Math.PI) / 180;
  const polarToCartesian = (r, angle) => ({
    x: center + r * Math.cos(toRadians(angle)),
    y: center + r * Math.sin(toRadians(angle)),
  });

  const start = polarToCartesian(arcRadius, startAngle);
  const end = polarToCartesian(arcRadius, endAngle);
  const largeArcFlag = Math.abs(endAngle - startAngle) <= 180 ? 0 : 1;

  const arcD = `
    M ${start.x} ${start.y}
    A ${arcRadius} ${arcRadius} 0 ${largeArcFlag} 0 ${end.x} ${end.y}
  `.trim();

  document.getElementById("arcPath").setAttribute("d", arcD);
  document.getElementById("arcVisual").setAttribute("d", arcD);

  function describeArcSector(
    cx,
    cy,
    innerRadius,
    outerRadius,
    startAngle,
    endAngle
  ) {
    const startOuter = polarToCartesian(outerRadius, startAngle);
    const endOuter = polarToCartesian(outerRadius, endAngle);
    const startInner = polarToCartesian(innerRadius, endAngle);
    const endInner = polarToCartesian(innerRadius, startAngle);
    const largeArcFlag = Math.abs(endAngle - startAngle) <= 180 ? 0 : 1;

    return `
      M ${startOuter.x} ${startOuter.y}
      A ${outerRadius} ${outerRadius} 0 ${largeArcFlag} 0 ${endOuter.x} ${endOuter.y}
      L ${startInner.x} ${startInner.y}
      A ${innerRadius} ${innerRadius} 0 ${largeArcFlag} 1 ${endInner.x} ${endInner.y}
      Z
    `.trim();
  }

  const arcClickPath = describeArcSector(
    center,
    center,
    arcRadius - 30,
    arcRadius + 30,
    startAngle,
    endAngle
  );
  document.getElementById("arcClickArea").setAttribute("d", arcClickPath);

  document.getElementById("be-text").addEventListener("click", () => {
    document
      .getElementById("business_exchange")
      .scrollIntoView({ behavior: "smooth" });
  });
</script>
