{% comment %}
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml
where we provide an easy way to manage your navigation system
{% endcomment %}

<div class="sidenav-main-1">
    <a id="show-sidebar" class="usa-button usa-button--base usa-button--active" aria-label="side navigation" href="#"><i
            class="fas fa-bars"></i></a>

    <div class="sidenav-main">

        <nav id="sidebar" class="sidebar-wrapper" aria-label="Secondary navigation">
            <div class="sidebar-content">

                <div class="sidebar-brand">
                    <div id="close-sidebar" aria-label="close side navigation">
                        <button aria-label="close button" role="button"
                                class="usa-button usa-button--big usa-button--unstyled"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- <div class="sidebar-gradient" 
                    style="position: absolute; top: 0; left: 0; height: calc(100% - 1px); width: 15px; background: linear-gradient(to right, rgb(51, 118, 232), transparent); z-index: 0;">
                </div> -->
                <hr style="border: 1px solid #cecece; margin: 0; padding: 0; width: 100%;">
                <div class="sidebar-gradient" 
                     style="position: absolute; top: calc(2.5rem + 15px);
                            left: 0; height: calc(100% - 2.5rem - 1px); 
                            width: 15px; background: linear-gradient(to right, rgb(51, 118, 232), transparent); z-index: 0;">
                </div>
                <li class="usa-sidenav__item" style="padding: 8px 20px; font-weight: 550; color: #ffffff; font-size: 20px;  padding-left: 20px; background: linear-gradient(to right, rgb(51, 118, 232), transparent); background-clip: padding-box; background-size: 100% 100%; list-style-type: none;">
                    Publishing Functions
                </li>
                <div class="sidebar-menu">
                    <ul class="usa-sidenav">
                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a class="usa-nav__link{% if page.title == 'Federal Integrated Business Framework' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf/" style="outline:none">
                                <div class="image-txt-container ">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/fibf.svg" class="sidebar-logo"
                                         alt="Business Standards Home Icon"></div>
                                    <span>Business Standards Home
                            </span>
                                </div>

                            </a>
                        </li>
                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-cw' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-cw/">
                                <div class="image-txt-container bs">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/contract-writing.svg" class="sidebar-logo"
                                         alt="Contract Writing Icon"></div>
                                    <span>Contract Writing
                            </span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-dropdown usa-sidenav__item bs{% if page.permalink contains 'fibf-cyb' %} active1{% endif %}"
                            style="margin-bottom: 5px;">
                            <a href="#" style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-cyb' %} usa-current-1{% endif %}">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/cybersecurity.svg" class="sidebar-logo"
                                         alt="Cybersecurity Icon"></div>
                                    <span>Cybersecurity</span>
                                </div>
                            </a>
                            <div class="sidebar-submenu{% if page.permalink contains 'fibf-cyb' %} active1{% endif %}"
                                 style="background-color:#1b355c;">
                                <ul class="dropdown-menu usa-sidenav__sublist">
                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.title == 'Coordinated Vulnerability Disclosure' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-cyb-cvd/">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/cvd-black-icon.webp"
                                                     class="sidebar-logo" alt="Coordinated Vulnerability Disclosure Icon"></div>
                                                <span>Coordinated Vulnerability Disclosure
                            </span>
                                            </div>

                                        </a>

                                    </li>
                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.title == 'Security Operations Center' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-cyb-soc/">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/soc-black-icon.webp"
                                                     class="sidebar-logo" alt="Security Operations Center Icon"></div>
                                                <span>Security Operations Center
                            </span>
                                            </div>

                                        </a>

                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.title == 'Electronic Records Management' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-ERM/">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/electronic-records-management.svg" class="sidebar-logo"
                                         alt="Electronic Records Management Icon"></div>
                                    <span>Electronic Records Management</span>
                                </div>
                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a class="usa-nav__link{% if page.title == 'Financial Management' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-fm/" style="outline:none">
                                <div class="image-txt-container ">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/core-financial.svg" class="sidebar-logo"
                                         alt="Financial Management Icon"></div>
                                    <span>Financial Management
                            </span>
                                </div>

                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.title == 'Grants Management' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-gm/">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/grants-management.svg" class="sidebar-logo"
                                         alt="Grants Management Icon"></div>
                                    <span>Grants Management
                            </span>
                                </div>
                            </a>
                        </li>

                        <li class="sidebar-dropdown usa-sidenav__item bs{% if page.title contains 'Human Capital Management' %} active1{% endif %}"
                            style="margin-bottom: 5px;">
                            <a href="{{site.baseurl}}/fibf-hr-hcm/" style="outline:none" aria-label="Human Capital Management Dropdown"
                               class="usa-nav__link{% if page.title contains 'Human Capital Management' %} usa-current-1{% endif %}">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/hrm-icon.png" class="sidebar-logo"
                                         alt="Human Capital Management Icon"></div>
                                    <span>Human Capital Management
                            </span>
                                </div>

                            </a>
                            <div class="sidebar-submenu{% if page.title contains 'Human Capital Management' %} active1{% endif %}"
                                 style="background-color:#1b355c;">
                                <ul class="dropdown-menu usa-sidenav__sublist">
                                    <!-- <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-hcm' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-hcm/" style="outline:none"  aria-label="Human Capital Management Landing Page">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/hrm-icon.webp"
                                                     class="sidebar-logo" alt="Human Capital Management Icon"></div>
                                              <span>Human Capital Management</span>
                                            </div>
                                        </a>
                                    </li> -->
                                    <li class="sidebar-separator usa-nav__link padding-x-2 padding-y-1 text-center bg-base-lightest text-black">
                                        <span>Enabling</span>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-hcs' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-hcs/" style="outline:none">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/chess.webp" class="sidebar-logo"
                                                     alt="Human Capital Strategy, Policies, & Operation Plan Icon"></div>
                                                <span>Human Capital Strategy, Policies, & Operation Plan</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-hce' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-hce/" style="outline:none">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/magnifying-glass-chart.webp" class="sidebar-logo"
                                                     alt="Human Capital Evaluations Icon"></div>
                                                <span>Human Capital Evaluations</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="sidebar-separator usa-nav__link padding-x-2 padding-y-1 text-center bg-base-lightest text-black">
                                        <span>Employee Lifecycle</span>
                                    </li>
                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-ac' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-ac/" style="outline:none">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/talent-acq-icon.webp"
                                                     class="sidebar-logo" alt="Talent Acquisition Icon"></div>
                                                <span>Talent Acquisition</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.permalink contains 'fibf-hr-td' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-td/">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/talent-dev-icon.webp"
                                                     class="sidebar-logo" alt="Talent Development Icon"></div>
                                                <span>Talent Development</span>
                                            </div>

                                        </a>
                                    </li>

                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.permalink contains 'fibf-hr-epm' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-epm/">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/EPM-icon.webp"
                                                     class="sidebar-logo" alt="Employee Performance Management Icon"></div>
                                                <span>Employee Performance</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.permalink contains 'fibf-hr-cb' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-cb/">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/compensation-ben-icon.webp"
                                                     class="sidebar-logo" alt="Compensation and Benefits Icon"></div>
                                                <span>Compensation and Benefits</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.permalink contains 'fibf-hr-sep-ret' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-sep-ret/">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/separation-retirement-icon.webp"
                                                     class="sidebar-logo" alt="Separation and Retirement Icon"></div>
                                                <span>Separation and Retirement</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="sidebar-separator usa-nav__link padding-x-2 padding-y-1 text-center bg-base-lightest text-black">
                                        <span>Supporting</span>
                                    </li>
                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-ea' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-ea/" style="outline:none">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/accountability.webp" class="sidebar-logo"
                                                     alt="Employee Accountability Icon"></div>
                                                <span>Employee Accountability</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-lr' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-lr/" style="outline:none">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/handshake.webp" class="sidebar-logo"
                                                     alt="Labor Relations Icon"></div>
                                                <span>Labor Relations</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-hca' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-hca/" style="outline:none">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/clipboard-user.webp" class="sidebar-logo"
                                                     alt="Human Capital Analytics & Employee Records Icon"></div>
                                                <span>Human Capital Analytics & Employee Records</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="sidebar-separator usa-nav__link padding-x-2 padding-y-1 text-center bg-base-lightest text-black">
                                        <span>Personnel Action Request (PAR) Processing</span>
                                    </li>
                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-par' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-par/" style="outline:none">
                                            <div class="image-txt-container">
                                                <div class="img-wrap"><img src="../assets/images/chalkboard-user.webp" class="sidebar-logo"
                                                     alt="Personnel Action Request (PAR) Processing Icon"></div>
                                                <span>Personnel Action Request (PAR) Processing</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </li>

                        

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-RPM' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-RPM/">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/real-estate.svg"
                                         class="sidebar-logo" alt="Real Estate Icon"></div>
                                    <span>Real Property Management</span>
                                </div>
                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-travel' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-travel/">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/plane.svg" class="sidebar-logo"
                                         alt="Plane Icon"></div>
                                    <span>Travel and Expense Management</span>
                                </div>
                            </a>
                        </li>
                        <!-- <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-travel' %} usa-current-1{% endif %}"
                               >
                                <div class="image-txt-container">
                                    <div class="img-wrap"></div>
                                    <span>Initiating:</span>
                                </div>
                            </a>
                        </li> -->
                        <hr style="border: 1px solid #cecece; margin: 0; padding: 0; width: 100%;">
                        <li class="usa-sidenav__item" style="padding: 8px 20px; font-weight: 550; color: #ffffff; font-size: 20px;  padding-left: 20px; background: linear-gradient(to right, rgb(51, 118, 232), transparent); background-clip: padding-box; background-size: 100% 100%;">
                            Initiating Functions
                        </li>
                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.title == 'Federal Sector Equal Employment Opportunity Services' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-eeo/">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/equals.svg" class="sidebar-logo"
                                         alt="Federal Sector Equal Employment Opportunity Services Icon"></div>
                                    <span>Federal Sector Equal Employment Opportunity Services</span>
                                </div>
                            </a>
                        </li>
                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-foia' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-foia/">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/foia.svg" class="sidebar-logo"
                                         alt="Freedom of Information Act (FOIA) Services Icon"></div>
                                    <span>Freedom of Information Act (FOIA) Services</span>
                                </div>
                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-its' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-its/">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/it.svg" class="sidebar-logo"
                                         alt="Information Technology Services Icon"></div>
                                    <span>Information Technology Services</span>
                                </div>
                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-mom' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-mom/">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/mail.svg" class="sidebar-logo"
                                         alt="mail icon white"></div>
                                    <span>Mail Operations Management</span>
                                </div>
                            </a>
                        </li>
                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-rm' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-rm/">
                                <div class="image-txt-container">
                                    <div class="img-wrap"><img src="../assets/images/fibf/icons/regulation.svg" class="sidebar-logo"
                                         alt="Regulation Icon"></div>
                                    <span>Regulation Management</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>


</div>
