{% comment %}
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml
where we provide an easy way to manage your navigation system
{% endcomment %}

<div class="sidenav-main-1">
    <a id="show-sidebar" class="usa-button usa-button--base usa-button--active" aria-label="side navigation" href="#"><i
            class="fas fa-bars"></i></a>

    <div class="sidenav-main">

        <nav id="sidebar" class="sidebar-wrapper" aria-label="Secondary navigation">
            <div class="sidebar-content">

                <div class="sidebar-brand">
                    <div id="close-sidebar" aria-label="close side navigation">
                        <button aria-label="close button" role="button"
                                class="usa-button usa-button--big usa-button--unstyled"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="usa-sidenav">
                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px; margin-top: 31px;">
                            <a class="usa-nav__link{% if page.title == 'Federal Integrated Business Framework' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf/" style="outline:none">
                                <div class="image-txt-container ">
                                    <img src="../assets/images/fibf-home.png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/fibf-home-icon-update.png"
                                        class="img-top sidebar-logo" alt="">
                                    <span>Business Standards Home
                            </span>
                                </div>

                            </a>
                        </li>
                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-cw' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-cw/">
                                <div class="image-txt-container bs">
                                    <img src="../assets/images/proc-icon.png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/icon.procurement 2.png"
                                          class="img-top sidebar-logo" alt="">
                                    <span>Contract Writing
                            </span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-dropdown usa-sidenav__item bs{% if page.permalink contains 'fibf-cyb' %} active1{% endif %}"
                            style="margin-bottom: 5px;">
                            <a href="#" style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-cyb' %} usa-current-1{% endif %}">
                                <div class="image-txt-container">
                                    <img src="../assets/images/cyb-white.png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/cyb-black.png"
                                         class="img-top sidebar-logo" alt="">
                                    <span> Cybersecurity</span>
                                </div>
                            </a>
                            <div class="sidebar-submenu{% if page.permalink contains 'fibf-cyb' %} active1{% endif %}"
                                 style="background-color:#1b355c;">
                                <ul class="dropdown-menu usa-sidenav__sublist">
                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.title == 'Coordinated Vulnerability Disclosure' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-cyb-cvd/">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/cvd-black-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Coordinated Vulnerability Disclosure
                            </span>
                                            </div>

                                        </a>

                                    </li>
                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.title == 'Security Operations Center' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-cyb-soc/">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/soc-black-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Security Operations Center
                            </span>
                                            </div>

                                        </a>

                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.title == 'Electronic Records Management' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-ERM/">
                                <div class="image-txt-container">
                                    <img src="../assets/images/ERMicon (1).png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/ERMicon.png"
                                         class="img-top sidebar-logo" alt="">
                                    <span>Electronic Records Management</span>
                                </div>
                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.title == 'Federal Sector Equal Employment Opportunity Services' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-eeo/">
                                <div class="image-txt-container">
                                    <img src="../assets/images/equals-white.png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/equals-blue.png"
                                         class="img-top sidebar-logo" alt="">
                                    <span>Federal Sector Equal Employment Opportunity Services</span>
                                </div>
                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a class="usa-nav__link{% if page.title == 'Financial Management' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-fm/" style="outline:none">
                                <div class="image-txt-container ">
                                    <img src="../assets/images/fm-icon.png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/icon.fm 2.png"
                                         class="img-top sidebar-logo" alt="">
                                    <span>Financial Management
                            </span>
                                </div>

                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-foia' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-foia/">
                                <div class="image-txt-container">
                                    <img src="../assets/images/search_icon_white.png" class="sidebar-logo"
                                         alt="search icon white">
                                    <img src="../assets/images/search_icon_black.png"
                                         class="img-top sidebar-logo" alt="search icon black">
                                    <span>Freedom of Information Act (FOIA) Services</span>
                                </div>
                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.title == 'Grants Management' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-gm/">
                                <div class="image-txt-container">
                                    <img src="../assets/images/grants-icon.png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/grants2.png"
                                         class="img-top sidebar-logo" alt="">
                                    <span>Grants Management
                            </span>
                                </div>
                            </a>
                        </li>

                        <li class="sidebar-dropdown usa-sidenav__item bs{% if page.title contains 'Human Capital Management' %} active1{% endif %}"
                            style="margin-bottom: 5px;">
                            <a href="#" style="outline:none" aria-label="Human Capital Management Dropdown"
                               class="usa-nav__link{% if page.title contains 'Human Capital Management' %} usa-current-1{% endif %}">
                                <div class="image-txt-container">
                                    <img src="../assets/images/hrm-icon.png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/icon.hr 2.png"
                                         class="img-top sidebar-logo" alt="">
                                    <span>Human Capital Management</span>
                                </div>

                            </a>
                            <div class="sidebar-submenu{% if page.title contains 'Human Capital Management' %} active1{% endif %}"
                                 style="background-color:#1b355c;">
                                <ul class="dropdown-menu usa-sidenav__sublist">
                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-hcm' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-hcm/" style="outline:none"  aria-label="Human Capital Management Landing Page">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/icon.hr 2.png"
                                                     class="sidebar-logo" alt="">
                                              <span>Human Capital Management</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-hcs' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-hcs/" style="outline:none">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/talent-acq-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Human Capital Strategy, Policies, & Operation Plan</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-hce' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-hce/" style="outline:none">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/talent-acq-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Human Capital Evaluations</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-ac' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-ac/" style="outline:none">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/talent-acq-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Talent Acquisition</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.permalink contains 'fibf-hr-td' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-td/">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/talent-dev-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Talent Development</span>
                                            </div>

                                        </a>
                                    </li>

                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.permalink contains 'fibf-hr-epm' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-epm/">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/EPM-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Employee Performance Management</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.permalink contains 'fibf-hr-cb' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-cb/">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/compensation-ben-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Compensation and Benefits</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a style="outline:none"
                                           class="usa-nav__link{% if page.permalink contains 'fibf-hr-sep-ret' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-sep-ret/">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/separation-retirement-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Separation and Retirement</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-ea' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-ea/" style="outline:none">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/talent-acq-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Employee Accountability</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-lr' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-lr/" style="outline:none">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/talent-acq-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Labor Relations</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-hca' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-hca/" style="outline:none">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/talent-acq-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Human Capital Analytics & Employee Records</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="usa-nav__link{% if page.permalink contains 'fibf-hr-par' %} usa-current-1{% endif %}"
                                           href="{{site.baseurl}}/fibf-hr-par/" style="outline:none">
                                            <div class="image-txt-container">
                                                <img src="../assets/images/talent-acq-icon.png"
                                                     class="sidebar-logo" alt="">
                                                <span>Personnel Action Request (PAR) Processing</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-its' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-its/">
                                <div class="image-txt-container">
                                    <img src="../assets/images/it-icon-bg-white.png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/it-icon-bg-black.png"
                                         class="img-top sidebar-logo" alt="">
                                    <span>Information Technology Services</span>
                                </div>
                            </a>
                        </li>


                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-mom' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-mom/">
                                <div class="image-txt-container">
                                    <img src="../assets/images/mail_icon_white.png" class="sidebar-logo"
                                         alt="mail icon white">
                                    <img src="../assets/images/mail_icon_black.png"
                                         class="img-top sidebar-logo" alt="mail icon black">
                                    <span>Mail Operations Management</span>
                                </div>
                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-RPM' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-RPM/">
                                <div class="image-txt-container">
                                    <img src="../assets/images/real-Property-icon_1.png"
                                         class="sidebar-logo" alt="">
                                    <img src="../assets/images/real-Property-icon.png"
                                          class="img-top sidebar-logo" alt="">
                                    <span>Real Property Management</span>
                                </div>
                            </a>
                        </li>
                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-rm' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-rm/">
                                <div class="image-txt-container">
                                    <img src="../assets/images/rg-icon.png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/rg.png"
                                         class="img-top sidebar-logo" alt="">
                                    <span>Regulation Management</span>
                                </div>
                            </a>
                        </li>

                        <li class="usa-sidenav__item bs" style="margin-bottom: 5px;">
                            <a style="outline:none"
                               class="usa-nav__link{% if page.permalink contains 'fibf-travel' %} usa-current-1{% endif %}"
                               href="{{site.baseurl}}/fibf-travel/">
                                <div class="image-txt-container">
                                    <img src="../assets/images/travel-icon.png" class="sidebar-logo"
                                         alt="">
                                    <img src="../assets/images/IMG_0331.png"
                                         class="img-top sidebar-logo" alt="">
                                    <span>Travel and Expense Management</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>


</div>
