
{
"Capability ID": "ERM.010.010.010",
"Function": "Records Capture",
"Activity Name": "Records Creation",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "A digital object is created",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.2 Creating records"
},
{
"Capability ID": "ERM.010.020.010",
"Function": "Records Capture",
"Activity Name": "Records Validation",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Determine whether a digital object meets the criteria for a record",
"Authoritative Reference": "44 USC 3301"
},
{
"Capability ID": "ERM.010.020.020",
"Function": "Records Capture",
"Activity Name": "Records Validation",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Capture electronic messages sent or received from personal accounts within 20 days",
"Authoritative Reference": "44 USC 2911"
},
{
"Capability ID": "ERM.010.020.030",
"Function": "Records Capture",
"Activity Name": "Records Validation",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Determine if the record can be placed under records management control",
"Authoritative Reference": "ISO 15489-1:2016, Section 5.3 Records systems"
},
{
"Capability ID": "ERM.010.020.040",
"Function": "Records Capture",
"Activity Name": "Records Validation",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Verify the records possesses the characteristics of a record: reliability, authenticity, integrity, and usability",
"Authoritative Reference": "36 CFR 1236.10"
},
{
"Capability ID": "ERM.010.030.010",
"Function": "Records Capture",
"Activity Name": "Records Retention",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Analyze records to determine retention period based on business value and legal obligations",
"Authoritative Reference": "36 CFR 1225.12 (d)"
},
{
"Capability ID": "ERM.010.030.020",
"Function": "Records Capture",
"Activity Name": "Records Retention",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Determine which records schedule applies to the group of records",
"Authoritative Reference": "36 CFR 1236.20 (b)(3)"
},
{
"Capability ID": "ERM.010.030.030",
"Function": "Records Capture",
"Activity Name": "Records Retention",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Obtain approval of retention period for group of records",
"Authoritative Reference": "36 CFR 1225.12 (g)"
},
{
"Capability ID": "ERM.020.010.010",
"Function": "Records Maintenance & Use",
"Activity Name": "Access Level Management",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Determine appropriate access levels for a record",
"Authoritative Reference": "ISO 15489-1:2016, Section 8.4 Access and permission rules"
},
{
"Capability ID": "ERM.020.010.020",
"Function": "Records Maintenance & Use",
"Activity Name": "Access Level Management",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "Assign appropriate access level for a record",
"Authoritative Reference": "ISO 15489-1:2016, Section 8.4 Access and permission rules"
},
{
"Capability ID": "ERM.020.020.010",
"Function": "Records Maintenance & Use",
"Activity Name": "Records Maintenance",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Manage the metadata of a record throughout the lifecycle",
"Authoritative Reference": "ISO 15489-1:2016, Section 5.2.3 Metadata for records"
},
{
"Capability ID": "ERM.020.020.020",
"Function": "Records Maintenance & Use",
"Activity Name": "Records Maintenance",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Ensure audit trail of a record is available to see what changes have been made to the content, metadata, or access level of a record and by whom",
"Authoritative Reference": "36 CFR 1236.10 (c)"
},
{
"Capability ID": "ERM.020.030.010",
"Function": "Records Maintenance & Use",
"Activity Name": "Litigation Hold",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Agency receives litigation hold",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.9 Disposition"
},
{
"Capability ID": "ERM.020.030.020",
"Function": "Records Maintenance & Use",
"Activity Name": "Litigation Hold",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Scope of litigation hold is determined by General Counsel and Records Officer",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.9 Disposition"
},
{
"Capability ID": "ERM.020.030.030",
"Function": "Records Maintenance & Use",
"Activity Name": "Litigation Hold",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Place hold on records identified by scope determination",
"Authoritative Reference": "36 CFR 1236.20 (b)(7)"
},
{
"Capability ID": "ERM.020.030.040",
"Function": "Records Maintenance & Use",
"Activity Name": "Litigation Hold",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "Agency has applied litigation hold to all identified records",
"Authoritative Reference": "36 CFR 1236.20 (b)(7)"
},
{
"Capability ID": "ERM.020.030.050",
"Function": "Records Maintenance & Use",
"Activity Name": "Litigation Hold",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Lift hold on records identified by scope determination",
"Authoritative Reference": "36 CFR 1236.20 (b)(7)"
},
{
"Capability ID": "ERM.020.040.010",
"Function": "Records Maintenance & Use",
"Activity Name": "Information Request",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Agency receives information request",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.9 Disposition"
},
{
"Capability ID": "ERM.020.040.020",
"Function": "Records Maintenance & Use",
"Activity Name": "Information Request",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "The scope of the information request is determined by the Records Officer and General Counsel",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.9 Disposition"
},
{
"Capability ID": "ERM.020.040.030",
"Function": "Records Maintenance & Use",
"Activity Name": "Information Request",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Identify records and respond to satisfy an information request",
"Authoritative Reference": "ISO 15489-1:2016, Section 8.5 Disposition authorities"
},
{
"Capability ID": "ERM.020.040.040",
"Function": "Records Maintenance & Use",
"Activity Name": "Information Request",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "Identified records are made available to satisfy the information request",
"Authoritative Reference": "36 CFR 1236.20 (b)(5)"
},
{
"Capability ID": "ERM.020.050.010",
"Function": "Records Maintenance & Use",
"Activity Name": "Records Migration",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Identify records to migrate to new records system before the current system is retired",
"Authoritative Reference": "36 CFR 1236.14 (a)"
},
{
"Capability ID": "ERM.020.050.020",
"Function": "Records Maintenance & Use",
"Activity Name": "Records Migration",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Export records from legacy system for migration",
"Authoritative Reference": "36 CFR 1236.14 (b)(2)"
},
{
"Capability ID": "ERM.020.050.030",
"Function": "Records Maintenance & Use",
"Activity Name": "Records Migration",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Convert records into acceptable formats to protect from technological obsolescence",
"Authoritative Reference": "36 CFR 1236.14 (b)(3)"
},
{
"Capability ID": "ERM.020.050.040",
"Function": "Records Maintenance & Use",
"Activity Name": "Records Migration",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "Converted records can be imported into agency systems",
"Authoritative Reference": "NARA Bulletin 2010-05: Cloud Computing"
},
{
"Capability ID": "ERM.030.010.010",
"Function": "Records Disposal",
"Activity Name": "Records Disposal Eligibility",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Records have met their retention period",
"Authoritative Reference": "36 CFR 1226.10"
},
{
"Capability ID": "ERM.030.010.020",
"Function": "Records Disposal",
"Activity Name": "Records Disposal Eligibility",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Records have no further business value",
"Authoritative Reference": "36 CFR 1225.18 (d)(3)"
},
{
"Capability ID": "ERM.030.010.030",
"Function": "Records Disposal",
"Activity Name": "Records Disposal Eligibility",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Records are not part of a litigation hold or information request",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.9 Disposition"
},
{
"Capability ID": "ERM.030.020.010",
"Function": "Records Disposal",
"Activity Name": "Records Disposal Approval",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Notify business owners of eligible records for disposal",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.9 Disposition"
},
{
"Capability ID": "ERM.030.020.020",
"Function": "Records Disposal",
"Activity Name": "Records Disposal Approval",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "The disposal of eligible records is approved by records stakeholders",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.9 Disposition"
},
{
"Capability ID": "ERM.030.030.010",
"Function": "Records Disposal",
"Activity Name": "Records Disposal Action",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Dispose of approved records from agency systems",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.9 Disposition"
},
{
"Capability ID": "ERM.030.030.020",
"Function": "Records Disposal",
"Activity Name": "Records Disposal Action",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "Report created of records disposed of from agency systems",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.9 Disposition"
},
{
"Capability ID": "ERM.030.040.010",
"Function": "Records Disposal",
"Activity Name": "Temporary Records Retention Period Change",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Agency is notified that temporary records approved for disposal are part of an order, law, or business justification to change the retention period",
"Authoritative Reference": "36 CFR 1226.18"
},
{
"Capability ID": "ERM.030.040.020",
"Function": "Records Disposal",
"Activity Name": "Temporary Records Retention Period Change",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Extend the retention period of temporary records approved for disposal to accommodate an order, law, or business justification",
"Authoritative Reference": "36 CFR 1226.18"
},
{
"Capability ID": "ERM.030.040.030",
"Function": "Records Disposal",
"Activity Name": "Temporary Records Retention Period Change",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "The special circumstances surrounding changing the retention period of the temporary records are no longer applicable",
"Authoritative Reference": "36 CFR 1226.18"
},
{
"Capability ID": "ERM.030.040.040",
"Function": "Records Disposal",
"Activity Name": "Temporary Records Retention Period Change",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "The temporary records whose retention period was changed are disposed of in accordance with the records schedule",
"Authoritative Reference": "36 CFR 1226.18"
},
{
"Capability ID": "ERM.040.010.010",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Eligibility",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Permanent records have met their retention period",
"Authoritative Reference": "NARA Bulletin 2015-01: Age of Records"
},
{
"Capability ID": "ERM.040.010.020",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Eligibility",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Permanent records are not part of a litigation hold or information request",
"Authoritative Reference": "36 CFR 1235.14"
},
{
"Capability ID": "ERM.040.010.030",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Eligibility",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Approve transfer of permanent records to NARA",
"Authoritative Reference": "36 CFR 1235.10"
},
{
"Capability ID": "ERM.040.020.010",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Action",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Permanent records are in acceptable file formats to be transferred to NARA",
"Authoritative Reference": "NARA Bulletin 2014-04, Appendix A: Table of File Formats"
},
{
"Capability ID": "ERM.040.020.020",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Action",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "Sensitive permanent records have passwords and other encryption disabled prior to transfer to NARA",
"Authoritative Reference": "NARA Bulletin 2014-04: Format Guidance"
},
{
"Capability ID": "ERM.040.020.030",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Action",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "Permanent records are exported from agency systems to NARA",
"Authoritative Reference": "36 CFR 1235.10"
},
{
"Capability ID": "ERM.040.020.040",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Action",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Prepare records for transfer to NARA",
"Authoritative Reference": "36 CFR 1235.48; NARA Bulletin 2015-04: Metadata Guidance for the Transfer of Permanent Electronic Records"
},
{
"Capability ID": "ERM.040.020.050",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Action",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "Permanent records are transferred to NARA for permanent storage",
"Authoritative Reference": "36 CFR 1235.18"
},
{
"Capability ID": "ERM.040.030.010",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Completion",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Agency is notified that NARA has received permanent records",
"Authoritative Reference": "NARA Bulletin 2014-04: Format Guidance"
},
{
"Capability ID": "ERM.040.030.020",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Completion",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Transfer legal custody of records from agency to NARA",
"Authoritative Reference": "36 CFR 1235.22"
},
{
"Capability ID": "ERM.040.030.030",
"Function": "Records Transfer",
"Activity Name": "Records Transfer Completion",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "Agency destroys permanent records from their agency systems",
"Authoritative Reference": "ISO 15489-1:2016, Section 9.8 Migrating and converting records"
},
{
"Capability ID": "ERM.040.040.010",
"Function": "Records Transfer",
"Activity Name": "Permanent Records Retention Period Extension",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "Agency is notified that permanent records approved for transfer are part of an order, law, or business justification to extend the retention period",
"Authoritative Reference": "36 CFR 1235.14(b)"
},
{
"Capability ID": "ERM.040.040.020",
"Function": "Records Transfer",
"Activity Name": "Permanent Records Retention Period Extension",
"(I)nput, (P)rocess, (O)utput": "P",
"Business Capability Statement": "Extend the time frame for which an agency retains legal custody of permanent records to accommodate an order, law, or business justification",
"Authoritative Reference": "36 CFR 1235.14(b)"
},
{
"Capability ID": "ERM.040.040.030",
"Function": "Records Transfer",
"Activity Name": "Permanent Records Retention Period Extension",
"(I)nput, (P)rocess, (O)utput": "I",
"Business Capability Statement": "The special circumstances surrounding extending the time frame for which an agency retains legal custody of permanent records are no longer applicable",
"Authoritative Reference": "36 CFR 1235.14(b)"
},
{
"Capability ID": "ERM.040.040.040",
"Function": "Records Transfer",
"Activity Name": "Permanent Records Retention Period Extension",
"(I)nput, (P)rocess, (O)utput": "O",
"Business Capability Statement": "The permanent records whose legal custody was retained by the agency are transferred to NARA in accordance with the records schedule",
"Authoritative Reference": "36 CFR 1235.12(a)"
}
