.usa-banner-header .usa-banner-inner > img {
  padding-top: 3px;
}

.banner.tagline {
  background-color: $banner-background-color;
}
.banner.tagline .usa-grid {
  padding: 3rem;
}
.banner.tagline p {
  color: $banner-text-color;
  margin-bottom: 75px;
  max-width: 80%;
}
.banner.tagline h2 {
  color: $banner-text-color;
  margin-top: 75px;
}

.banner.contact {
  background-color: $banner-background-color;
}
.banner.contact form {
  padding-top: 2em;
}
.banner.contact h2,
.banner.contact p,
.banner.contact legend,
.banner.contact label,
.banner.contact a,
.banner.contact a:hover,
.banner.contact a:visited {
  color: $banner-text-color;
}

.banner .usa-button,
.banner .usa-button-primary,
.banner .usa-button:visited,
.banner .usa-button-primary:visited,
.banner button,
.banner [type="button"],
.banner [type="submit"],
.banner [type="reset"] {
  background-color: $banner-button-color;
  color: $banner-button-text-color;
}

.usa-alert {
  background-color: #f1f1f1;
  background-position: 1rem 2rem;
  background-repeat: no-repeat;
  background-size: 4rem;
  margin-top: 1.5em;
  padding: 1em;
}

@media screen and (min-width: 600px) {
  .usa-alert {
    background-size: 5.2rem;
  }
}

.usa-alert ul {
  margin-bottom: 0;
  margin-top: 1em;
}

.usa-alert-icon {
  display: table-cell;
  padding-right: 1rem;
}

.usa-alert-body {
  display: table-cell;
  padding-left: 3.5rem;
  vertical-align: top;
}

@media screen and (min-width: 600px) {
  .usa-alert-body {
    padding-left: 5rem;
  }
}

.usa-alert-body p:first-child {
  margin-top: 0.8rem;
}

.usa-alert-heading {
  margin-bottom: .3rem;
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  .usa-alert-heading {
    margin-top: .3rem;
  }
}

.usa-alert-text {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

.usa-alert-success {
  background-color: #e7f4e4;
  background-image: url("../assets/img/alerts/success.png");
  background-image: url("../img/alerts/success.svg");
}

.usa-alert-warning {
  background-color: #fff1d2;
  background-image: url("../assets/img/alerts/warning.png");
  background-image: url("../assets/img/alerts/warning.svg");
}

.usa-alert-error {
  background-color: #f9dede;
  background-image: url("../assets/assets/img/alerts/error.png");
  background-image: url("../assets/img/alerts/error.svg");
}

.usa-alert-info {
  background-color: #e7f4e4;
  //background-image: url("../assets/img/alerts/info.png");
  //background-image: url("../assets/img/alerts/info.svg");
}

.usa-alert-no_icon {
  background-image: none;
}
