.fibf-section {
    p, ol, li {
        color: white;
    }

    .fibf-components {
        display: flex;
    }

    .fibf-wheel {
        width: 38%;
        margin-right: 5%;
        margin-left: -10%;
    }
}