

.border {
  border-right: 2px solid black;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .border {
      border-bottom: 2px solid #112e51;
      border-right: 0px;

  }
}

.border-left-white {
  border-left: 1px solid #112e51;
  text-align: center;

}

@media only screen and (max-width: 600px) {
  .border-left-white {
      border-left: none;

  }
}

.border-left-black {
  border-left: 1px solid #112e51;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .border-left-black {
      border-left: none;

  }
}

.border-padding {
  margin-left: 30px;
}

.border-padding p {
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 600px) {
  .border-padding {
      margin-left: 0px;
      border-bottom: 1px dotted black;
      border-left: none;
      padding-top:10px;

  }
}

.border-last {
  text-align: center;
}

.arrow {
  margin:0 auto;
  margin-top: 41px;
  width: 30px;
  height: 30px;
  background-image: url("https://www.usssm.gov/assets/img/project-icons/arrow-down.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #205493;
  color: white;
}

/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  font-size:50px;
  color: white;
  content: '\00AB'

}
