<ol class="m3-process-list usa-process-list" >
  {% for item in activitiesGroup %}
  {% if item.responsibleParty.first and item.responsibleParty.size > 1 %}
    {% assign responsibleParty = "shared" %}
  {% else %}
    {% assign responsibleParty = item.responsibleParty %}
  {% endif %}
  <li class='usa-process-list__item' data-number='{{ forloop.index }}' data-label='{{responsibleParty}} {% if responsibleParty == "shared" -%}{{item.responsibleParty | join: " " }}{%- endif -%}'>
    <div class="m3-taskActivity">
      <div class="keyTask-responsibleParty">
          {{responsibleParty | capitalize}}
          <svg class="usa-icon color-{{ responsibleParty }}" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="{{site.baseurl}}/assets/images/m3/spritesheet.svg#{% include m3/categoryTag.html category = responsibleParty %}"></use>
          </svg>
      </div>

      <p class="usa-process-list__heading font-sans-md line-height-sans-1 keyTask-name">{{ item.text }}</p>

      <div class="keyTask-details">

        {% if item.output %}
          <div class="keytask-output">
            <div class="keytask-output-label">Targeted Output:</div>
            <div class="keytask-output-name">{{item.output}}</div>
            <div class="keytask-output-icons">
              {% if item.template %}
                <a href="{{item.template}}">
                  <svg class="usa-icon usa-tooltip" data-position="top" title="Download Output Template Document" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{{site.baseurl}}/assets/images/m3/spritesheet.svg#file_download"></use>
                  </svg>
                </a>
              {% endif %}
              {% if item.example %}
                <a href="{{item.example}}">
                  <svg class="usa-icon usa-tooltip" data-position="top" title="Download Output Example Document"  aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{{site.baseurl}}/assets/images/m3/spritesheet.svg#launch"></use>
                  </svg>
                </a>
              {% endif %}
            </div>
          </div>
        {% endif %}

        {% if responsibleParty == "shared" and item.responsibleParty != "shared" %}
        <div class="parties">
          {% for party in item.responsibleParty %}
            <div class="party">
              <svg class="usa-icon color-{{ party }}" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{site.baseurl}}/assets/images/m3/spritesheet.svg#{% include m3/categoryTag.html category = party %}"></use>
              </svg>
              {{ party }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      
    </div>
  </li>

  {% endfor %}
</ol>