

<ul class="m3-keyTask-group">
  {% for item in list %}
    {% if item.responsibleParty.first and item.responsibleParty.size > 1 %}
      {% assign responsibleParty = "shared" %}
    {% else %}
      {% assign responsibleParty = item.responsibleParty %}
    {% endif %}
    <li class="m3-keyTask overlayLinkContainer" data-label='{{responsibleParty}} {% if responsibleParty == "shared" -%}{{item.responsibleParty | join: " " }}{%- endif -%}'>

      <div class="keyTask-id">{{ page.phase }}.{{item.keyTask}}</div>

      <a href="{{site.baseurl}}{{item.url}}" class="keyTask-name overlayLink">
        {{ item.name }}
      </a>
      
      <div class="keyTask-responsibleParty">
        <svg class="usa-icon color-{{ responsibleParty }}" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="{{site.baseurl}}/assets/images/m3/spritesheet.svg#{% include m3/categoryTag.html category = responsibleParty %}"></use>
        </svg>
        {{responsibleParty}}
      </div>
<div class="button-container">
      <a href="{{site.baseurl}}{{item.url}}" class="usa-button usa-button--outline" aria-label="View details of {{item.name }}">
        Detail View
      </a>
      
      <a href="#modal-{{ page.phase }}-{{item.keyTask}}" aria-controls="modal-{{ page.phase }}-{{item.keyTask}}" data-open-modal class="usa-button usa-button--outline" aria-label="Quick view of {{item.name }}">
        Quick View
      </a>
 </div>
    </li>
  {% endfor %}
</ul>

{% for item in list %}
  {% assign workstream = "" %}
  {%- case item.category -%}
    {%- when "programManagement" -%}
      {% assign workstream = "Program Management" %}
    {%- when "workforce" -%}
      {% assign workstream = "Workforce, Organization, and Stakeholders" %}
    {%- when "technology" -%}
      {% assign workstream = "Technology" %}
    {%- when "process" -%}
      {% assign workstream = "Process and Service Delivery" %}
  {%- endcase -%}
  {% assign party = "" %}
  {%- case item.responsibleParty -%}
    {%- when "provider" -%}
      {% assign party = "Provider" %}
    {%- when "customer" -%}
      {% assign party = "Customer" %}
    {%- when "shared" -%}
      {% assign party = "Shared" %}
    {%- when "qsmo" -%}
      {% assign party = "QSMO" %}
  {%- endcase -%}

  {% if item.responsibleParty.first and item.responsibleParty.size > 1 %}
    {% assign responsibleParty = "shared" %}
  {% else %}
    {% assign responsibleParty = item.responsibleParty %}
  {% endif %}
    
  <div class="usa-modal m3-modal" id="modal-{{ page.phase }}-{{item.keyTask}}" aria-labelledby="modal-{{ page.phase }}-{{item.keyTask}}-keytask" aria-describedby="modal-{{ page.phase }}-{{item.keyTask}}-keytaskname">
    <div class="usa-modal__content">
      <section class="usa-modal__main">
        <button class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal="">
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="{{site.baseurl}}/assets/images/m3/spritesheet.svg#close"></use>
          </svg>
        </button>

        <section class="m3-modal-header bg-{{item.category}}">
            <svg aria-hidden="true" focusable="false" role="img">
              <use xlink:href="{{site.baseurl}}/assets/images/m3/icon-{{item.category}}.svg#icon-{{item.category}}"></use>
            </svg>
          <div id="modal-{{ page.phase }}-{{item.keyTask}}-keytask" class="keyTask-id" aria-label="Key Task {{ page.phase }}.{{item.keyTask}}">{{ page.phase }}.{{item.keyTask}}</div>
          <h2 id="modal-{{ page.phase }}-{{item.keyTask}}-keytaskname">{{ item.name }}</h2>
        </section>

 <section class="borderBottom">
<h3>Objective</h3>
    {{ item.objective }}     
        </section>

 <section class="borderBottom">
        
          <h3>Responsible Party</h3>
          <svg class="usa-icon color-{{ responsibleParty }}" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="{{site.baseurl}}/assets/images/m3/spritesheet.svg#{% include m3/categoryTag.html category = responsibleParty %}"></use>
          </svg>
          {{responsibleParty}}
          {% if responsibleParty == "shared" and item.responsibleParty != "shared" %}
            {% for party in item.responsibleParty %}
                <svg class="usa-icon color-{{ party }}" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="{{site.baseurl}}/assets/images/m3/spritesheet.svg#{% include m3/categoryTag.html category = party %}"></use>
                </svg>
                {{ party }}
            {% endfor %}
          {% endif %}
        </section>

        <section class="borderBottom">
          <h3>Inputs</h3>
          <ul>
          {% for input in item.inputs %}
            <li>
              {% if input.filename %}
                <a href="{{site.baseurl}}/assets/files/{{input.filename}}">{{ input.text }}</a>
              {% elsif input.url %}
                <a href="{{ input.url }}">{{ input.text }}</a>
              {% else %}
                {{ input }}
              {% endif %}
            </li>
            
          {% endfor %}
          </ul>
        </section>

        <section>
          <h3>Outputs</h3>
          <ul>
          {% for output in item.outputs %}
            <li>
              {% if output.filename %}
                <a href="{{site.baseurl}}/assets/files/{{output.filename}}">{{ output.text }}</a>
              {% elsif output.url %}
                <a href="{{ output.url }}">{{ output.text }}</a>
              {% else %}
                {{ output }}
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        </section>

        <section class="textAlignCenter">
          <a href="{{site.baseurl}}{{item.url}}" class="usa-button" aria-label="View details of {{item.name }}">
            View Details
          </a>
        </section>

    </div>
  </div>
{% endfor %}
