{
"FFM Use Case Library Overview": "/assets/files/FMCF-2_FFM Business Use Cases Overview_v2.0.pdf",
"FFM Use Cases 010 Budget Formulation-to-Execution 2018": "/assets/files/FMCF-2_FFM Business Use Cases 010 Budget Formulation-to-Execution_v2.0.pdf",
"FFM Use Cases 020 Acquire-to-Dispose 2018": "/assets/files/FMCF-2_FFM Business Use Cases 020 Budget Formulation-to-Execution_v2.0.pdf",
"FFM Use Cases 030 Request-to-Procure 2018": "/assets/files/FMCF-2_FFM Business Use Cases 030 Budget Formulation-to-Execution_v2.0.pdf",
"FFM Use Cases 040 Procure-to-Pay 2018": "/assets/files/FMCF-2_FFM Business Use Cases 040 Budget Formulation-to-Execution_v2.0.pdf",
"FFM Use Cases 050 Bill-to-Collect 2018": "/assets/files/FMCF-2_FFM Business Use Cases 050 Budget Formulation-to-Execution_v2.0.pdf",
"FFM Use Cases 060 Record-to-Report 2020": "/assets/files/FMCF-2_FFM Business Use Cases 060 Budget Formulation-to-Execution_v2.0.pdf",
"FFM Use Cases 070 Agree-to-Reimburse 2018": "/assets/files/FMCF-2_FFM Business Use Cases 070 Budget Formulation-to-Execution_v2.0.pdf",
"FFM Use Cases 080 Apply-to-Perform 2018": "/assets/files/FMCF-2_FFM Business Use Cases 080 Budget Formulation-to-Execution_v2.0.pdf",
"FFM Use Cases 090 Hire-to-Retire 2018": "/assets/files/FMCF-2_FFM Business Use Cases 090 Budget Formulation-to-Execution_v2.0.pdf",
"FFM Use Cases 100 Book-to-Reimburse 2018": "/assets/files/FMCF-2_FFM Business Use Cases 100 Budget Formulation-to-Execution_v2.0.pdf",
"FFM Use Cases 110 Apply-to-Repay 2018": "/assets/files/FMCF-2_FFM Business Use Cases 110 Budget Formulation-to-Execution_v2.0.pdf"
}