<table id="hr-employee-accountability-capabilities" class="display responsive" style="width: 100%;" data-page-length="15" aria-label="HR Management Services - Employee Accountability Business Capabilities">
    <thead>
        <tr>
            <th scope="col">Capability ID</th>
            <th scope="col">Function</th>
            <th scope="col">Activity Name</th>
            <th scope="col">
                Input/
                Output/
                Process
            </th>
            <th scope="col">Business Capability Statement</th>
            <th scope="col">Authoritative Reference</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
