<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="hr-employee-lifecycle" class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">HCM.A7-1 Employee Accountability for Conduct and Performance</button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="hcm-A7-1" aria-label="HCM.A7-1 Employee Accountability for Conduct and Performance">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2">HCM.A7-2 Administrative Grievances and Third-Party Proceedings</button>
        <div id="b-a2" class="usa-accordion__content usa-prose">
            <table id="hcm-A7-2" aria-label="HCM.A7-2 Administrative Grievances and Third-Party Proceedings">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>
</div>
