<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="travel-lifecycle" class="usa-accordion usa-accordion--bordered" data-allow-multiple>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1"> TRT.010 Travel and Expense Management </button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="trt-010" aria-label="TRT.010 Travel and Expense Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
