.hr-management-services {
  display: none;
}

#hr-management-services-main {
  background-color: white;
  border: 2px solid #0071bc;
  border-radius: 5px;
  padding: 5px 10px;
  color: #0071bc;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.hrms-arrow {
  border: solid #0071bc;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 7px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 3px;
}