
$color-customer: #1C76F0;
$color-provider: #D366D3;
$color-shared: #EF5C4B;
$color-qsmo: #819D00;
$color-programManagement: #6030A3;
$color-workforce: #0070CF;
$color-technology: #0099C8;
$color-process: #00A297;
$color-text: #202030;
$color-m3-primary: #0b0083;
$color-m3-background: #f8f8f8;

$m3-content-max-width: 92rem;

