



// [href$=".pdf"]::after {
//   content: '  (PDF)';
//   color: red;
// }
// [href$=".docx"]::after {
//   content: '  (DOCX)';
//   color: blue;
// }
// [href$=".pptx"]::after {
//   content: '  (PPTX)';
//   color: orange;
// }
// [href$=".xlsx"]::after {
//   content: '  (XLSX)';
//   color: green;
// }
// [href$=".pdf"]::after, [href$=".docx"]::after, [href$=".pptx"]::after, [href$=".xlsx"]::after {
//   content: ' ';
//   background-image: url(../img/spritesheet.svg#file_download;);
// }

.m3-content{
  .usa-nav__inner, .grid-container {
    max-width: $m3-content-max-width;
  }
  .usa-section.m3-section{
    padding-top: 1em;
  }
  .m3-nav.is-visible{
    display: none;
  }
  .usa-nav__primary > .usa-nav__primary-item > a, .usa-nav__primary button{
    font-weight: normal;
  }
  .usa-nav__primary-item{
    &.active {
    background-color: initial;
    }

    button {
      font-weight: bold;
    }

    h2{
      color: white;
      display: inline-block;
      padding: 0;
    }

    h3{
      color: white;
    }
  }
}

// @media screen and (min-width: 640px) {
//   .tablet\:width-1\/3 {
//     width: 33%;
//   }
//   .tablet\:float-left {
//     float: left;
//   }
// }

// @media screen and (min-width: 640px) {
//   .paginate-link {
//     display: initial;
//   }
//   .paginate-button {
//     display: none;
//   }
// }

// @media screen and (max-width: 640px) {
//   .paginate-link {
//     display: none;
//   }
//   .paginate-button {
//     display: block;
//   }
// }
