

#esgms-header {
  .column-left {
    background-color: rgba(251, 253, 255, 1);
    border: none;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 35%);
    padding: 2em;
    h2 {
      color: black;
      margin-top: 0;
    }
  }
  .column-right  {
    .legend {
      border: 2px solid #BCBCBC;
      border-radius: 5px;
      padding: 1em;
      line-height: normal;
      h2 {
        color: black;
        font-size: 1.25em;
      }
      ul {
        padding-inline-start: 0;
        list-style-type: none;
        li {
          position: relative;
          padding: 1em 0;
          border-bottom: 1px solid #9F9F9F;
          &:last-child {
            border-bottom: none;
          }
          .check {
            padding: 2em 3em;
          }
          img {
            position: absolute;
            left: 0;
            max-height: 16px;
            top: calc(50% - 8px);
          }
          span {
            margin-left: 7em;
            display: inline-block;
          }
        }
      }
    }
  }
}

.validated  {
  color: #008a00;
  font-size: 0.75em;
  padding-left: 20px;
  position: relative;
  font-weight: bold;
  margin-top:20px;
  &:before {
    content: ' ';
    text-indent: -999em;
    background-image: asset_url('check-icon.svg');
    background-size: cover;
    height: 19px;
    width: 19px;
    display: block;
    position: absolute;
    left: 0;
  }
}

.element-hidden {
  visibility: hidden;
}

.login_gov {
  height: 14px;
  width: 100px;
  margin: 0.5em 0;
}

.agency-logo {
  max-height: 2em;
  vertical-align: middle;
  margin: 0 0.5em 4px 0.5em;
}

.check {
  background-color: #ECFEEC;
  background-image: asset_url('x-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2em 2em;
}

.esgms-table-wrapper  {
  table {
    border-collapse: collapse;
    font-size: 0.9em;
  }
  thead {
    position: sticky;
    inset-block-start: 0;
    border: 1px solid black;
    z-index: 1;
    tr {
      height: 1px; /** hack **/
      border-bottom: 1px solid #000;
      th {
        height: inherit;
        border: 1px solid black;
        text-align: left;
        &.populated {
          background-color: #EFF9FF;
          padding: 1em 2em;
          width: 17%;
          vertical-align: top;
          .table-header-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            .title {
              margin-bottom: 1em;
              text-align: center;
              span { 
                vertical-align: top;
              }
            }
            .desc {
              font-size: 0.9em;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  tbody tr {
    td {
      height: 7em;
      border: 1px solid /*#DEDEDE;*/ black;
      text-align: center;
      padding: 1em;
      position: relative;
      word-break: break-word;
      .validated {
        margin: 0 auto;
      }
      &:first-child {
        background-color: #F7F7F7;
        color: #333333;
        font-weight: 700;
        a {
          font-weight: normal;
        }
      }
      &:only-child {
        background-color: #ABABAB;
        height: auto;
        padding: 0.5em;
        text-align: center;
        font-size: 1.2em;
        font-weight: normal;
      }
      .desc {
        white-space: nowrap;
      }
    }
  }
}
.usa-modal{
  border-radius: 0;
  border-left:10px solid #005ea2;
  .usa-modal__content{
    padding-top: 1rem;
    padding-bottom: 1rem;
    .usa-modal__main{
      padding:0;
      .usa-prose, .usa-modal__footer{
        padding: 0 2em;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}