
/*
OverlayLink is a way of making a clickable card with other links inside of it
all links inside overlayLinkContainer 
https://codepen.io/pwkip/pen/oGMZjb
*/
.overlayLinkContainer {
  position:relative;
}
.overlayLinkContainer a {
  z-index: 1;
}
.overlayLinkContainer .overlayLink::before {
  content: "";
  position:absolute;
  left:0; top:0; bottom:0; right:0;
}