/*
  Customize US Web Design System SASS
  See all at designsystem.digital.gov/documentation/settings
*/

// Example - Override the background image in the hero component using SASS:
// $theme-hero-image: asset_path("whatever-the-default-is.png");





@import "uswds";

@import "m3-variables";
@import "m3";
@import "m3-utilities";
@import "m3-phase";
@import "m3-keyTask";
@import "m3-homepage";
@import "business-standards";

@import "marketplace";

/* Example - Override the background image in the hero component using CSS:
//.usa-hero {
//  background-image: asset_url("your-image.png")
//  background-position: 50%;
//  background-size: cover;
//}

/*
  Add your SASS/CSS here
*/
/* default mode hide banner */
.usa-banner__content {
  display: hidden;
}

.usa-sidenav a:not(.usa-button):not(.usa-current) {
  color: #050608;
  ;
}

.usa-sidenav a:hover {
  color: #050608 !important;
}

.usa-sidenav a:focus {
  color: #050608 !important;
}


.usa-sidenav .usa-current-1 {
  color: #050608 !important;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }

  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }

  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }

  .paginate-button {
    display: block;
  }

  .usa-footer__secondary-section .flex-justify-end {
    justify-content: flex-start;
  }

}

@media(max-width: 63.99em) {
  .usa-logo img {
    height: 64px !important;
  }
}

#search_form.usa-search {
  margin-bottom: 2.5%;
}

#about-this-site,
#a-resource-about-privacy-for-federal-government-agencies {
  color: #162e51;
}

.subsubnav {
  font-weight: bold;
  margin-left: 0.75em;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .ck {
    display: none
  }

}

.usa-sidenav a:not(.usa-button):not(.usa-current-1) {
  color: #ffffff;
}


// -webkit-masks because USWDS autoprefixer is not working
.usa-alert--info:before {
  -webkit-mask: url(../img/usa-icons/info.svg) no-repeat center/2rem 2rem;
}

.usa-banner__header-action::after {
  -webkit-mask: url(../img/usa-icons/expand_more.svg) no-repeat center/1rem 1rem;
}

@media (min-width: 40em) {
  .usa-banner__button::after {
    -webkit-mask: url(../img/usa-icons/expand_more.svg) no-repeat center/1rem 1rem;
  }

  .usa-banner__button[aria-expanded="true"]::after {
    -webkit-mask: url(../img/usa-icons/expand_less.svg) no-repeat center/1rem 1rem;
  }
}

@media (max-width: 39.99em) {
  .usa-banner__button[aria-expanded="true"]::after {
    -webkit-mask: url(../img/usa-icons/close.svg) no-repeat center/1.5rem 1.5rem;
  }
}

.usa-table thead th,
.usa-prose>table thead th {
  background-clip: unset;
}

.usa-table-container--scrollable td,
.usa-prose>.usa-table-container--scrollable td {
  white-space: unset;
}


.code1 {
  background-color: #ADADAD;
}

.code2 {
  background-color: #8f76c1;
}

.code3 {
  background-color: #00bde3;
}

.code3a {
  background-color: #a4c2f4;
}

.code4 {
  background-color: #61900e;
}