/****************************styling for resource catalog******************************/
.no-style {
    text-decoration: none;
    color: black;
  }
  .anchor-fill{
    width: inherit;
    display: block;
    height: 70%;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  
  .grid-spacing {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 10px 0px 0px;
  
  }
  
  .filters ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .filters li {
    margin: 0 2px 2px 0;
  }
  
  .big {
    font-size: 20px;
  }
  
  .filters a {
    display: block;
    padding: .5em 1em;
    font-size: 80%;
    border: solid 1px hsl(0, 0%, 50%);
    color: #333;
    text-decoration: none;
    background: white;
  }
  
  .text-container {
    height: 10rem;
    overflow:hidden;
  }
  
  .filters a:hover {
    outline: 2px solid hsl(0, 0%, 50%);
  }
  
  a.checked {
    background: #595959;
    color: white;
  }
  
  .fibf-fm-border {
    border-top: solid 4px #000BA5;
  }
  
  .fibf-gm-border {
    border-top: solid 4px #2A4B45;
  }
    
  .fibf-cyb-border {
    border-top: solid 4px #AC0606;
  }
  
  .fibf-hr-border {
    border-top: solid 4px #A3007A;
  }
  
  .fibf-pc-border{
    border-top: solid 4px #000000;
  }

  .fibf-flt-border {
    border-top: solid 4px #854200;
  }

  .fibf-erm-border {
    border-top: solid 4px #6B6B6B;
  }
  
  .title-resources {
    font-size: 14.2px;
    line-height: 20px;
    font-weight: 500; 
    margin-left: 2px;
  }
  
  //star icon for new resources
  .new-resource-icon {
    position:absolute; 
    top: 7px; 
    right: 12px; 
    max-width: 15%;
  }

  h21{
    color: #2A4B45;
  }

  .shadow-1 {
    padding: 15px;
  }

  .buttonsRow{
    width: 100%;
    margin: 0;
    padding: 0;
}

.button-wrapper{
    display: block;
    margin: 0;
    padding: 5px 0;
    width: 100%;
}
.full-width{
  width: 100%;
}

.itm-tag {
  font-size: .9rem;
  margin-top: .2em;
  margin-bottom: .15em;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #323a45;
}

.fa-external-link-alt{
  font-size: 10px;
  color: #3ea0db;
}

.filter-list {
    a {
        &.is-checked {
            background: #595959;
            color: white;
        }
    }
}

.color-white{
    color:white;
}

.heading {
    background-image: url('../assets/images/homepage-update-image-2.png');
    background-repeat: no-repeat;
}



@media screen and (min-width: 64em) {
.usa-header--basic .usa-navbar {
    width: 27% !important;
}
}

.card-tag {
    font-size: .9rem;
    margin-top: .2em;
    margin-bottom: .15em;
    margin-left: 0.3rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #323a45;
    line-height: 1.15;
}

.image { 
   height:100px;
   border-radius:50%;
}
