#ogp-usa-card__container {

  text-decoration: unset;

  .usa-card__container {
    border-color: white;
  }

  .usa-card__img {
    border-radius: calc(0.5rem - 2px);
  }

  ;

  .hvr-sink:hover,
  .hvr-sink:focus,
  .hvr-sink:active {
    transform: translateY(-8px);
  }

}

#main-content__tag-line.bg-gradient{
    background: linear-gradient(52deg, #102A4A 50%, #205493 100%);
    h1{
      color: white !important;
    }
}

.circle {
  height: 350px;
  width: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  z-index: 2;
  box-shadow: 5px 5px 10px 0px #d2d3d5;
  margin: 0
}

.circle__usage {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 130px;
  width: 130px;
  transform: translate(-50%, -50%);
  background-color: #112e51;
  color: #fff;
  z-index: 3;
  border-radius: 100%;
  text-align: center
}

.circle__usage strong,
.circle__usage h2 {
  position: absolute;
  width: 100%;
  left: 0
}

.circle__usage strong {
  top: 33%
}

.circle__usage h2 {
  transform: scale(1.75);
  top: 20%;
  color: #fff
}

.circle .slice {
  height: 175px;
  width: 173px;
  border-left: 2px solid #d2d3d5;
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: bottom left;
  overflow: hidden;
  z-index: 2;
  background-color: transparent;
  color: #FFf;
  transition: color
}

.circle .slice:after {
  content: "";
  background-color: #96999B;
  position: absolute;
  height: 175px;
  width: 175px;
  transform-origin: bottom left;
  transform: rotate(342deg);
  transition: background 0.2s
}

.circle .slice.is-active {
  color: #ffffff
}

.circle .slice.is-active:after {
  background-color: #2380c4
}

.circle .slice:first-child {
  border-left-width: 3px
}

.circle .slice .label {
  position: absolute;
  z-index: 3;
  height: 100%;
  transform: translateX(-50%) rotate(33deg) translateY(17%);
  transform-origin: bottom center;
}

.circle .slice .label:before {
  content: attr(data-label);
  position: absolute;
  z-index: 10;
  font-weight: bold
}

.circle .slice:nth-child(1) {
  transform: rotate(-37deg);
  transition-delay: 0.6s;
}

.circle .slice:nth-child(1):after {
  transition-delay: 0.6s
}

.circle .slice:nth-child(1).is-active {
  transition-delay: 0s
}

.circle .slice:nth-child(1).is-active:after {
  transition-delay: 0s
}

.circle .slice:nth-child(1) .label:before,
.circle .slice:nth-child(1) .label:after {
  transform: translateX(-38%) rotate(2deg);
}

.circle .slice:nth-child(2) {
  transform: rotate(36deg);
  transition-delay: 0.4s;
}

.circle .slice:nth-child(2):after {
  transition-delay: 0.4s
}

.circle .slice:nth-child(2).is-active {
  transition-delay: 0.2s
}

.circle .slice:nth-child(2).is-active:after {
  transition-delay: 0.2s
}

.circle .slice:nth-child(2) .label:before,
.circle .slice:nth-child(2) .label:after {
  transform: translateX(-50%) rotate(-71deg);
}

.circle .slice:nth-child(3) {
  transform: rotate(108deg);
  transition-delay: 0.2s;
}

.circle .slice:nth-child(3):after {
  transition-delay: 0.2s
}

.circle .slice:nth-child(3).is-active {
  transition-delay: 0.4s
}

.circle .slice:nth-child(3).is-active:after {
  transition-delay: 0.4s
}

.circle .slice:nth-child(3) .label:before,
.circle .slice:nth-child(3) .label:after {
  transform: translateX(-50%) rotate(-143deg);
}

.circle .slice:nth-child(4) {
  transform: rotate(179deg);
  transition-delay: 0s;
}

.circle .slice:nth-child(4):after {
  transition-delay: 0s
}

.circle .slice:nth-child(4).is-active {
  transition-delay: 0.6s
}

.circle .slice:nth-child(4).is-active:after {
  transition-delay: 0.6s
}

.circle .slice:nth-child(4) .label:before,
.circle .slice:nth-child(4) .label:after {
  transform: translateX(-47%) rotate(-214deg);
}

.circle .slice:nth-child(5) {
  transform: rotate(251deg);
  transition-delay: -0.2s;
}

.circle .slice:nth-child(5):after {
  transition-delay: -0.2s
}

.circle .slice:nth-child(5).is-active {
  transition-delay: 0.8s
}

.circle .slice:nth-child(5).is-active:after {
  transition-delay: 0.8s
}

.circle .slice:nth-child(5) .label:before,
.circle .slice:nth-child(5) .label:after {
  transform: translateX(-50%) rotate(-285deg);
}

span[role="link"] {
  color: blue;
  text-decoration: underline;
  cursor: pointer
}

span[role="link"]:focus {
  outline: 1px dotted black
}

.slice a {
  color: #fff
}

.slice a:focus,
.slice a:hover {
  color: #0b4778
}

.slice a:focus {
  outline: 1px solid #0b4778;
  border: 1px solid #0b4778
}

#rcorners2 {
  border-radius: 15px 50px;
  border: 2px solid #205493;
  padding: 0 20px 20px 20px
}

.usa-accordion li {
  margin-bottom: 0.5em
}

#table_id_filter [type="search"] {
  float: none
}

.fibf-wheel-image {
  width: 220px
}

.usa-table thead th,
.usa-prose>table thead th,
.usa-table thead td,
.usa-prose>table thead td {
  background-color: #112e51;
  color: white;
  padding: 10px 20px;
}

@media screen and (min-width: 1110px) {
  .fibf-video {
    width: 22rem;
    height: 12rem;
  }
}

.usa-accordion__content.usa-prose {
  margin: 0;
  padding: 1rem;
}

.bt-hover:hover {
  color: black;
}

@media (min-width: 64em) {
  .desktop\:margin-top1 {
    margin-top: 9.5rem;
  }
}

@media screen and (max-width: 1314px) {
  .bs-icons {
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: 3rem;
  }
}

.dashboard-title {
  color: black;
  text-decoration: none;
}

.usa-preamble-h4 {
  margin: 0;
}

.usa-nav-container-wide,
.usa-footer-wide {
  max-width: 92rem !important;
}

.usa-banner__inner div {
  margin-bottom: 0 !important;
}

.ussm-description-text {
  border-top: 1px solid #efefef;
  margin-top: 30px;
  padding-top: 30px;
}

.ussm-description-header {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}