{% comment %}
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml
where we provide an easy way to manage your navigation system
{% endcomment %}

<div class="members">
    <h2 class="text-center font-merriweather font-body-xl text-light">Member Councils</h2>
    {% assign grouped_members = site.pages | where_exp: "item" , "item.path contains 'members'" | group_by: 'logo' %}
    {% assign members_sorted = grouped_members | sort: "name" %}
    <div class="grid-container">
        <div class="grid-row flex-wrap flex-justify-center">
            {% for group in members_sorted %} 
                <div class="council tablet:grid-col-6 text-center margin-top-5">
                    {% assign logo = group.name | split: "| " %}
                    <a href="{{ logo[1] }}" target="_blank" class="display-flex flex-column flex-justify flex-align-center">
                        <img class="width-card height-15" style="object-fit: contain;" src="{{site.baseurl}}/assets/images/governance/logos/{{ logo[0] }}" alt="Logo">
                    </a>
                    <div class="grid-row flex-wrap flex-justify-center">
                        {% for item in group.items %}
                        <a class="tablet:grid-col-6 text-no-underline margin-top-2" href="{{site.baseurl}}{{ item.url }}" title="{{ item.title }}">
                            <div class="inner height-full">
                                <img style="width: 181px; height: 181px; object-fit: cover; border-radius: 50%; border: 7px solid #D5ECEE;" src="{{site.baseurl}}/assets/images/governance/council/{{item.portrait}}" alt="{{ item.name }} Portrait">
                                <h3 class="text-center margin-0 padding-top-1">{{ item.name }}</h3>
                                <p class="text-primary text-center margin-0">{{ item.department }}</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>