<style>
.sapoc-listing img {
  width: 60px;
  height: 60px;
  object-fit: contain;
} 
</style>

<div class="sapoc-listing">
  <div class="grid-container">

    <div class="grid-row flex-align-start padding-y-2 border-bottom-1px" style="min-height: 80px;">

        <div class="grid-col-2" style="text-align: center;">
    
        </div>
    
         <div class="grid-col-5">
             <p class="font-body-md text-bold margin-0">Senior Management Official</p>
         </div>
        
         <div class="grid-col-5">
             <p class="font-body-md text-bold margin-0">Senior Accountable Point of Contact</p>
        </div>
  </div>
    
    {% for each_agency in site.data.seniormgmt.agencies %}
    <div class="grid-row flex-align-start padding-y-2 border-bottom-1px" style="min-height: 80px;" id="{{ each_agency.agency }}">

      <!-- Column 1: Logo -->
      <div class="grid-col-2" style="text-align: center;"><center>
        {% if each_agency.logo %}
          <img 
            src="{{ site.baseurl }}/assets/images/governance/sopac-logos/{{ each_agency.logo }}" 
            alt="{{ each_agency.title }} Logo"
            width="35" height="35"
            style="object-fit: contain; display: block;">
        {% else %}
          <span class="font-body-sm text-italic">TBD</span>
        {% endif %}
 <p class="text-base font-body-sm margin-0 grey-30"><i style="text-align: center;">{{ each_agency.agency }}</i></p>
        </center>
      </div>

      <!-- Column 2: ASM -->
      <div class="grid-col-5">
        {% if each_agency.asm %}
          <p class="font-body-md text-bold margin-0">
            {{ each_agency.asm }}
          </p>
          <p class="font-body-xs margin-0" style="font-size: 0.7100rem;">
            {{ each_agency.asmtitle }}
          </p>
        {% else %}
          <p class="font-body-md text-italic margin-0">TBD</p>
        {% endif %}
      </div>

      <!-- Column 3: SAPOC -->
      <div class="grid-col-5">
        {% if each_agency.sapoc %}
          <p class="font-body-md text-bold margin-0">
            {{ each_agency.sapoc }}
          </p>
          <p class="font-body-xs margin-0" style="font-size: 0.7100rem;">
            {{ each_agency.title }}
          </p>
        {% else %}
          <p class="font-body-md text-italic margin-0">TBD</p>
        {% endif %}
      </div>

    </div>
    {% endfor %}

  </div>
</div>
