<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="cyb-soc-lifecycle" class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">CYB.010  IDENTIFY - Asset Management</button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="cyb-010" aria-label="CYB.010  IDENTIFY - Asset Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2">CYB.020  IDENTIFY - Risk Management</button>
        <div id="b-a2" class="usa-accordion__content usa-prose">
            <table id="cyb-020" aria-label="CYB.020  IDENTIFY - Risk Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>  
      <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3">CYB.030  IDENTIFY - Governance</button>
        <div id="b-a3" class="usa-accordion__content usa-prose">
            <table id="cyb-030" aria-label="CYB.030  IDENTIFY - Governance">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
       </div>
       <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4">CYB.040 PROTECT - Protective Technology</button>
        <div id="b-a4" class="usa-accordion__content usa-prose">
            <table id="cyb-040" aria-label="CYB.040 PROTECT - Protective Technology">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
       </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a5">CYB.050  PROTECT - Awareness and Training</button>
        <div id="b-a5" class="usa-accordion__content usa-prose">
            <table id="cyb-050" aria-label="CYB.050  PROTECT - Awareness and Training">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a6">CYB.060  PROTECT - Information Protection Policy</button>
        <div id="b-a6" class="usa-accordion__content usa-prose">
            <table id="cyb-060" aria-label="CYB.060  PROTECT - Information Protection Policy">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a7">CYB.070 PROTECT - Business Continuity Management</button>
        <div id="b-a7" class="usa-accordion__content usa-prose">
            <table id="cyb-070" aria-label="CYB.070 PROTECT - Business Continuity Management">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a8">CYB.080 PROTECT - Data Security</button>
        <div id="b-a8" class="usa-accordion__content usa-prose">
            <table id="cyb-080" aria-label="CYB.080 PROTECT - Data Security">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a9">CYB.090 DETECT - Continuous Monitoring</button>
        <div id="b-a9" class="usa-accordion__content usa-prose">
            <table id="cyb-090" aria-label="CYB.090 DETECT - Continuous Monitoring">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a10">CYB.100  RESPOND - Incident Management</button>
        <div id="b-a10" class="usa-accordion__content usa-prose">
            <table id="cyb-100" aria-label="CYB.100  RESPOND - Incident Management">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
