<table id="hr-retirement-capabilities" class="display responsive" style="width: 100%;" data-page-length="15" aria-label="HR Management Services - Separation and Retirement Business Capabilities">
    <thead>
        <tr>
            <th scope="col">Capability ID</th>
            <th scope="col">Function</th>
            <th scope="col">Activity Name</th>
            <th scope="col">Input/Output/Process</th>
            <th scope="col">Business Capability Statement</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
