---
title: "Glossary"
layout: m3/m3-layout-sidenav
---
<div class="usa-prose margin-x-auto">
<h1>{{page.title}}</h1>
{% for section in page.sections %}
  <section>
    <h2 id="{{section.name | remove: " "}}" class="border-bottom border-base-lighter">{{section.name}}</h2>
    {% if section.description %}
      <p>{{section.description}}</p>
    {% endif %}
    <dl>
      <div class="grid-row grid-gap">
      {% for term in section.terms %}
        <div class="tablet:grid-col-6 padding-bottom-3">
          <dt class="text-bold">{{ term.name }}</dt>
          <dd class="margin-0">{{ term.description }}</dd>
        </div>
      {% endfor %}
      </div>
    </dl>
  </section>
{% endfor %}
</div>
