---
layout: m3/m3-layout
---

<div class="usa-section m3-section m3-glossary-section">
  <div class="m3-breadcrumbs">
    <div class="grid-container">
      <div class="desktop:grid-col-12">
        <a href="{{'/m3/introduction' | relative_url}}">M3 Playbook</a> > <a href="{{'/m3/introduction' | relative_url}}">Resources</a> > Glossary
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-row grid-gap space-between">
      <div class="desktop:grid-col-3">
        {% if page.menulinks.size > 0 %}
          <div id="m3-glossary-menu">
            <h3 class="m3-glossary-title m3-glossary-h3 no-space">Jump To:</h3>
            <ul>
              {% for item in page.menulinks %}
                <li><a href="{{ item.link }}">{{ item.text }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      <div class="desktop:grid-col-9">
        <div id="m3-glossary-glossary">
          <h1 class="m3-glossary-title m3-glossary-h1">Glossary</h1>
        </div>
        <div id="m3-glossary-stakeholders">
          <h2 class="m3-glossary-title m3-glossary-h2 m3-h2-top">Stakeholders</h2>
          <div class="grid-row grid-gap space-between">
            <div class="desktop:grid-col-6">
              {% if page.stakeholders1.size > 0 %}
                {% for item in page.stakeholders1 %}
                  <h4 class="m3-glossary-h4">{{ item.title }}</h4>
                  <p class="no-space">{{ item.text }}</p>
                {% endfor %}
              {% endif %}
            </div>
            <div class="desktop:grid-col-6">
              {% if page.stakeholders2.size > 0 %}
                {% for item in page.stakeholders2 %}
                  <h4 class="m3-glossary-h4">{{ item.title }}</h4>
                  <p class="no-space">{{ item.text }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div id="m3-glossary-abbreviations">
          <h2 class="m3-glossary-title m3-glossary-h2">Abbreviations</h2>
          <div class="grid-row grid-gap space-between">
            <div class="desktop:grid-col-6">
              {% if page.abbreviations1.size > 0 %}
                {% for item in page.abbreviations1 %}
                  <h4 class="m3-glossary-h4">{{ item.abbreviation }}</h4>
                  <p class="no-space">{{ item.title }}</p>
                {% endfor %}
              {% endif %}
            </div>
            <div class="desktop:grid-col-6">
              {% if page.abbreviations2.size > 0 %}
                {% for item in page.abbreviations2 %}
                  <h4 class="m3-glossary-h4">{{ item.abbreviation }}</h4>
                  <p class="no-space">{{ item.title }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div id="m3-glossary-general">
          <h2 class="m3-glossary-title m3-glossary-h2">General</h2>
          <div class="grid-row grid-gap space-between">
            <div class="desktop:grid-col-6">
              {% if page.general1.size > 0 %}
                {% for item in page.general1 %}
                  <h4 class="m3-glossary-h4">{{ item.title }}</h4>
                  <p class="no-space">{{ item.text }}</p>
                {% endfor %}
              {% endif %}
            </div>
            <div class="desktop:grid-col-6">
              {% if page.general2.size > 0 %}
                {% for item in page.general2 %}
                  <h4 class="m3-glossary-h4">{{ item.title }}</h4>
                  <p class="no-space">{{ item.text }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>