---

layout: m3/m3-layout
---

{% comment %}
This template is for all M3 pages with the M3 sidenav.
{% endcomment %}

<div class="grid-container m3-sidenav-page">
  <div class="grid-row">
    <div class="grid-col-2 display-none desktop:display-block">
      <nav class="m3-sidenav" aria-label="Secondary navigation">
        Jump To:
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item">
            <a href="#main-content" class="usa-current">{{page.title}}</a>
          </li>
        {% for section in page.sections %}
          <li class="usa-sidenav__item">
            <a href="#{{section.name | remove: " "}}">{{section.name}}</a>
          </li>
        {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="desktop:grid-col-10">
      {{ content }}
    </div>
  </div>
</div>


