---
title: "Resources"
layout: m3/m3-layout-sidenav
---
<div class="usa-prose margin-x-auto">
<h1>{{page.title}}</h1>
{% for section in page.sections %}
  <section>
    <h2 id="{{section.name | remove: " "}}" class="border-bottom border-base-lighter">{{section.name}}</h2>
    {% if section.description %}
      <p>{{section.description}}</p>
    {% endif %}
    <ul>
    {% for item in section.items %}
    <li>
      {% if item.filename %}
        <a href="{{site.baseurl}}/assets/files/{{item.filename}}">{{ item.name }}</a>
      {% elsif item.url %}
      <a href="{{site.baseurl}}{{ item.url }}">{{ item.name }}</a>
      {% elsif item.external_url %}
        <a href="http://{{ item.external_url }}">{{ item.name }}</a>  
      {% else %}
        {{ item }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  </section>
{% endfor %}
</div>
