
{% comment %}
This banner will be displayed on the homepage. Summary of performance management and evidence-based policy making.
{% endcomment %}

<section class="usa-section usa-section--dark ">
    <div class="grid-container ">
        <div class="usa-graphic-list__row grid-row grid-gap">

            <div class="tablet:grid-col-6">
                <h2 class=" margin-top-0 tablet:margin-bottom-0 text-primary-darker " style="color:white">Evidence-based Performance Management</h2>
                <p class="font-sans-sm text-ink padding-bottom-3">An evidence-based approach to managing the agency services ecosystem ensures alignment of services delivered to outcome-based management goals. A performance-driven services ecosystem serves as a key enabler that improves the capacity of agencies to better serve the American public.</p>

            </div>

            <div class="tablet:grid-col-6">
                <a href="#example-modal-1" class="display-block" aria-controls="performance-management-modal" data-open-modal>
                    <img loading="lazy" class="width-full" src="{{ site.baseurl }}/assets/images/performance-management/performance-diagram.png" alt="Evidence-based Performance Management Diagram" />
                </a>
                <div class="usa-modal" id="performance-management-modal" aria-labelledby="modal-1-heading" aria-describedby="modal-1-description">
                    <div class="usa-modal__content">
                        <div class="usa-modal__main">
                            <div class="usa-prose">
                            <p id="modal-1-description">
                                You have unsaved changes that will be lost.
                            </p>
                            </div>
                        </div>
                        <button
                            type="button"
                            class="padding-top-2 usa-button usa-modal__close"
                            aria-label="Close this window"
                            data-close-modal
                        >
                            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="/assets/img/sprite.svg#close"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div> </div>


        </div>
    </div>
</section>