<div class="grid-row width-full maxw-mobile">
    <a href="{{site.baseurl}}/marketplace/qsmo-ffm/" class="margin-bottom-2 grid-col-4 text-center text-no-underline text-black text-bold line-height-sans-2 font-body-3xs" title="">
        <img class="width-full maxw-10" src="{{ site.baseurl }}/assets/images/fibf/icons/icon.corefm.png" alt="Icon" />
        <p class="text-center">Core Financial Management</p>
    </a>
    <a href="{{site.baseurl}}/marketplace/qsmo-grm/" class="margin-bottom-2 grid-col-4 text-center text-no-underline text-black text-bold line-height-sans-2 font-body-3xs" title="">
        <img class="width-full maxw-10" src="{{ site.baseurl }}/assets/images/fibf/icons/icon.grants.png" alt="Icon" />
        <p class="text-center">Grants Management</p>
    </a>
    <a href="{{site.baseurl}}/marketplace/qsmo-hcm/" class="margin-bottom-2 grid-col-4 text-center text-no-underline text-black text-bold line-height-sans-2 font-body-3xs" title="">
        <img class="width-full maxw-10" src="{{ site.baseurl }}/assets/images/fibf/icons/icon.hr.png" alt="Icon" />
        <p class="text-center">Human Capital Management</p>
    </a>
    <a href="{{site.baseurl}}/marketplace/ess-trt/" class="margin-bottom-2 grid-col-4 text-center text-no-underline text-black text-bold line-height-sans-2 font-body-3xs" title="">
        <img class="width-full maxw-10" src="{{ site.baseurl }}/assets/images/fibf/icons/icon.travel.png" alt="Icon" />
        <p class="text-center">Travel & Expense</p>
    </a>
    <a href="{{site.baseurl}}/marketplace/qsmo-cyb/" class="margin-bottom-2 grid-col-4 text-center text-no-underline text-black text-bold line-height-sans-2 font-body-3xs" title="">
        <img class="width-full maxw-10" src="{{ site.baseurl }}/assets/images/fibf/icons/icon.cyber.png" alt="Icon" />
        <p class="text-center">Cybersecurity Services</p>
    </a>
    <a href="{{site.baseurl}}/marketplace/ess-eis/" class="margin-bottom-2 grid-col-4 text-center text-no-underline text-black text-bold line-height-sans-2 font-body-3xs" title="">
        <img class="width-full maxw-10" src="{{ site.baseurl }}/assets/images/fibf/icons/icon.computer.png" alt="Icon" />
        <p class="text-center">IT Infrastructure Services</p>
    </a>
    <a href="{{site.baseurl}}/marketplace/ess-fleet/" class="margin-bottom-2 grid-col-4 text-center text-no-underline text-black text-bold line-height-sans-2 font-body-3xs" title="">
        <img class="width-full maxw-10" src="{{ site.baseurl }}/assets/images/fibf/icons/car.icon.png" alt="Icon" />
        <p class="text-center">Fleet</p>
    </a>
    <a href="{{site.baseurl}}/marketplace/ess-smartpay/" class="margin-bottom-2 grid-col-4 text-center text-no-underline text-black text-bold line-height-sans-2 font-body-3xs" title="">
        <img class="width-full maxw-10" src="{{ site.baseurl }}/assets/images/fibf/icons/icon.smartpay.png" alt="Icon" />
        <p class="text-center">Purchase Cards</p>
    </a>
    <a href="{{site.baseurl}}/marketplace/ess-erm/" class="margin-bottom-2 grid-col-4 text-center text-no-underline text-black text-bold line-height-sans-2 font-body-3xs" title="">
        <img class="width-full maxw-10" src="{{ site.baseurl }}/assets/images/fibf/icons/icon.erm.png" alt="Icon" />
        <p class="text-center">Electronic Records Management</p>
    </a>
</div>