<table id="cyb-cvd-capabilities" class="display responsive" style="width: 100%; white-space: normal; word-wrap: normal;" data-page-length="15" aria-label="Federal Integrated Business Framework - Coordinated Vulnerability Disclosure">
    <thead>
        <tr>
            <th scope="col" style="white-space: normal; word-wrap: normal;">Capability ID</th>
            <th scope="col" style="white-space: normal; word-wrap: normal;">Function</th>
            <th scope="col" style="white-space: normal; word-wrap: normal;">Activity Name</th>
            <th scope="col" style="white-space: normal; word-wrap: normal;">Input/<br>Output/<br>Process</th>
            <th scope="col" style="white-space: normal; word-wrap: normal;">Business Capability Statement</th>
            <th scope="col" style="white-space: normal; word-wrap: normal;">Authoritative Reference</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
