<div class="margin-bottom-2">
   <p class="text-italic text-primary font-body-md">Core Financial Management Solutions (Core FS) Pre-Built Business Information Exchanges (BIEs) - date posted 11/16/2023</p>
   <img src="{{ site.baseurl }}/assets/images/icon.xls.webp" valign="middle" alt="xls">
      <a href="{{ site.baseurl }}/assets/files/downloads/fm/FMCF-6_Core FS Pre-Built Business Information Exchanges_FY 2024 Release.xlsx">Core Financial Management Solutions (Core FS) Pre-Built Business Information Exchanges (BIEs)</a>
   <p class="text-italic text-primary font-body-md">Core Financial Management Solutions (Core FS) Pre-Built Business Reports - date posted 11/16/2023</p>
   <img src="{{ site.baseurl }}/assets/images/icon.xls.webp" valign="middle" alt="xls">
      <a href="{{ site.baseurl }}/assets/files/downloads/fm/FMCF-5_Core FS Pre-Built Business Reports_FY 2024 Release.xlsx">Core Financial Management Solutions (Core FS) Pre-Built Business Reports</a>
</div>
