<section id="main-content__tag-line" class="usa-section usa-section--dark usa-graphic-list padding-y-3 bg-gradient">
    <div class="grid-container usa-graphic-list__row">
        <div class="grid-col-12 usa-media-block">
            <div class="display-flex flex-row flex-align-center" >
                <span class="text-white margin-right-4 margin-top-105">
                    <img
                        class="width-10"
                        src="{{ site.baseurl }}/assets/images/video-card/tv-solid.svg"
                        alt="Last updated time"
                    />
                </span>
                <h1 class="font-sans-xl text-black" >
                    <b>{{include.title}}</b>
                </h1>
            </div>
        </div>
    </div>
</section>