<section id="main-content__tag-line" class="usa-section usa-section--dark usa-graphic-list padding-y-3 bg-gradient">
    <div {% if include.go_back_url and page.url != "{{include.go_back_url}}" %} class="grid-container usa-graphic-list__row ogp-current" {% else %} class="grid-container usa-graphic-list__row" {% endif %}>
        <div class="grid-col-12 usa-media-block">
            <a href="{{site.baseurl}}{{include.go_back_url}}" class="display-flex flex-row flex-align-center">
                <span class="text-white margin-right-4 margin-top-105">
                    <img
                        class="width-10"
                        src="{{ site.baseurl }}/assets/images/video-card/tv-solid.svg"
                        alt="{{include.title}}}"
                    />
                </span>
                <span>
                    <h1 class="font-sans-xl text-black" >
                        <b>{{include.title}}</b>
                    </h1>
                    {% if include.sub_title %}
                    <h6 class="font-sans-xl text-black" >
                        <b>{{include.sub_title}}</b>
                    </h6>
                </span>
               
                {% endif %}
            </a>                
        </div>
    </div>
</section>