
{% if include.video_data %}
    <a class="usa-card tablet:grid-col-4 hvr-sink" 
       id="ogp-usa-card__container" 
       tabindex="0" 
       href="{{ site.baseurl }}{{include.video_data.directory}}{{include.video_data.page_name}}">
        <div class="usa-card__container">
            <div class="margin-top-05">
                <b>{{include.video_data.title}} </b>
            </div>
            <div class="usa-card__media">
                <div class="usa-card__img">
                    <img 
                        src="{{include.video_data.image}}"
                        alt="{{include.video_data.image_alt}}"
                    />
                </div>
            </div>
            <div class="font-sans-2xs">
                <div class="display-flex flex-row flex-align-center">
                    <span>
                        <img
                            class="width-2 margin-top-05 margin-right-1"
                            src="{{ site.baseurl }}/assets/images/video-card/circle-solid-{{include.video_data.tag_color}}.svg"
                            alt="tag color for {{include.video_data.title}}"
                        />
                    </span> 
                    <sapn> {{include.video_data.tag}} </sapn>
                </div>
                <div class="display-flex flex-row flex-align-center">
                    <span>
                        <img
                            class="width-2 margin-top-05 margin-right-1"
                            src="{{ site.baseurl }}/assets/images/video-card/clock-regular.svg"
                            alt="Last updated time"
                        />
                    </span> 
                    <span> {{include.video_data.last_updated}}</span>
                </div>
            </div>
        </div>
    </a>
{% endif %}
