
{% if include.video_data %}
<li class="usa-card grid-col-12" tabindex="0">
    <div>
        <a  class="text-black ogp-card__link--unset" aria-label="{{include.video_data.title}}" href="{{ site.baseurl }}{{include.video_data.directory}}{{include.video_data.page_name}}">
            <div class="usa-card__media">
                <div class="usa-card__img">
                <img
                    src="{{ site.baseurl }}{{include.video_data.image}}"
                    alt="{{include.video_data.image_alt}}"
                />
                </div>
            </div>
            <div>
                <div class="margin-top-05">
                    <b>{{include.video_data.title}} </b>
                </div>
                <div>
                    <span>
                        <img
                            class="width-105"
                            src="{{ site.baseurl }}/assets/images/video-card/circle-solid-{{include.video_data.tag_color}}.svg"
                            alt="{{include.video_data.tag_color}} tag color"
                        />
                    </span>
                    <sapn> {{include.video_data.tag}} </sapn>
                </div>
                <div>
                    <span>
                        <img
                            class="width-105"
                            src="{{ site.baseurl }}/assets/images/video-card/clock-regular.svg"
                            alt="Last updated time"
                        />
                    </span>
                    <span> {{include.video_data.last_updated}}</span>
                </div>
            </div>
        </a>
    </div>
</li>
{% endif %}
