
<li class="usa-card tablet:grid-col-4" tabindex="0">
    <div class="usa-card__container" id="ogp-usa-card__container">
        <div class="margin-top-05">
            <a  class="text-black ogp-card__link--unset" href="{{ site.baseurl }}{{page.url}}">
                <b>Enhancing Your Agencies Services by utilizing FIBF. Enhancing Your Agencies Services by utilizing FIBF. </b>
            </a>
        </div>
        <div class="usa-card__media">
            <div class="usa-card__img">
            <img 
                src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                alt="A placeholder image"
            />
            </div>
        </div>
        <div>
            <div>
                <span>
                    <img
                        class="width-105"
                        src="assets/images/video-card/circle-solid-blue.svg"
                        alt="A placeholder image"
                    />
                </span> 
                <sapn> M3 </sapn>
            </div>
            <div>
                <span>
                    <img
                        class="width-105"
                        src="assets/images/video-card/clock-regular.svg"
                        alt="A placeholder image"
                    />
                </span> 
                <span> 14 months ago</span>
            </div>
        </div>
    </div>
</li>
