{
"Capability ID": "HCM.130.010.011",
"Function": "Compensation Management (Payroll Administration)",
"Activity Name": "Payroll Processing",
"Business Capability Statement": "Capture Federal regulatory and Federal statutory authorities applicable to compensation management (Human Capital Management, Work Schedule and Leave Management, Payroll, Leave, and Finance)."
},
{
"Capability ID": "HCM.130.010.012",
"Function": "Compensation Management (Payroll Administration)",
"Activity Name": "Payroll Processing",
"Business Capability Statement": "Capture agency-specific policy/guidance and labor agreements applicable to compensation management (Human Capital Management, Work Schedule and Leave Management, Payroll, Leave, and Finance)."
},
{
"Capability ID": "HCM.130.010.013",
"Function": "Compensation Management (Payroll Administration)",
"Activity Name": "Payroll Processing",
"Business Capability Statement": "Interface with Human Resources, Time & Attendance, and Finance systems, and third party vendors."
},
{
"Capability ID": "HCM.130.010.014",
"Function": "Compensation Management (Payroll Administration)",
"Activity Name": "Payroll Processing",
"Business Capability Statement": "Design and implement an integrated payroll workflow management capability that improves efficiencies, reduces errors, and increases automation throughout the payroll processes."
},
{
"Capability ID": "HCM.130.010.021",
"Function": "Compensation Management (Payroll Administration)",
"Activity Name": "Payroll Processing",
"Business Capability Statement": "Capture federal data resources necessary to calculate gross pay (e.g., pay plans, pay tables, locality pay tables, COLAs, transaction codes, etc.)."
},
{
"Capability ID": "HCM.130.010.022",
"Function": "Compensation Management (Payroll Administration)",
"Activity Name": "Payroll Processing",
"Business Capability Statement": "Capture properly authorized input from the Time and Attendance (T&A) Processing Function, employee personnel inputs, third party inputs, and personnel action processing data."
},
{
"Capability ID": "HCM.130.010.023",
"Function": "Compensation Management (Payroll Administration)",
"Activity Name": "Payroll Processing",
"Business Capability Statement": "Calculate pay at the end of each pay period, (e.g., daily, bi-weekly, monthly) after properly authorized inputs have been received and after personnel action processing is completed."
},
{
"Capability ID": "HCM.130.010.024",
"Function": "Compensation Management (Payroll Administration)",
"Activity Name": "Payroll Processing",
"Business Capability Statement": "Compute pay based on assigned pay plan."
}