---
title: "About the Team"
layout: base
---
<section class="usa-section usa-section--dark usa-graphic-list" style="padding-top:30px;padding-bottom:30px;">
    <div class="grid-container usa-graphic-list__row">
        <div class="grid-col-12 usa-media-block">
            <div class="usa-media-block__body">
                <center><h1 style="color: #ffffff;">Office of Shared Solutions and Performance Improvement (OSSPI), Office of Government-wide Policy</h1></center>
            </div>
        </div>
    </div>
</section>

<section class="usa-section usa-graphic-list">
    <div class="grid-container usa-graphic-list__row">
        <h2 class="text-primary" style="font-size: 30px">How OSSPI Supports Shared Services</h2>
        <div class="grid-col-12 usa-media-block">


              <P> <img  src="../assets/images/about/ussm-mark.png" alt="ussm-logo-mark" style="height:auto; width:89%;min-width: 48px; margin-top:-15px; padding-right: 15px; padding-bottom: 0px;"></P>


                <p style="max-width:none;margin-bottom: 1em; margin-top: 0em; float: left;">
                    OSSPI is transforming the way government does business internally to improve the way the government serves the American public. OSSPI coordinates governance, executes Cross Agency Priority Goal program management, and develops processes to support development and implementation of OMB policy as it relates to mission support services.        </p>

            </div>
        </div>
    </div>
</section>

<section class="usa-section usa-section--light usa-graphic-list" style="padding-top:30px;padding-bottom:30px;">
    <div class="grid-container usa-graphic-list__row">
        <div class="grid-col-12 usa-media-block">
            <div class="usa-media-block__body">
                <h2 class="text-primary" style="font-size: 30px">More About Our Work</h2>
                <p style="max-width:none;"><b>Our team specializes in big, systemic problems.</b> The areas with the greatest opportunity for improving federal government efficiency and effectiveness often seem intractable because they cross federal agencies with complex bureaucracies and competing incentives and priorities. Our work helps agencies move towards operating as one federal enterprise to make government work better and cost less.</p>
            </div>
        </div>
    </div>
</section>
<section class="usa-section usa-graphic-list">
    <div class="grid-container ">
        <div class="grid-row">
        <div class="tablet:grid-col-6">
            <div class="usa-media-block__body">
                <h2 class="text-primary" style="font-size: 30px">Our Mission</h2>
                <p>OSSPI leverages data, subject matter expertise and its authority to convene government-wide stakeholder groups to improve the delivery of federal agencies' missions by:</p>
                <ul>
                    <li>informing and shaping policy;</li>
                    <li>enabling evidence-based performance management; and</li>
                    <li>building strategies for optimization of management services.</li>
                </ul>
            </div>
        </div>
            <div class="tablet:grid-col-6">
                <div class="usa-media-block__body">
                <h2 class="text-primary margin-left-10" style="font-size: 30px">Our Tools</h2>
                <center>
                <div class="grid-row grid-gap" style="padding-left: 49px;">
                    <div class="tablet:grid-col-5">

                    <img src="../assets/images/about/hands.png" alt="" aria-hidden="true" style="width:100px;">
                   <p style="margin-top:0px;">Cross-functional<br> Forums</p>
                        <img src="../assets/images/about/tools.PNG" alt="" aria-hidden="true" style="width:100px;">
                        <p style="margin-top:0px;">Toolkits</p>
                    </div>

                    <div class="tablet:grid-col-6" >
                        <img src="../assets/images/about/graph.png" alt="" aria-hidden="true" style="width:100px;">
                        <p style="margin-top:0px;">Data</p>
                        <img src="../assets/images/about/chess.png" alt="" aria-hidden="true" style="width:94px;" class="margin-top-2">
                                                        <p style="margin-top:0px;">Playbooks</p>

                    </div>
                </div>
               </center>
                </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="usa-section usa-section--dark usa-graphic-list" style="padding-top:30px;padding-bottom:10px;">
    <div class="grid-container usa-graphic-list__row">
        <div class="grid-col-12 usa-media-block">
            <div class="usa-media-block__body">
                <h2 style="font-size: 30px">Our Focus</h2>
            </div>
        </div>
    </div>
</section>
<section class="usa-section usa-graphic-list">
    <div class="grid-container ">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-6">
            <div class="usa-media-block__body" >
                <h2 class="text-primary" style="font-size: 30px">Driving CAP Goals</h2>
                <p>The President's Management Agenda lays out a long-term vision for modernizing the federal government in key areas that will improve the ability of agencies to deliver mission outcomes, provide excellent service and effectively steward taxpayer dollars. Our communities are the driving force for accomplishing many of these cross-agency priorities.
                </p>
            </div>
        </div>
            <div class="tablet:grid-col-6">
                <div class="usa-media-block__body">

                    <p > <span style=" color:#205493;font-size:1.8rem;"><b>$40B</b></span><span style="font-size:1.5rem;"> projected savings from smarter procurement</span> <br>

                        <span style="color:#205493;font-size:1.8rem;font-size:1.8rem;"><b>10%</b></span> <span style="font-size:1.5rem;"> projected reduction in administrative costs </span> <br>

                        <span style="color:#205493;font-size:1.8rem;font-size:1.8rem;"><b>$90B</b></span> <span style="font-size:1.5rem;"> smarter use of annual IT budget to modernize IT with increased transparency </span></p>
                </div>
            </div>

        </div>
    </div>


</section>

<section class="usa-section  usa-section--light usa-graphic-list">
    <div class="grid-container ">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-6">
                <div class="usa-media-block__body" >
                    <p><b>Governance</b><br> The executive councils and Shared Solutions Governance Board convene leaders</p>
                    <p><b>Standards</b><br> Projected reduction in administrative costs</p>
                    <p><b>Modernization</b><br> Smarter use of annual IT budget to modernize IT with increased transparency</p>
                </div>
            </div>
            <div class="tablet:grid-col-6">
                <div class="usa-media-block__body" >
                    <h2 class="text-primary" style="font-size: 30px;">Shared Services Vision</h2>
                    <p>The current approach to providing mission support services such as human resources and financial management has resulted in duplication, fragmentation, and manual processes. Improving how these functions are shared across agencies through the Shared Services Vision CAP Goal will better support agency missions and save tax dollars.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="usa-section usa-graphic-list">
    <div class="grid-container ">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-8">
                <div class="usa-media-block__body" >
                    <h2 class="text-primary" style="font-size: 30px;">Empowering Agencies to Improve Performance</h2>
                    <ul>
                        <li><b>Strategy:</b> Expertise in management initiatives informs cross-functional and cross-agency solutions.</li>
                        <li><b>Performance Data:</b> Government-wide performance data informs agencies' tough decisions, best practices, and benchmarking.</li>
                        <li><b>Hands-on-Help:</b> Analysis, facilitated engagements, playbooks and toolkits provide leading practices to agencies.</li>
                    </ul>
                </div>
            </div>
            <div class="tablet:grid-col-4">
                <div class="usa-media-block__body" >
                    <img id="awards-graphic" src="../assets/images/about/awards-graphic.png" alt="decorative" style="margin-top: -48%;width: 485px; height: auto; z-index: 2;position: absolute; max-width: none;">
                </div>
            </div>
        </div>
    </div>
</section>



<section class="usa-section usa-graphic-list">
    <div class="grid-container ">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-6">
                <div class="usa-media-block__body" >
                    <center><img src="../assets/images/about/council-graphic.png" alt="CXO councils" style="margin-top:-10px;width:350px;"></center>
                </div>
            </div>
            <div class="tablet:grid-col-6">
                <div class="usa-media-block__body" >
                    <h2 class="text-primary" style="font-size: 30px;">Convening CXO Councils</h2>

                    <p>Federal executive management councils lead interagency initiatives to spur innovation, elevate best practices, and bridge policy making and implementation to improve outcomes. Each council convenes the chief executive officers in its respective functional area to inform and implement management priorities across all 24 CFO-Act agencies.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="usa-section usa-section--light usa-graphic-list" style="padding-top:10px;padding-bottom:20px;">
    <div class="grid-container usa-graphic-list__row">
        <div class="grid-col-12 usa-media-block">
            <center><h2 class="text-primary" style="font-size: 30px;">"Our work helps agencies move towards operating as one Federal enterprise to make government work better and cost less."</h2></center>
        </div>
    </div>
    </div>
</section>


<!--follow our work-->
<section class="usa-section usa-graphic-list">
    <div class="grid-container ">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-8">
                <div class="usa-media-block__body" >
                    <p>Follow our work for updates or contact us directly. Our websites and Twitter handles provide regular program updates. You can also contact specific programs at email addresses below:</p>
                    <div class="grid-row">
                        <div class="tablet:grid-col">
                            <p><b>Performance.gov</b><br>
                                <a class="text-primary" href="mailto:pgovsupport@gsa.gov">pgovsupport@gsa.gov</a><br>
                                <a class="text-primary" href="https://twitter.com/PerformanceGov">@PerformanceGov</a><br>
                            </p>
                            <p><b>Federal Shared Services</b><br>
                                ussmteam@gsa.gov
                            </p>
                            <p><b>US Performance Improvement Council</b><br>
                                <a class="text-primary" href="mailto:picstaff@gsa.gov">picstaff@gsa.gov</a><br>
                                <a class="text-primary" href="https://PIC.gov">PIC.gov</a>
                            </p>
                            <p><b>US Chief Financial Officers Council</b><br>
                                <a class="text-primary" href="mailto:cfoc.support@gsa.gov">cfoc.support@gsa.gov</a><br>
                                <a class="text-primary" href="https://CFO.gov">CFO.gov</a>
                            </p>
                            <p><b>US Chief Acquisition Officers Council</b><br>
                                <a class="text-primary" href="mailto:caoc.support@gsa.gov">caoc.support@gsa.gov</a><br>
                            </p>

                        </div>
                        <div class="tablet:grid-col">

                            <p><b>US Chief Information Officers Council</b><br>
                                <a class="text-primary" href="mailto:feedback@cio.gov">feedback@cio.gov</a><br>
                                <a class="text-primary" href="https://twitter.com/ciodotgov">@ciodotgov</a><br>
                                <a class="text-primary" href="https://CIO.gov">CIO.gov</a><br>
                            </p>
                            <p><b>US Federal Privacy Council</b><br>
                                <a class="text-primary" href="mailto:privacy.council@gsa.gov">privacy.council@gsa.gov</a><br>
                                <a class="text-primary" href="https://twitter.com/ciodotgov">@ciodotgov</a><br>
                                <a class="text-primary" href="https://FPC.gov">FPC.gov</a>
                            </p>
                            <p><b>White House Leadership Development Program</b><br>
                                <a class="text-primary" href="mailto:whldp@gsa.gov">whldp@gsa.gov</a><br>
                                <a href="">pic.gov/whldp</a>
                            </p>
                            <p><b>CXO Fellows Program</b><br>
                                <a class="text-primary" href="mailto:cxofellowship@gsa.gov">cxofellowship@gsa.gov</a><br>
                                <a class="text-primary" href="https://www.cfo.gov/cxo-fellows/">cfo.gov/cxo-fellows/</a>
                            </p>
                        </div>

                    </div>

                                    </div>
                                </div>
                                <div class="tablet:grid-col-4">
                                <div class="usa-media-block__body" >
                                                <img src="../assets/images/about/email-graphic.png" alt="hand showing the email">
                                </div>
                                </div>

                            </div>
                        </div>
                    </section>
                    <!--<section class="usa-section usa-graphic-list">-->
<!--    <div class="grid-container usa-graphic-list__row">-->
<!--        <div class="grid-col-8 usa-media_block">-->
<!--            <p>Follow our work for updates or contact us directly. Our websites and Twitter handles provide regular program updates. You can also contact specific programs at email addresses below:</p>-->
<!--
<div class="grid-col-6 usa-media_block">-->
<!--                <p><b>Performance.gov</b><br>-->
<!--                    pgovsupport@gsa.gov<br>-->
<!--                    @PerformanceGov-->
<!--                </p>-->
<!--                <p><b>Unified Shared Services Management</b><br>-->
<!--                    ussmteam@gsa.gov-->
<!--                </p>-->
<!--                <p><b>US Performance Improvement Council</b><br>-->
<!--                    picstaff@gsa.gov<br>-->
<!--                    PIC.gov-->
<!--                </p>-->
<!--                <p><b>US Chief Financial Officers Council</b><br>-->
<!--                    cfoc.support@gsa.gov<br>-->
<!--                    CFO.gov-->
<!--                </p>-->
<!--                <p><b>US Chief Acquisition Officers Council</b><br>-->
<!--                    caoc.support@gsa.gov<br>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="grid-col-6 usa-media_block">-->
<!--                <p><b>US Chief Information Officers Council</b><br>-->
<!--                    feedback@cio.gov<br>-->
<!--                    @ciodotgov<br>-->
<!--                    CIO.gov-->
<!--                </p>-->
<!--                <p><b>US Federal Privacy Council</b><br>-->
<!--                    privacy.council@gsa.gov<br>-->
<!--                    @ciodotgov<br>-->
<!--                    FPC.gov-->
<!--                </p>-->
<!--                <p><b>White House Leadership Development Program</b><br>-->
<!--                    whldp@gsa.gov<br>-->
<!--                    pic.gov/whldp-->
<!--                </p>-->
<!--                <p><b>CXO Fellows Program</b><br>-->
<!--                    cxofellowship@gsa.gov<br>-->
<!--                    cfo.gov/cxo-fellows/-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="grid-col-4 usa-media_block">-->
<!--            <img src="../assets/images/about/email-graphic.png" >-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
<!--</section>-->

<!--//c-suite-->

<section class="usa-section usa-section--dark ">
    <div class="grid-container ">
        <div class="usa-graphic-list__row grid-row grid-gap">

            <div class="tablet:grid-col-6">
                <h2 class=" margin-top-0 tablet:margin-bottom-0 text-primary-darker " style="color:white" >C-Suite Quarterly Newsletter</h2>
                <p class="font-sans-sm text-ink padding-bottom-3"> Sign up for C-Suite Quarterly, a quarterly update on management priorities, transformation success stories, and tools and information to help agencies improve performance. <BR><BR> To sign up for updates or to access your subscriber preferences, please enter your contact information below.</p>

            </div>

            <div class="tablet:grid-col-6">

                <form class="usa-form" id="GD-snippet-form" action="https://public.govdelivery.com/accounts/USGSA/subscribers/qualify" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="ZhCoiMxoWiSHeJTiR19j3v2+S7Z6oMVPNTy2Ytiv7ukUos3n+vi5J/Fc0MG7tmBSLdsHmRfj02xB0ztqUS0YWQ==">
                    <fieldset class="usa-fieldset">
                        <label class="usa-label text-white" for="email">* Email address</label>
                        <input class="usa-input" id="email" name="email" type="email" autocapitalize="off" autocorrect="off" required>
                        <input class="usa-button" type="submit" name="commit" value="Submit">

                    </fieldset>
                </form>

            </div>
        </div>
    </div> </div>


    </div>
    </div>
</section>

<style>
    .usa-section--dark h2{
    color: #f0f0f0;
    }
</style>