---
title: "About the Team"
layout: base
---
<section class="usa-section usa-section-dark usa-graphic_list" style="padding-top:30px;padding-bottom:30px;">
   <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-whole usa-media_block">
        <div class="usa-media_block-body">
             <center><h2>Office of Shared Solutions and Performance Improvement (OSSPI), Office of Government-wide Policy</h2></center>
        </div>
      </div>
    </div>
  </section>

<section class="usa-section usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-whole usa-media_block">
          <h2>How OSSPI Supports Shared Services</h2>
      <div style="float:left;">
        <img src="../assets/img/about/ussm-mark.png" alt="ussm-logo-mark" style="height:75px;padding-right: 15px; padding-bottom: 0px;">
      </div>
      <div>
        <p style="max-width:none">
            OSSPI is transforming the way government does business internally to improve the way the government serves the American public. OSSPI coordinates governance, executes Cross Agency Priority Goal program management, and develops processes to support development and implementation of OMB policy as it relates to mission support services.        </p>

    </div>
  </div>
</section>

  <section class="usa-section usa-section-light usa-graphic_list" style="padding-top:30px;padding-bottom:30px;">
     <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole usa-media_block">
          <div class="usa-media_block-body">
              <h2>More About Our Work</h2>
              <p style="font-size:1.8rem;max-width:none;"><b>Our team specializes in big, systemic problems.</b> The areas with the greatest opportunity for improving federal government efficiency and effectiveness often seem intractable because they cross federal agencies with complex bureaucracies and competing incentives and priorities. Our work helps agencies move towards operating as one federal enterprise to make government work better and cost less.</p>
          </div>
        </div>
      </div>
    </section>
  <section class="usa-section usa-graphic_list">
     <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-half usa-media_block">
          <div class="usa-media_block-body">
            <h2>Our Mission</h2>
            <p>OSSPI leverages data, subject matter expertise and its authority to convene government-wide stakeholder groups to improve the delivery of federal agencies' missions by:</p>
              <ul>
                <li>informing and shaping policy;</li>
                <li>enabling evidence-based performance management; and</li>
                <li>building strategies for optimization of management services.</li>
              </ul>
          </div>
        </div>
   <div class="usa-width-one-half usa-media_block">
     <div class="usa-media_block-body">
       <h2>Our Tools</h2>
    <center>
        <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-half usa-media_block">
        <img src="../assets/img/about/hands.png" style="width:100px;">
        <p style="margin-top:0px;">Cross-functional<br> Forums</p>
      </div>
        <div class="usa-width-one-half usa-media_block">
       <img src="../assets/img/about/graph.png" style="width:100px;">
       <p style="margin-top:0px;">Data</p>
      </div>
     </div>
     <div class="usa-grid usa-graphic_list-row"
     style="padding-top:10px;">
       <div class="usa-width-one-half usa-media_block">
       <img src="../assets/img/about/tools.PNG" style="width:100px;">
       <p style="margin-top:0px;">Toolkits</p>
      </div>
       <div class="usa-width-one-half usa-media_block">
       <img src="../assets/img/about/chess.png" style="width:94px;">
       <p style="margin-top:0px;">Playbooks</p>
     </div>
     </div>
   </center>
     </div>
   </div>
</section>

<section class="usa-section usa-section-dark usa-graphic_list" style="padding-top:30px;padding-bottom:10px;">
   <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-whole usa-media_block">
        <div class="usa-media_block-body">
          <h2>Our Focus</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="usa-section usa-graphic_list">
     <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-half usa-media_block">
          <div class="usa-media_block-body">
            <h2>Driving CAP Goals</h2>
            <p>The President's Management Agenda lays out a long-term vision for modernizing the federal government in key areas that will improve the ability of agencies to deliver mission outcomes, provide excellent service and effectively steward taxpayer dollars. Our communities are the driving force for accomplishing many of these cross-agency priorities.
</p>
          </div>
        </div>
   <div class="usa-width-one-half usa-media_block">
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole usa-media_block">
            <p style="font-size:2.5rem;"><span style="color:#205493;font-size:2.8rem;"><b>$40B</b></span> projected savings from smarter procurement</p>
         </div>
       </div>
       <div class="usa-grid usa-graphic_list-row">
         <div class="usa-width-one-whole usa-media_block">
             <p style="font-size:2.5rem;"><span style="color:#205493;font-size:2.8rem;"><b>10%</b></span> projected reduction in administrative costs</p>
          </div>
        </div>
        <div class="usa-grid usa-graphic_list-row">
          <div class="usa-width-one-whole usa-media_block">
             <p style="font-size:2.5rem;"><span style="color:#205493;font-size:2.8rem;"><b>$90B</b></span> smarter use of annual IT budget to modernize IT with increased transparency</p>
           </div>
         </div>
   </div>
</section>

<section class="usa-section  usa-section-light usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
   <div class="usa-width-one-half usa-media_block">
     <!--<img src="governance_capture.PNG">
   </div>-->
  <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-whole usa-media_block">
               <div class="usa-media_block-body">
          <p><b>Governance</b><br> The executive councils and Shared Solutions Governance Board convene leaders</p>
       </div>
     </div>
   </div>
     <div class="usa-grid usa-graphic_list-row">
       <div class="usa-width-one-whole usa-media_block">
                <div class="usa-media_block-body">
           <p><b>Standards</b><br> Projected reduction in administrative costs</p>
        </div>
      </div>
    </div>
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole usa-media_block">
                 <div class="usa-media_block-body">
           <p><b>Modernization</b><br> Smarter use of annual IT budget to modernize IT with increased transparency</p>
         </div>
       </div>
     </div>
   </div>

       <div class="usa-width-one-half usa-media_block">
         <div class="usa-media_block-body">
           <h2>Shared Services Vision</h2>
           <p>The current approach to providing mission support services such as human resources and financial management has resulted in duplication, fragmentation, and manual processes. Improving how these functions are shared across agencies through a shared services vision and strategy that will better support agency missions and save tax dollars.</p>
         </div>
       </div>
 </div>
</section>

<section class="usa-section usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-two-thirds usa-media_block">
        <div class="usa-media_block-body">
          <h2>Empowering Agencies to Improve Performance</h2>
          <ul>
            <li><b>Strategy:</b> Expertise in management initiatives informs cross-functional and cross-agency solutions.</li>
            <li><b>Performance Data:</b> Government-wide performance data informs agencies' tough decisions, best practices, and benchmarking.</li>
            <li><b>Hands-on-Help:</b> Analysis, facilitated engagements, playbooks and toolkits provide leading practices to agencies.</li>
          </ul>
        </div>
      </div>
      <div class="usa-width-one-third usa-media_block">
        <div class="usa-media_block-body">
          <img id="awards-graphic" src="../assets/img/about/awards-graphic.png" style="margin-top: -10%;margin-left: %;width: 30%;z-index: 2;position: absolute;">
</div>
</div>

       </div>
</section>
<section class="usa-section usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
       <div class="usa-width-one-half usa-media_block">
         <div class="usa-media_block-body">
            <center><img src="../assets/img/about/council-graphic.png" style="margin-top:-10px;width:350px;"></center>
         </div>
       </div>
       <div class="usa-width-one-half usa-media_block">
         <div class="usa-media_block-body">
           <h2>Convening CXO Councils</h2>

             <p>Federal executive management councils lead interagency initiatives to spur innovation, elevate best practices, and bridge policy making and implementation to improve outcomes. Each council convenes the chief executive officers in its respective functional area to inform and implement management priorities across all 24 CFO-Act agencies.</p>
         </div>
       </div>
        </div>
</section>
<section class="usa-section usa-section-light usa-graphic_list" style="padding-top:10px;padding-bottom:20px;">
   <div class="usa-grid usa-graphic_list-row">
   <div class="usa-width-one-whole usa-media_block">
      <center><h2>"Our work helps agencies move towards operating as one Federal enterprise to make government work better and cost less."</h2></center>
   </div>
   </div>
 </div>
</section>
<section class="usa-section usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
   <div class="usa-width-two-thirds usa-media_block">
  <p>Follow our work for updates or contact us directly. Our websites and Twitter handles provide regular program updates. You can also contact specific programs at email addresses below:</p>
  <div class="usa-width-one-half usa-media_block">
  <p><b>Performance.gov</b><br>
    <a href="https://pgovsupport@gsa.gov">pgovsupport@gsa.gov</a><br>
    @PerformanceGov<br>
  </p>
  <p><b>Unified Shared Services Management</b><br>
    <a href="https://ussmteam@gsa.gov">ussmteam@gsa.gov</a>
  </p>
  <p><b>US Performance Improvement Council</b><br>
    <a href="https://picstaff@gsa.gov">picstaff@gsa.gov</a><br>
    <a href="https://PIC.gov">PIC.gov</a>
  </p>
  <p><b>US Chief Financial Officers Council</b><br>
    <a href="https://cfoc.support@gsa.gov">cfoc.support@gsa.gov</a><br>
    <a href="https://CFO.gov">CFO.gov</a>
  </p>
  <p><b>US Chief Acquisition Officers Council</b><br>
    <a href="https://caoc.support@gsa.gov">caoc.support@gsa.gov</a><br>
  </p>
  </div>
  <div class="usa-width-one-half usa-media_block">
    <p><b>US Chief Information Officers Council</b><br>
      <a href="https://feedback@cio.gov">feedback@cio.gov</a><br>
      @ciodotgov<br>
      <a href="https://CIO.gov">CIO.gov</a><br>
    </p>
    <p><b>US Federal Privacy Council</b><br>
      <a href="https://privacy.council@gsa.gov">privacy.council@gsa.gov</a><br>
      @ciodotgov<br>
      <a href="https://FPC.gov">FPC.gov</a>
    </p>
    <p><b>White House Leadership Development Program</b><br>
      <a href="https://whldp@gsa.gov">whldp@gsa.gov</a><br>
      <a href="">pic.gov/whldp</a>
    </p>
    <p><b>CXO Fellows Program</b><br>
      <a href="https://cxofellowship@gsa.gov">cxofellowship@gsa.gov</a><br>
      <a href="https://www.cfo.gov/cxo-fellows/">cfo.gov/cxo-fellows/</a>
    </p>
  </div>
         </div>
       <div class="usa-width-one-third usa-media_block">
         <img src="../assets/img/about/email-graphic.png" style="float:right;">
             </div>
           </div>
 </div>
</section>
<section class="usa-section usa-section-dark">
  <div class="usa-grid">
    <div class="usa-width-one-half">
      <form id="GD-snippet-form" action="https://public.govdelivery.com/accounts/USGSA/subscribers/qualify" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="ZhCoiMxoWiSHeJTiR19j3v2+S7Z6oMVPNTy2Ytiv7ukUos3n+vi5J/Fc0MG7tmBSLdsHmRfj02xB0ztqUS0YWQ==" />
      <input type="hidden" name="topic_id" id="topic_id" value="USGSA_512" />
        <fieldset>
          <legend>
            C-Suite Quarterly Newsletter
          </legend>
        <div>
          Sign up for C-Suite Quarterly, a quarterly update on management priorities, transformation success stories, and tools and information to help agencies improve performance.<BR><BR>

          To sign up for updates or to access your subscriber preferences, please enter your contact information below.
        </div>
    </div>
  <div class="usa-width-one-half">
    <ol style="padding-left:0px;" class='form'>
    <li class='email_fields' style='display: block'>
    <label for="email">*Email Address</label>
    <input type="text" name="email" id="email" class="long" />

    </li>
    </ol>
    <div class='button_panel'>
    <input type="submit" name="commit" value="Submit" class="form_button" />
    </div>
    </fieldset>
    </form>
    </div>
  </div>
</section>
