---
layout: base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<section  class="usa-graphic-list" >
        <div id="main-content" class="grid-container">

            <h1 class="text-primary column-centered-heading margin-bottom-1" style="font-size: 34px;"> Shared Services Governance Board</h1>

            <div class="usa-graphic-list__row grid-row grid-gap margin-0">


                <p class="font-sans-sm padding-top-1"> The SSGB is comprised of representatives from the CXO councils and is responsible for making recommendations to Office of Management and Budget (OMB) on potential sharing opportunities and for advising on the implementation of the designated activities. The SSGB will also serve as the escalation point for the BSC to resolve inconsistencies in the creation of business and data standards or to suggest possible resolutions for OMB policy officials. Membership includes executives from across the Federal enterprise to provide a broad perspective on opportunities, concerns, and policies related to shared services.</p>


                <br>
            </div>


            <table class="usa-table" aria-label="Shared Services Governance Board Members" style="font-size: 14px;">
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 30%;">
                 </colgroup>
                <thead>
                <tr>
                    <th scope="col">Representation</th>
                    <th scope="col">Name</th>
                    <th scope="col">Agency</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SSGB (Co-Chair)</td>
                    <td>Clare Martorana, Federal Chief Information Officer</td>
                    <td>Office of Management and Budget</td>
                </tr>
                <tr>
                    <td>SSGB (Co-Chair)</td>
                    <td>Katy Kale, Deputy GSA Administrator</td>
                    <td>General Services Administrataion</td>
                </tr>
                <tr>
                    <td>Chief Financial Officers Council (CFOC)</td>
                    <td>Jen Funk</td>
                    <td>Department of Transportation</td>
                </tr>
                <tr>
                    <td>Chief Financial Officers Council (CFOC)</td>
                    <td>Dale Bell</td>
                    <td>Department of Health and Human Services</td>
                </tr>
                <tr>
                    <td>Chief Information Officers Council (CIOC)</td>
                    <td>Dorothy Aronson</td>
                    <td>National Science Foundation</td>
                </tr>
                <tr>
                    <td>Chief Information Officers Council (CIOC)</td>
                    <td>Jason Gray</td>
                    <td>US Agency for International Development</td>
                </tr>
                <tr>
                    <td>Chief Acquisition Officers Council (CAOC)</td>
                    <td>Arthur Gary</td>
                    <td>Department of Justice</td>
                </tr>
                <tr>
                    <td>Chief Acquisition Officers Council (CAOC)</td>
                    <td>TBD</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Chief Human Capital Officers Council (CHCOC)</td>
                    <td>Roland Edwards</td>
                    <td>Department of Homeland Security</td>
                </tr>
                <tr>
                    <td>Chief Human Capital Officers Council (CHCOC)</td>
                    <td>Lori Michalski</td>
                    <td>Department of Housing & Urban Development</td>
                </tr>
                <tr>
                    <td>Performance Improvement Council (PIC)</td>
                    <td>Harry Knight</td>
                    <td>Department of Commerce</td>
                </tr>
                <tr>
                    <td>Performance Improvement Council (PIC)</td>
                    <td>Jolene Lauria</td>
                    <td>Department of Justice</td>
                </tr>
                <tr>
                    <td>Chief Data Officers Council (CDOC)</td>
                    <td>Kirsten Dalboe</td>
                    <td>Federal Energy Regulatory Commission</td>
                </tr>
                <tr>
                    <td>Chief Data Officers Council (CDOC)</td>
                    <td>TBD</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Small Agency Council</td>
                    <td>Patrick Bevill</td>
                    <td>Federal Retirement Thrift Investment Board</td>
                </tr>
                <tr>
                    <td>Small Agency Council</td>
                    <td>Bryan Burnett</td>
                    <td>Equal Employment Opportunity Commission</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>

<style>
.usa-table td{
 padding: 2px;


}
</style>