---
layout: base
---
<section class="usa-section usa-grid">
<h2>Business Standards</h2>
</section>

<section class="usa-section usa-graphic_list" style="padding-top:0;padding-bottom:0;margin-bottom:0;">
  <div class="usa-grid usa-graphic_list-row">

  </div>
  <center>

   <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-sixth usa-media_block" style="margin-right:0px;margin-left: -10px;">
           <h4 style="color:#046b99;">Select a functional area</h4>
           <img src="../assets/img/project-icons/arrow-right.png" style="width:30px;" alt="right arrow icon">
      </div>

      <div class="usa-width-one-sixth usa-media_block" style="margin-right:0px;margin-left: -10px;">
        <A class=" hvr-sink" HREF="../fibf-fm">
          <img src="../assets/img/icon.fm.png" style="width:60px;" alt="Financial Management">
        <p style="margin-top:0px;">Financial Management</p>
      </a>
       </div>

      <div class="usa-width-one-sixth usa-media_block" style="margin-right:0px;margin-left: -10px;">
      <A class=" hvr-sink" HREF="../fibf-hr">
       <img src="../assets/img/icon.hr.png" style="width:60px;" alt="HR Management Services">
       <p style="margin-top:0px;">HR Management<BR>Services</p>
     </a>
      </div>
     <div class="usa-width-one-sixth usa-media_block" style="margin-right:0px;margin-left: -10px;">
      <A class=" hvr-sink" HREF="../fibf-procurement">
       <img src="../assets/img/icon.procurement.png" style="width:58px;" alt="Procurement">
       <p style="margin-top:0px;">Procurement</p>
     </a>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-right:0px;">
      <A class=" hvr-sink" HREF="../fibf-gm">
       <img src="../assets/img/icon.grants.png" style="width:68px;" alt="Grants Management">
       <p style="margin-top:0px;">Grants Management</p>
     </a>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-right:0px;margin-left: -10px;">
      <A class=" hvr-sink" HREF="../fibf-travel">
       <img src="../assets/img/icon.travel.png" style="width:60px;" alt="Travel">
       <p style="margin-top:0px;">Travel</p>
     </a>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-right:0px;margin-left: -10px;">
      <A class=" hvr-sink" HREF="../fibf-ini">
       <img src="../assets/img/icon.ERM.png" style="width:60px;" alt="Electronic Records Management">
       <p style="margin-top:0px;">Electronic Records Management</p>
     </a>
    </div>
  </div>
  </center>
  <!--<CENTER>
  <table class="invisible_table" width="100%">
    <tr>
      <td colspan="6" class="invisible_table">
        <U><FONT STYLE="font-size:20px; font-family: arial;">Functional Area Ecosystem</U></FONT>
      </td>
    </tr>
    <tr>
      <td valign=top class="invisible_table" valign=middle><center>

        <img src="../assets/img/fibf.svc.area.png" alt="Select a Functional Area to the Right">
      </td>
      <td valign=top class="invisible_table"><center>

        <A HREF="../fibf-fm"><img src="../assets/img/icon.fm.png" border=0 alt="Financial Management"></A>
      </td>
       <td class="invisible_table"><center><A HREF="../fibf-hr"><img border=0
src="../assets/img/icon.hr.png" alt="Human Capital"></A>
        </td>
      <td class="invisible_table"><center>
        <A HREF="../fibf-procurement"><img border=0 alt="Procurement" src="../assets/img/icon.procurement.png"
alt="Procurement"></A>
      </td>
      <td class="invisible_table"><center>
        <A HREF="../fibf-gm"><img border=0 src="../assets/img/icon.grants.png" alt="Grants Management"></A>
      </td>
      <td class="invisible_table"><center>
        <A HREF="../fibf-travel"><img src="../assets/img/icon.travel.png" border=0 alt="Travel"></A>

        </td>
    </tr>

        <tr>
        <td>
          &nbsp;
          </td>
    <td class="invisible_table"><CENTER>
      <FONT STYLE="font-family:arial; font-size: 14px; font-weight: bold;">Financial Management</FONT>

      </td>
      <td class="invisible_table"><CENTER>
        <FONT STYLE="font-family:arial; font-size: 14px; font-weight: bold;">Human Capital</font>
      </td>

        <td class="invisible_table"><CENTER>
      <FONT STYLE="font-family:arial; font-size: 14px; font-weight: bold;">Procurement</font>

      </td>
      <td><CENTER>
          <FONT STYLE="font-family:arial; font-size: 14px; font-weight: bold;">Grants Management</font>
      </td>
      <td class="invisible_table"><CENTER>
          <FONT STYLE="font-family:arial; font-size: 14px; font-weight: bold;">Travel & Expense</font>
        </td>
  </table>
  </CENTER>-->

  <BR><BR>
</section>

<section class="usa-section usa-graphic_list" style="background-color: #f1f1f1; ">
  <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
      <h3>What is the Federal Integrated Business Framework (FIBF)?</h3>
      <p>The FIBF is a model that enables the Federal government to better coordinate and document common business needs across agencies, focusing on outcomes, data, and cross-functional end-to-end business processes. It is the essential first step towards standards that will drive economies of scale and leverage the government’s buying power. The FIBF includes five components:</p>

    <ol>
      <li><B>Federal Business Lifecycles, functional areas, functions, and activities</B> serve as the basis for a common understanding of what services agencies need and solutions that should be offered.</li>
      <li><B>Business Capabilities</B> are the outcome-based business needs mapped to Federal government authoritative references, forms, inputs, outputs, and data standards.</li>
      <li><B>Business Use Cases</B> are a set of agency “stories” that document the key activities, inputs, outputs, and other line of business intersections to describe how the Federal government operates.</li>
      <li><B>Standard Data Elements</B>  identify the minimum data fields required to support the inputs and outputs noted in the use cases and capabilities.</li>
      <li><B>Performance Metrics</B> define how the government measures successful delivery of outcomes based on timeliness, efficiency, and accuracy targets.</li>
    </ol>
    </div>
  </div>
</section>

<section class="usa-section">
  <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
      <h3>The cross-functional end-to-end business processes the FIBF currently covers include:</h3>
      <img src="https://ussm.gsa.gov/assets/img/fibf/fibf.plain.png" align="right" /><BR><BR>
      <ul style="list-style: none">
        <li>Budget Formulation-to-Execution</li>
        <li>Acquire-to-Dispose</li>
        <li>Request-to-Procure</li>
        <li>Procure-to-Pay</li>
        <li>Bill-to-Collect</li>
        <li>Record-to-Report</li>
        <li>Agree-to-Reimburse</li>
        <li>Apply-to-Perform</li>
        <li>Post-to-Onboard (Talent Acquisition)</li>
        <li>Needs-to-Outcomes (Talent Development)</li>
        <li>Plan-to-Appraise (Employee Performance Management)</li>
        <li>Plan-to-Compensate (Payroll & T&A)</li>
        <li>Plan-to-Compensate (Compensation and Benefits)</li>
        <li>Counseling-to-Retirement (Separation and Retirement)</li>
        <li>Book-to-Reimburse</li>
        <li>Apply-to-Repay</li>
      </ul>
    </div>
  </div>
</section>
<section class="usa-section usa-graphic_list"  style="background-color: #f1f1f1;" >
  <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
      <h3>How is the FIBF being built?</h3>
        <p>The FIBF is being developed and defined by cross-agency working groups led by the respective Standards Lead.</p>
  <TABLE WIDTH="80%">
    <TR><TD><I><b>Functional Area</b></I></TD><TD><I><b>Standards Lead</b></I></TD></TR>

    <TR><TD>Core Financial Management</TD><TD>Treasury, Office of Financial Innovation and Transformation</TD></TR>

    <TR><TD>Contract Writing Systems</TD><TD>Department of Homeland Security</TD></TR>

    <TR><TD>Travel</TD><TD>General Services Administration</TD></TR>

    <TR><TD>HR Management Services</TD><TD>Office of Personnel Management</TD></TR>

    <TR><TD>Cybersecurity Services</TD><TD>Department of Homeland Security</TD></TR>

    <TR><TD>Grants Management</TD><TD>Office of Management and Budget</TD></TR>

    <TR><TD>Electronic Records Management</TD><TD>National Archives and Records Administration</TD></TR>
  </TABLE>

    <p>As a part of the development process, the FIBF is also being examined from a cross-functional perspective by the Business Standards Council. This is a key component of achieving a cross-functional, interoperable set of government-wide standards for mission support services.</p> <br>

    </div>
  </div>
</section>

<section class="usa-section usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
      <h3>How is the FIBF being used?</h3>
      <p>The HR Management Services FIBF standards served as the business requirements for the government-wide NewPay acquisition. The Financial Management and Grants Industry Demo Days leveraged the FIBF standards to communicate the government's needs to industry. Future acquisitions will continue to leverage the FIBF.</p>
      <p>Additionally, the FIBF is the basis of the Readiness Assessment. The Readiness Assessment provides an understanding of government-wide and agency readiness as it relates to standards, technology, policy, and organizational maturity. This baseline of government-wide readiness serves as an input for decision making and policy for improving Federal mission support services.</p>
    </div>
  </div>
</section>
