---
title: "Introduction to Modernization and Migration Management (M3)"
layout: base
---
<br>
<CENTER>
<img src="../assets/images/m3/m3phaseintro.png" usemap="#image-map"><BR>
  <table class="m3-table" style="border-style: hidden;">
      {% include m3.nav.image.map.html %}
<tbody>
<tr>
<td COLSPAN=2 style="font-family: calibri; font-size: 36px; color: #00a2e8; border: 1px solid #FFFFFF;"><span
class="PhaseTitle"></span></td>
</tbody>
</table>
</CENTER>

<BR>
<section class="usa-section " style="background-color:#205493;">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-media_block">
  
      <h1 style="color: #ffffff;margin-bottom:15px;margin-top:0px;">Introduction to Modernization and Migration Management (M3)</h1>
</div>

    <div class="usa-width-one-whole usa-media_block">
      <p style="color:white">Transitions are difficult but can be successful with sufficient planning and follow-through. M3 is a framework to help agencies achieve successful outcomes and reduce risk during administrative system and/or service modernizations and migrations.</p>
      <h5 style="padding:16px;color:white;background-color:#02bfe7;border-radius:.4em;width:244px;cursor:pointer;text-align: center;"><a style="text-decoration:none;color:white;font-size:1rem;" href="{{ site.baseurl }}/assets/files/2018_M3_Playbook_Final.pdf">Download the M3 Playbook</a></h5>
      </div>
    </div>

</section>
<section class="usa-section usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-whole usa-media_block">
       <div class="usa-media_block-body">
    <h2>What is the M3 Framework?</h2>
    <p stlye="padding-bottom:10px;">The M3 Framework segments modernizations and migrations into discrete phases. Each phase includes a series of objectives and recommended activities that are grouped across four workstreams. <!-- Program Management; Workforce, Org, & Stakeholders; Technology; and Process & Service Delivery.--></p >
      <br>
  <CENTER>
    <img src="{{ site.baseurl }}/assets/images/m3/m3-framework.png" alt="M3 Framework">
    <BR>
 Figure 1
 </CENTER>

     </div>
   </div>
 </section>

 <section class="usa-section usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
        <div class="usa-media_block-body">
      <h2>What is the M3 Playbook?</h2>

        <p>The Playbook consists of guidance and tools to help agencies plan for and navigate transitions. It was developed based on feedback from over 100 Government and industry experts, reflects best practices and lessons learned from prior migrations and is updated annually.</p>

        <p><b>70+ Activities:</b> Descriptions for how to apply the M3 framework, including detailed activity steps, inputs, outputs, lessons learned, and stakeholders involved. </p>

        <p><b><a href="{{ site.baseurl }}/m3resources">20+ Templates:</a> </b>Documents that aid customers and providers in the completion of activities, and provide key considerations. </p>

        <p><b><a href="{{ site.baseurl }}/assets/files/M3PlaybookGuidance9.13.18FINAL.pdf">Supporting Guidance:</a></b> Additional background support for each activity.</p>

        <p><b><a href="https://community.max.gov/pages/viewpage.action?spaceKey=GSA&title=M3+Artifact+Samples">Sample Artifacts: </a></b>An OMB Max page that includes sample documentation from previous modernization and migration projects.</p>

     <h3>How does the new vision for shared services affect M3?</h3>

      <p>OMB is designating <a href="../qsmo/">Quality Service Management Offices</a> (QSMOs) for specific functional areas. The QSMO is the means to standardize processes, reduce the technology footprint, and reduce governmentwide operating costs.</p>

      <p>For the purposes of this framework, customers of the QSMO should consider the term “provider” throughout the M3 activities, as the responsibility of the QSMO. Updates to M3 will be made in the coming months to align with the new shared services vision and the QSMO implementation plans (e.g. updates to Activities 1.4, 2.1, and 3.3).</p>

    </div>
  </div>
</section>
&nbsp;
    </td><tr>
