---
layout: base
---
<section class="usa-section usa-grid">
<!-- AddThis Sharing Buttons above -->
<h2>Business Standards Council Council</h2>
<span style="font-family: arial;font-size: 14px"><br />
<IMG SRC="/assets/img/councilcommunity-1.png" align="right"><br />
Although each functional area operates in its own unique environment with specific requirements and challenges, all functional areas benefit from closer coordination and collaboration supported by a more robust cross-functional governance model. To achieve this end, standards leads, in coordination with OSSPI, established the Business Standards Council to ensure better coordination of the Shared Services initiative.<br />
</span>
<span style="font-family: arial;font-size: 14px;font-weight: strong"><br />
<b>Business Standards Council Responsibilities:</b><br />
</span><span style="font-family: arial;font-size: 14px"><br />
The Business Standards Council will serve as an advisory council to the SSGB and OSSPI providing: 
(1) subject matter expertise for their respective lines of business; 
(2) sharing of best practices and challenges in their functional areas; (3) continued improvement and optimization of processes through automation or consolidation; and (4) additional perspective from customer agencies as it relates to shared services policy, services and systems. Service area leads will also be active collaborators in:</span><BR><BR>
<span style="font-family: arial;font-size: 14px">
• Common business standards<br />
• SME oversight<br />
• Services and metrics<br />
• Criteria for solutions<br />
• Support policy and promote efficiency
 </span>
 <span style="font-family: arial;font-size: 14px;font-weight: strong"><br /><BR>
<b>Governance Process:</b><br />
</span>
<span style="font-family: arial;font-size: 14px"><br />
To ensure identified issues are appropriately escalated and addressed,</span><BR><BR>
  <span style="font-family: arial;font-size: 14px">
• Service area leads will participate in monthly council meetings with the OSSPI Executive Director to ensure council participants are kept abreast of issues/concerns warranting the Council’s attention as well as decisions from the SSGB;<BR>
• There will be a co-chair responsible for helping to design and implement meetings and objectives of the council;<BR>
• The  meeting will serve to coordinate shared services migration/implementation challenges, as needed.<BR>
• The charter will be revisited periodically to keep pace with the needs of the council.<BR>
&nbsp;
&nbsp;
</SPAN>
 
  </section>
