---
layout: base

---
<section class="usa-section"  style="background-image: url('{{ site.baseurl }}/assets/img/homepage-update-image-2.png');color:#ffffff">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-media_block">
        <h1 style="color:#ffffff;">Quality Service Management Offices (QSMOs)</h1>
      <center>
        <h3 style="color:#ffffff;">Shared services will create efficiencies in government and optimize the workforce "by shifting resources to higher value work and reducing duplication across agencies" – OMB M-19-X Centralized Mission Support Capabilities for the Federal Government </h3>
      </center>
     </div>
    </div>
    <br>
    <center>
    <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-third usa-media_block">
        <img style="width:70px;" src="{{ site.baseurl }}/assets/img/project-icons/increase.png">
        <h3 style="color:#ffffff;margin-top:.2em;margin-bottom:0em;">Improve</h3> <p style="margin-top:0em;color:#ffffff;">service delivery and performance</p>
      </div>
      <div class="usa-width-one-third usa-media_block">
        <img style="width:70px;" src="{{ site.baseurl }}/assets/img/project-icons/enhance.png">
        <h3 style="color:#ffffff;margin-top:.2em;margin-bottom:0em;">Enhance</h3> <p style="margin-top:0em;color:#ffffff;">customer satisfcation</p>
      </div>
      <div class="usa-width-one-third usa-media_block">
        <img style="width:70px;" src="{{ site.baseurl }}/assets/img/project-icons/reduce.png">
        <h3 style="color:#ffffff;margin-top:.2em;margin-bottom:0em;">Reduce</h3> <p style="margin-top:0em;color:#ffffff;">costs to agency</p>
      </div>
    </div>
    <br>
    <br>
    <a class="usa-button usa-button-big" href="{{ page.hero-button-link | prepend: site.baseurl }}" style="background-color:#e31c3d">&nbsp {{ page.button-text-1 }}&nbsp </a>
    <a class="usa-button  usa-button-big " href="https://federalist-proxy.app.cloud.gov/preview/gsa/interimperformance-dot-gov-2018/SQS-CAP-update/CAP/CAP_goal_5.html" style="background-color:#e31c3d">{{ page.button-text-2 }}</a>
    <a class="usa-button usa-button-big" href="{{ site.baseurl }}/assets/files/SQS-Public-FAQs-April-2019.pdf" style="background-color:#e31c3d">FAQs</a>
  </center>
</section>

<section class="usa-section" style="background-color: #f1f1f1; padding-top:30px;padding-bottom:15px">
  <div class="usa-grid">
    <div class="usa-width-one-third border usa-media_block" style="padding: 5px;">
      <a class=" hvr-sink" href="#what" style="text-decoration:none;"><h4 style="color:black">What are QSMOs?</h4>
      <center><p><img  src="../assets/img/project-icons/arrow-down.png" style="width:35px;"></p></center></a>
    </div>
    <div class="usa-width-one-third border usa-media_block inner" style="padding: 5px;">
      <a class="hvr-sink" href="#who"style="text-decoration:none;"><h4 style="color:black">Who are the QSMOs?</h4>
      <center><p><img src="../assets/img/project-icons/arrow-down.png" style="width:35px;"></p></center</a>
    </div>
    <div class="usa-width-one-third border-last usa-media_block inner" style="padding: 5px;">
    <a class="hvr-sink" class="grow "href="#how" style="text-decoration:none;"><h4 style="color:black">How will agencies get support from the QSMO?</h4>
      <center><p><img  src="../assets/img/project-icons/arrow-down.png" style="width:35px;"></p></center></a>
    </div>
</section>

<a name="what"></a>
<section class="usa-section">
  <div class="usa-grid">
    <a name="what"></a>
    <div class="usa-width-one-third usa-media_block">
      <h3>{{ page.about-text }}</h3>
    </div>
    <div class="usa-width-two-thirds usa-media_block">
      <a name="what"></a>
      <p style="margin-top:0;">Housed in Federal agencies with the mission and expertise to deliver standard capabilities for other agencies, QSMOs will:</p>
      <ul>
        <li>Offer and manage a marketplace of solutions for common technology, services, or fully managed services to respond to agency needs;</li>
        <li>Guide and govern the long-term sustainability of the services and solutions marketplace;</li>
        <li>Institute a customer engagement and feedback model that allows for continuous improvement and performance management of solutions; and </li>
        <li>Drive the implementation to standards established through the collaborative governance process that produce efficiencies in process and scale. </li>
      </ul>
    </div>
</section>

<a name="who"></a>
<section class="usa-section" style="background-color: #205493;">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-media_block">
      <a name="who"></a>
      <h2 style="color:#ffffff;margin-top:0px;">Who are the QSMOs?</h2>
      <h4 style="color:#ffffff">OMB will designate specific agencies to stand up QSMOs for select mission support functions. These agencies will submit initial 5-Year Plans indicating how they will offer select mission support functions to other Federal agencies. Final QSMO designation, issued by OMB in consultation with the Shared Solutions Governance Board (SSGB), is contingent upon development and approval of the aforementioned 5-Year Plan and its alignment with QSMO long-term designation criteria.</h4>
    </div>
  </div>
</section>

<section class="usa-section" style="background-color:#8ba6ca;padding-top:30px;padding-bottom:30px;">
  <div class="usa-grid">
    <div id="qsmo-large"> <!--mobile responsive id tag - hides this section for 600px -1201px-->
    <div class="usa-width-one-sixth usa-media_block">
          <!--<center><img src ="{{ site.baseurl }}/assets/img/project-icons/three.png" style="width:60px;">REMOVING NUMBERS-->
      <h4 style="color:black;margin-top:10px;">Formal Designation Phase</h4></center>
    </div>

    <div class="usa-width-five-sixths usa-media_block border-left-white" style="padding-top: 3%;padding-bottom: 3%;text-align: left;">
      <div class="border-padding" style="border-bottom:none;">
          <a class="usa-button usa-button" href="{{ site.baseurl}}/assets/files/QSMO-Long-term-Designation-Criteria.pdf">Read Designation Criteria</a>
      </div>
  </div>
</div>

<!--MOBILE RESPONSIVE-->
<div id="qsmo-mobile"> <!--mobile responsive id tag - hides this section for 600px -1201px-->
<div class="usa-width-one-whole usa-media_block">
      <!--<center><img src ="{{ site.baseurl }}/assets/img/project-icons/three.png" style="width:60px;">REMOVING NUMBERS-->
  <h4 style="color:black;margin-top:10px;">Formal Designation Phase</h4></center>
  <a class="usa-button usa-button" href="{{ site.baseurl}}/assets/files/QSMO-Long-term-Designation-Criteria.pdf">Read Designation Criteria</a>
</div>
</div>
</div>

<!--END MOBILE RESPONSIVE-->
  </div>
</section>
<section class="usa-section" style="background-color: #BBCADE;padding-top:30px;padding-bottom:30px;">
  <div class="usa-grid">
    <div class="usa-width-one-sixth usa-media_block ">
      <!--<img src ="{{ site.baseurl }}/assets/img/project-icons/two.png" style="width:60px;"> REMOVING NUMBERS-->
      <h4 style="color:black;margin-top:10px;">Assessment & Pre-designation Phase</h4>
      <p style="font-size:14px;"><em>Specific scope and timeline of services offered will be determined/defined during the pre-designation phase</em></p>
      <!--<div class="rotate">&#171;</div>-->
    </div>
  <div id="qsmo-large"> <!--mobile responsive id tag - hides this section for 600px -1201px-->
    <div class="usa-width-one-sixth usa-media_block border-left-white" style="text-align:center;">
      <div class="border-padding">
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/civilian.png" id="dark-blue-icon">
      <p id="qsmo"><b>Civilian HR Transaction Services</b></p>
    </div>
    <div class="align">
      <p id="designated" class="tooltip"><i>Agency: GSA</i>
        <br /><a href="mailto:QSMO_Info@gsa.gov">Contact</a>
      <span class="tooltiptext"><i>Talent Acquisition, Talent Development, Employee Performance Management, and Compensation and Benefits Management</i><br><br><a style="color:white" href="mailto:QSMO_Info@gsa.gov">QSMO_Info@gsa.gov</a></span></p>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="text-align:center;">
      <div class="border-padding">
        <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/finance.png" id="dark-blue-icon">
        <p id="qsmo"><b>Core Financial Management</b></p>
      </div>
      <div class="align">
        <p id="designated" class="tooltip"><i>Agency: Treasury</i>
          <br /><a href="mailto:FMQSMO@Fiscal.Treasury.Gov">Contact</a>
        <span class="tooltiptext"><i>Accounts Payable, Accounts Receivable, General Ledger, Reporting</i><br><br><a style="color:white" href="mailto:FMQSMO@Fiscal.Treasury.Gov">FMQSMO@Fiscal.Treasury.Gov</a></span></p>
    </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="text-align:center;">
      <div class="border-padding">
        <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/cyber.png" id="dark-blue-icon">
      <p id="qsmo"><b>Cybersecurity Services</b></p>
      </div>
      <div class="align">
        <p id="designated" class="tooltip"><i>Agency: DHS</i>
          <br /><a href="mailto:QSMO@hq.dhs.gov">Contact</a>
          <span class="tooltiptext"><i>Network Defense, Vulnerability Management, Security Operations, Incident Management, Threat Intelligence, Enterprise Intrusion, Detection/Prevention, Cyber Supply Chain Risk Management, DNS Services, Hardware/Software Asset Management, Digital Identity and Access Management, Data Protection, Mobile Security Services</i><br><br><a style="color:white" href="mailto:QSMO@hq.dhs.gov">QSMO@hq.dhs.gov</a></span></p>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="text-align:center;">
      <div class="border-padding" style="border-bottom:none;">
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/grants.png" id="dark-blue-icon">
      <p id="qsmo"><b>Grants Management</b></p>
    </div>
    <div class="align">
      <p id="designated" class="tooltip"><i>Agency: HHS</i>
        <br /><a href="mailto:GrantsQSMO@hhs.gov">Contact</a>
      <span class="tooltiptext"><i>Grant Program Administration and Oversight, Management of Grant Pre-Award, Award, Post-Award & Closeout, Grant Recipient Oversight (initial focus may be a Single Audit Solution)</i><br><br><a style="color:white" href="mailto:GrantsQSMO@hhs.gov">GrantsQSMO@hhs.gov</a></span></p>
    </div>
    </div>
  </div>
<!--*************************************MOBILE RESPONSIVE for screens 600px - 1201px wide *******************************************************-->
<div id="qsmo-mobile">
<div class="usa-width-five-sixths usa-media_block" style="text-align:center;">
<div class="usa-graphic_list-row">
  <div class="usa-width-half usa-media_block" style="text-align:center;width:50%;float:left;">
    <div class="border-padding">
    <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/civilian.png" id="dark-blue-icon">
    <p id="qsmo"><b>Civilian HR Transaction Services</b></p>
  </div>
  <div class="align">
    <p id="designated" class="tooltip"><i>Designated Agency: GSA</i>
      <br /><a href="mailto:QSMO_Info@gsa.gov">Contact</a>
    <span class="tooltiptext"><i>Operational Support for: Talent Acquisition, Talent Development, Employee Performance Management, and Compensation and Benefits Management</i></span></p>
    </div>
  </div>
  <div class="usa-width-half usa-media_block" style="text-align:center;width:50%;float:left;">
    <div class="border-padding">
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/finance.png" id="dark-blue-icon">
      <p id="qsmo"><b>Core Financial Management</b></p>
    </div>
    <div class="align">
      <p id="designated" class="tooltip"><i>Designated Agency: Treasury</i>
        <br /><a href="mailto:FMQSMO@Fiscal.Treasury.Gov">Contact</a>
      <span class="tooltiptext"><i>Accounts Payable, Accounts Receivable, General Ledger, Reporting</i></span></p>
  </div>
  </div>
</div>
<div class="usa-graphic_list-row" style="padding-top:20px;">
  <div class="usa-width-half usa-media_block" style="text-align:center;width:50%;float:left;">
    <div class="border-padding">
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/cyber.png" id="dark-blue-icon">
    <p id="qsmo"><b>Cybersecurity Services</b></p>
    </div>
    <div class="align">
      <p id="designated" class="tooltip"><i>Designated Agency: DHS</i>
        <br /><a href="mailto:QSMO@hq.dhs.gov">Contact</a>
        <span class="tooltiptext"><i>Network Defense, Vulnerability Management, Security Operations, Incident Management, Threat Intelligence, Enterprise Intrusion, Detection/Prevention, Cyber Supply Chain Risk Management, DNS Services, Hardware/Software Asset Management, Digital Identity and Access Management, Data Protection, Mobile Security Services</i></span></p>
    </div>
  </div>
  <div class="usa-width-half usa-media_block" style="text-align:center;width:50%;float:left;">
    <div class="border-padding" style="border-bottom:none;">
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/grants.png" id="dark-blue-icon">
    <p id="qsmo"><b>Grants Management</b></p>
    </div>
    <div class="align">
      <p id="designated" class="tooltip"><i>Designated Agency: HHS</i>
        <br /><a href="mailto:GrantsQSMO@hhs.gov">Contact</a>
      <span class="tooltiptext"><i>Grant Program Administration and Oversight, Management of Grant Pre-Award, Award, Post-Award & Closeout, Grant Recipient Oversight (initial focus may be a Single Audit Solution)</i></span></p>
    </div>
  </div>
</div>

</div>
</div>
<!--*********************************************END MOBILE RESPONSIVE*******************************-->

  </div>
</section>
<section class="usa-section" style="background-color:#dce4ef;;padding-top:30px;padding-bottom:30px;">
    <div class="usa-grid">
      <div class="usa-graphic_list-row">
      <div class="usa-width-one-sixth usa-media_block">
      <!--  <img src ="{{ site.baseurl }}/assets/img/project-icons/one.png" style="width:60px;">REMOVING NUMBER-->
        <h4 style="color:black;margin-top:10px;">Initiation & Research Phase</h4>
        <!--<div class="rotate">&#171;</div>-->
  </div>
  </div>

  <div id="qsmo-large"> <!--mobile responsive id tag - hides this section for 600px -1201px-->
      <div class="usa-width-one-sixth usa-media_block border-left-black" style="text-align:center;">
        <div class="border-padding-I">
          <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/acquisition.png" id="dark-blue-icon">
          <p id="qsmo"><b>Assisted Acquisition</b></p>
          </div>
            <!--<div class="align" >
              <p id="designated" class="tooltip-2"><i>Designated Agency: TBD</i></p>
            </div>-->
        <div class="border-padding-I travel"  >
          <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/travel.png" id="dark-blue-icon">
          <p id="qsmo"><b>Travel</b></p>
        </div>
          <!--<div class="align" >
            <p id="designated" class="tooltip-2"><i>Designated Agency: GSA</i></p>
      </div>-->
      </div>
      <center><div class="usa-width-one-sixth usa-media_block" style="text-align:center;">
        <div class="border-padding-I">
        <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/contract.png" id="dark-blue-icon">
        <p id="qsmo"><b>Contract Writing Systems</b></p>
      </div>
      <!--<div class="align">
        <p id="designated"  class="tooltip-2"><i>Designated Agency: DHS</i></p>
      </div>-->
      </div>
      <div class="usa-width-one-sixth usa-media_block" style="text-align:center;">
        <div class="border-padding-I">
          <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/cx.png" id="dark-blue-icon">
          <p id="qsmo"><b>Customer Experience</b></p>
        </div>
        <!--<div class="align">
          <p id="designated"  class="tooltip-2"><i>Designated Agency: GSA</i></p>
      </div>-->
      </div>
      <div class="usa-width-one-sixth usa-media_block " style="text-align:center;">
      <div class="border-padding-I">
        <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/FOIA.png" id="dark-blue-icon">
        <p id="qsmo"><b>FOIA</b></p>
      </div>
      <!--<div class="align">
        <p id="designated"  class="tooltip-2"><i>Designated Agency: TBD</i></p>
      </div>-->
      </div>
      <div class="usa-width-one-sixth usa-media_block" style="text-align:center;">
        <div class="border-padding-I">
          <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/property.png" id="dark-blue-icon">
          <p id="qsmo"><b>Real Property Management</b></p>
        </div>
        <!--<div class="align">
          <p id="designated"  class="tooltip-2"><i>Designated Agency: GSA</i></p>
        </div>-->
      </div>
    </div>
<!--*****BEGIN MOBIL RESPONSIVE-->
<div id="qsmo-mobile">
<div class="usa-width-five-sixths usa-media_block" style="text-align:center;">
<div class="usa-graphic_list-row">
  <div class="usa-width-half usa-media_block" style="text-align:center;width:50%;float:left;">
    <div class="border-padding-I">
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/acquisition.png" id="dark-blue-icon">
      <p id="qsmo"><b>Assisted Acquisition</b></p>
    </div>
  </div>
  <div class="usa-width-half usa-media_block" style="text-align:center;width:50%;float:left;">
    <div class="border-padding-I">
    <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/contract.png" id="dark-blue-icon">
    <p id="qsmo"><b>Contract Writing Systems</b></p>
  </div>
  </div>
</div>
<div class="usa-graphic_list-row">
  <div class="usa-width-half usa-media_block" style="text-align:center;width:50%;float:left;">
    <div class="border-padding-I">
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/cx.png" id="dark-blue-icon">
      <p id="qsmo"><b>Customer Experience</b></p>
    </div>
  </div>
  <div class="usa-width-half usa-media_block" style="text-align:center;width:50%;float:left;">
    <div class="border-padding-I">
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/FOIA.png" id="dark-blue-icon">
      <p id="qsmo"><b>FOIA</b></p>
    </div>
  </div>
</div>
<div class="usa-graphic_list-row">
  <div class="usa-width-half usa-media_block" style="text-align:center;width:50%;float:left;">
    <div class="border-padding-I">
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/property.png" id="dark-blue-icon">
      <p id="qsmo"><b>Real Property Management</b></p>
    </div>
  </div>
  <div class="usa-width-half usa-media_block" style="text-align:center;width:50%;float:left;">
    <div class="border-padding-I"  >
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/travel.png" id="dark-blue-icon">
      <p id="qsmo"><b>Travel</b></p>
    </div>
  </div>
</div>
</div>
</div>


<!--end mobile-->
    </div>


    </center>

  </section>

<!--<section class="usa-section" style="background-color: #f1f1f1;padding-top:60px;padding-bottom:30px;">
  <div class="usa-grid">
    <div class="usa-width-one-third border usa-media_block ">
      <h4>Initiation & Research Phase</h4>
        <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/acquisition.png" style="width:42px;background-color:#112e51;border-radius:25px;padding:4px;">
          <p id="qsmo"><b>Assisted Acquisition</b></p>
          <center><p id="designated"><i>Designated Agency: TBD</i></p></center>
        <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/contract.png" style="width:42px;background-color:#112e51;border-radius:25px;padding:4px;">
          <p id="qsmo"><b>Contract Writing Systems</b></p>
          <center><p id="designated"><i>Designated Agency: DHS</i></p></center>
        <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/cx.png" style="width:42px;background-color:#112e51;border-radius:25px;padding:4px;">
          <p id="qsmo"><b>Customer Experience</b></p>
          <center><p id="designated"><i>Designated Agency: GSA</i></p></center>
        <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/FOIA.png" style="width:42px;background-color:#112e51;border-radius:25px;padding:4px;">
          <p id="qsmo"><b>FOIA</b></p>
          <center><p id="designated"><i>Designated Agency: TBD</i></p></center>
        <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/property.png" style="width:42px;background-color:#112e51;border-radius:25px;padding:4px;">
          <p id="qsmo"><b>Real Property Management</b></p>
          <center><p id="designated"><i>Designated Agency: GSA</i></p></center>
        <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/travel.png" style="width:42px;background-color:#112e51;border-radius:25px;padding:4px;">
          <p id="qsmo"><b>Travel</b></p>
          <center><p id="designated"><i>Designated Agency: GSA</i></p></center>
    </div>
    <div class="usa-width-one-third border usa-media_block ">
      <h4>Assessment & Pre-designation Phase*</h4>
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/civilian.png" style="width:42px;background-color:#112e51;border-radius:25px;padding:4px;">
        <p id="qsmo"><b>Civilian HR Management Services</b></p>
        <center><p id="designated" class="tooltip"><i>Designated Agency: GSA</i>
          <span class="tooltiptext"><i>Operational Support for: Talent Acquisition, Talent Development, Employee Performance Management, and Compensation and Benefits Management</i></span></p>
        </center>
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/finance.png" style="width:42px;background-color:#112e51;border-radius:25px;padding:4px;">
        <p id="qsmo"><b>Core Financial Management</b></p>
        <center><p id="designated" class="tooltip"><i>Designated Agency: Treasury</i>
          <span class="tooltiptext"><i>Accounts Payable, Accounts Receivable, General Ledger, Reporting</i></span></p>
        </center>
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/cyber.png" style="width:42px;background-color:#112e51;border-radius:25px;padding:4px;">
        <p id="qsmo"><b>Cyber Security Services</b></p>
        <center><p id="designated" class="tooltip"><i>Designated Agency: DHS</i>
          <span class="tooltiptext"><i>Operational guidance, Threat Intelligence and Information Sharing, CyberHunt, Audit Trail / Log, Capture Analysis, Continuous Diagnostics, Incident Response, Data Loss Prevention</i></span></p>
        </center>
      <img src ="{{ site.baseurl }}/assets/img/project-icons/qsmo/grants.png" style="width:42px;background-color:#112e51;border-radius:25px;padding:4px;">
        <p id="qsmo"><b>Grants Management</b></p>
        <center><p id="designated" class="tooltip"><i>Designated Agency: HHS</i>
          <span class="tooltiptext"><i>Grant Program Administration and Oversight, Management of Grant Pre-Award, Award, Post-Award & Closeout, Grant Recipient Oversight (initial focus may be a Single Audit Solution)</i></span></p>
        </center>
        <p style="font-size:14px;"><em>*Specific scope and timeline of services offered will be determined/defined during the pre-designation phase</em></p>

    </div>
    <div class="usa-width-one-third border usa-media_block ">
      <h4>Formal Designation Phase</h4>
        <p style="font-size:14px;"><em>Coming Soon</em></p>
        <center><a class="usa-button" href="{{ site.baseurl}}/assets/files/QSMO-Long-term-Designation-Criteria.pdf"> Read Designation Criteria</a>
    </div>
  </div>
</section>-->

<a name="how"></a>
<section class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-media_block">
      <h2>How Will Agencies get Support from the QSMO?</h2>
      <center><img src ="{{ site.baseurl }}/assets/img/project-images/support-qsmo.png" style="width:950px; padding:40px 20px 20px 20px;"></center>
    </div>
  </div>
</section>
<section class="usa-section" style="background-color: #f1f1f1;">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2 style="color:black">Legacy Designated Providers</h2>
      <p>Memo 19-XX directs legacy designated providers to propose a <a href="{{ site.baseurl}}/assets/files/Workforce-Strategies-Guide-4-11-19.pdf">joint business case</a> with the QSMO to accept any new customers, expand services to existing customers, or make investments in technology or services for these functions.
      </p>
      <table id="customers" style="font-size:15px;">
        <tr>
          <th style="background-color: #205493;color:white;">Functional Area</th>
          <th style="background-color: #205493;color:white;">Legacy Designated Providers</th>
          <th style="background-color: #205493;color:white;">Pre-Designated QSMO</th>
        </tr>
        <tr>
         <td style="padding:1.15rem;">Civilian HR Transaction Services</td>
          <ul>
          <td style="padding:1.15rem;"><li>Defense Accounting and Financial Service (Department of Defense)</li><li>Interior Business Center (Department of Interior)</li> <li>Administrative Resource Center and Treasury Shared Service Center (Department of Treasury)</li><li> National Finance Center (Department of Agriculture)</li> </td>
          <td style="padding:1.15rem;">General Services Administration</td>
        </tr>
        <tr>
          <td style="padding:1.15rem;">Core Financial Management</td>
          <ul>
          <td style="padding:1.15rem;"><li>Interior Business Center (Department of Interior)</li><li> Financial Management Services (Department of Agriculture)</li><li> Enterprise Services Center (Department of Transportation)</li><li> Administrative Resource Center (Department of Treasury)</li>  </td>
          <td style="padding:1.15rem;">Department of Treasury</td>
        </tr>
        <tr>
          <td style="padding:1.15rem;">Grants Management</td>
          <td style="padding:1.15rem;">N/A</td>
          <td style="padding:1.15rem;">Department of Health and Human Services</td>
        </tr>
        <tr>
          <td style="padding:1.15rem;">Cybersecurity Services</td>
          <td style="padding:1.15rem;">N/A</td>
          <td style="padding:1.15rem;">Department of Homeland Security </td>
        </tr>
      </table>
      </div>
</section>

<section class="usa-section" style="background-color: #205493;">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-media_block">
      <h2 style="color:white">Resources</h2>
      <ul >
        <li style="color:white">Read the <a style="color:white;" href="">Memo</a></li>
        <li style="color:white">View the <a style="color:white;" href="https://federalist-proxy.app.cloud.gov/preview/gsa/interimperformance-dot-gov-2018/SQS-CAP-update/CAP/CAP_goal_5.html>CAP Goal</a></li>
        <li style="color:white"><a style="color:white;" href="{{ site.baseurl }}/assets/files/SQS-Public-FAQs-April-2019.pdf">Frequently Asked Questions</li>
        <li style="color:white"><a style="color:white;" href="{{ site.baseurl}}/assets/files/QSMO-Long-term-Designation-Criteria.pdf">Designation Criteria</a></li>
        <li style="color:white"><a style="color:white;" href="{{ site.baseurl}}/assets/files/Workforce-Strategies-Guide-4-11-19.pdf">Workforce Strategies Guide</a></li>
        <li style="color:white"><a style="color:white;" href="{{ site.baseurl}}/assets/files/Investment-Action-Plan-SOP-April-2019.pdf">Investment Action Plan</li>
      </ul>
    </div>
  </div>
</section>
