---
layout: base
---
<section>
    <div class="usa-hero clearfix " style="background-image: url('{{ site.baseurl }}/assets/images/homepage-update-image-2.png');background-repeat:no-repeat">
        <div class="grid-container">
            <div class="usa-width-whole hero-content text-center">

                <h1 style="color:white">Mission Support Business Standards</h1>
                <p style="color:white">Business standards, established and agreed to by agencies, using the Federal Integrated Business Framework (FIBF) enable the government to better coordinate on the decision-making needed to determine what can be adopted and commonly shared.  They are an essential first step towards agreement on outcomes, data, and cross-functional end to end processes that will drive economies of scale and leverage the government’s buying power.</p>
                <!--a class="usa-button usa-button-secondary " href="#" style="background-color:#e31c3d">FIBF Artifacts</a>-->

            </div>
        </div>
    </div>
</section>
---{{page.resourceTitle}}
<section class="usa-graphic-list">
    <div class="grid-container usa-graphic-list__row">
        <div class="grid-col-12 usa-media-block">
            <!-- <P> <img  src="../assets/images/about/ussm-mark.png" alt="ussm-logo-mark" style="height:auto; width:89%;min-width: 48px; margin-top:-15px; padding-right: 15px; padding-bottom: 0px;"></P> -->
            <div >
                <h2 class="text-primary margin-top-0" style="font-size: 30px">How OSSPI Supports Shared Services</h2>
                <p style="max-width:none;margin-bottom: 1em; margin-top: 0em; float: left;">
                    OSSPI coordinates governance, executes program management, and develops processes to support development and implementation of OMB policy as it relates to mission support services.
                </p>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="usa-graphic-list"> 
    <div class="grid-container usa-graphic-list__row">
        <div class="grid-col-12 usa-media-block">
            <div>
                <p>Excepturi sint occaecati cupiditate non provident, similique sunt in
                    culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est et quidem expedita dist.
                    Ase Nam libero tempore.</p>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="usa-graphic-list "> 
    <div class="grid-container usa-graphic-list__row">
        <div class="grid-col-12 usa-media-block ogp-top-line ">
            <div class="">
                <b>VISIT: WWW.WEBSITE.GOV | CONTACT: NAME@EMAIL.GOV</b>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="usa-graphic-list "> 
    <div class="grid-container usa-graphic-list__row">
        <div class=" ">
            <div class="display-block">
                <p>Title</p>
            
                <p>Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                    officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                    quidem rerum facilis est et quidem expedita dist. Ase Nam libero tempore.</p>
            </div>
        </div>
        <div >
            <div class="display-block">
                <p>Title</p>
            </div>
            <div class="display-block">
                <p>Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                    officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                    quidem rerum facilis est et quidem expedita dist. Ase Nam libero tempore.</p>
            </div>
        </div>
        <div class="">
            <div class="display-block">
                <p>Title</p>
            </div>
            <div class="display-block">
                <p>Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                    officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                    quidem rerum facilis est et quidem expedita dist. Ase Nam libero tempore.</p>
            </div>
        </div>
    </div>
    </div>
</section>
