---
layout: default
---

{% comment %}
This is an example showing how you can load date from the _data/ folder
{% endcomment %}


<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="grid-col-12 desktop:grid-col-9">
        {% for single_video in site.data.videos.videos %}
          {% assign item_name = page.url | split:"/" | last %}
          {% if item_name == single_video.page_name %}
            <div class="usa-card__container" id="ogp-usa-card__container">
              <div class="margin-top-05">
                  <a  class="text-black ogp-card__link--unset" href="{{ site.baseurl }}{{single_video.directory}}{{single_video.page_name}}">
                      <b>{{single_video.title}} </b>
                  </a>
              </div>
              <div class="usa-card__media">
                  <div class="usa-card__img">
                    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/569978556?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="QSMOs and the Trail to Mission Success"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                  </div>
              </div>
              <div>
                  <div>
                      <span>
                          <img
                              class="width-105"
                              src="{{ site.baseurl }}/assets/images/video-card/circle-solid-{{single_video.tag_color}}.svg"
                              alt="A placeholder image"
                          />
                      </span>
                      <sapn> {{single_video.tag}} </sapn>
                  </div>
                  <div>
                      <span>
                          <img
                              class="width-105"
                              src="{{ site.baseurl }}/assets/images/video-card/clock-regular.svg"
                              alt="Last updated time"
                          />
                      </span>
                      <span> {{single_video.last_updated}}o</span>
                  </div>
              </div>
              <hr />
              <div>
                  <div>
                      <sapn> {{single_video.description}} </sapn>
                  </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="grid-col-12 desktop:grid-col-3">
        <ul class="usa-card-group">
          {% for each_video in site.data.videos.videos %}
            {% include video-card/video-card-sidebar.html video_data = each_video %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>