---
layout: base
permalink: /fibf-hr-hcm/
title: Human Capital Management (HCM)
sub-title: Human Capital Management
---
<div class="usa-overlay"></div>
<div id="top"></div>
<div class="page-wrapper chiller-theme toggled">
  {% include side-nav.html %}
  <div id="main-content" class="page-content ">
    <section class="usa-section about margin-bottom-3 padding-y-105">
      <div class="usa-grid">
        <div class="grid-container">
          <div class="priority-tag-line"><h1 class="margin-y-105 font-ui-l">{{ page.title }}</h1></div>
          <div class="grid-row">
            <p class="font-sans-sm">The Office of Personnel Management (OPM), Human Resources Line of Business (HRLOB) serves an integral role in supporting strategic Human Capital Management (HCM) across the Federal Government. In partnership with agencies from the Multi-Agency Executive Strategy Committee (MAESC), HRLOB created three products to standardize Governmentwide HCM:</p>
          </div>
          <div class="grid-row grid-gap-2">
            <div class="desktop:grid-col-6 mobile:grid-col-12">
              <ul class="arrow-list">
                <li><a href="#hc-fibf">Human Capital Federal Integrated Business Framework (HC-FIBF)</a></li>
                <li><a href="#hcbrm">Human Capital Business Reference Model (HCBRM)</a></li>
                <li><a href="#hcim">Human Capital Information Model (HCIM)</a></li>
              </ul>
            </div>
            <div class="desktop:grid-col-6 mobile:grid-col-12">
              <div id="rcorners2">
                <p>
                  <strong>HR Management Services Standards Lead</strong>
                </p>
                <p style="word-wrap: break-word;">
                  <strong>Name:</strong>&nbsp;OPM, Human Resources Line of Business (HRLOB)<br>
                  <strong>Contact:</strong>&nbsp;<a href="mailto:HRLoB@opm.gov">HRLoB@opm.gov</a>
                </p>
              </div>
            </div>
          </div>
          <div class="grid-row">
            <h2 id="hc-fibf" class="text-primary">HUMAN CAPITAL FEDERAL INTEGRATED BUSINESS FRAMEWORK (HC-FIBF)</h2>
          </div>
          <div class="grid-row">
            <div class="desktop:grid-col mobile:grid-col text-center">
              <img src="{{site.baseurl}}/assets/images/fibf/fibf.plain.transparent.webp" alt="fibf wheel" class="hcm-wheel">
            </div>
            <div class="desktop:grid-col-7 mobile:grid-col-12 fibf-wheel-media2">
              <p>The HC-FIBF is the service model that enables the Federal government to better coordinate and document common human capital business needs across agencies and focus on outcomes, data, processes, and performance. Each Agency Subfunction of the HCBRM has its own HC-FIBF, which establishes service delivery and data standards to help agencies meet and advance their organization’s strategic human capital objectives.</p>
              {% if page.intro-extra %}{% include {{ page.intro-extra }} %}{% endif %}
            </div>
          </div>
          <div class="grid-row">
            <div class="desktop:grid-col-12 mobile:grid-col-12 ">
              <h2 class="text-center margin-y-0">Human Capital Management Lifecycle</h2>
              <p class="text-center text-black margin-top-0">
                <i>Click a function to access HC-FIBF Data and Businesss Standards</i>
              </p>
            </div>
            <div class="font-sans-sm">
              <div class="grid-row grid-gap-2">
                <div class="desktop:grid-col-4">
                  <section>
                    <div class="margin-105 bg-primary outline-05 outline-primary padding-1 text-center radius-md hcm-title">Enabling</div>
                    <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-hcs/">HCM A1: Human Capital Strategy, Policies, & Operation Plan</a></div>
                    <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-hce/">HCM A10: Human Capital Evaluations</a></div>
                  </section>
                </div>
                <div class="desktop:grid-col-4">
                  <div class="margin-105 bg-primary outline-05 outline-primary padding-1 text-center radius-md hcm-title">Employee Lifecycle</div>
                  <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-ac/">HCM A2: Talent Acquisition</a></div>
                  <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-td/">HCM A3: Talent Development</a></div>
                  <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-epm/">HCM A4: Employee Performance</a></div>
                  <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-cb/">HCM A5: Compensation and Benefits</a></div>
                  <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-sep-ret/">HCM A6: Separation and Retirement</a></div>
                </div>
                <div class="desktop:grid-col-4">
                  <div class="margin-105 bg-primary outline-05 outline-primary padding-1 text-center radius-md hcm-title">Supporting</div>
                  <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-ea/">HCM A7: Employee Accountability</a></div>
                  <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-lr/">HCM A8: Labor Relations</a></div>
                  <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-hca/">HCM A9: Human Capital Analytics & Employee Records</a></div>
                </div>
                <div class="desktop:grid-col">
                  <div class="margin-105 bg-white outline-05 padding-1 radius-lg"><a class="hcm-button" href="{{site.baseurl}}/fibf-hr-par/">HCM X1: Personnel Action Request (PAR) Processing</a></div>
                </div>
              </div>
            </div>
            <div class="grid-col">
              <p>
                <a class="text-primary" style="display:flex; justify-content:flex-end;" href="#top">Back to top</a>
              </p>
            </div>
          </div>

          <div class="grid-row border-top-1px" id="hcbrm">
            <h2>Human Capital Business Reference Model (HCBRM)</h2>
          </div>
          <div class="grid-row">
            <div class="desktop:grid-col margin-right-5">
              <img class="margin-bottom-2" src="{{site.baseurl}}/assets/images/fibf/HCBRM_4.0_Map_as_image_for_BSC_webpage_Jan_2024.webp" alt="The Human Capital Business Reference Model (HCBRM 4.0) functional framework defines Federal Human Capital Management with 16 Functions and 50 Sub-functions in the HC lifecycle.">
              <a href="#hcbrm_img" class="image-link">Click here to enlarge HCBRM image</a>
              <div id="hcbrm_img" class="white-popup mfp-hide">
                <img src="{{site.baseurl}}/assets/images/fibf/HCBRM_4.0_Map_as_image_for_BSC_webpage_Jan_2024.webp" alt="The Human Capital Business Reference Model (HCBRM 4.0) functional framework defines Federal Human Capital Management with 16 Functions and 50 Sub-functions in the HC lifecycle.">
              </div>
            </div>
            <div class="desktop:grid-col">
              <p class="margin-y-0">
                The HCBRM is the human capital functional framework and structure for all agencies supporting the CHCO Council’s vision of a government-wide common employee experience. It provides a taxonomy for Human Capital Management - at the highest level, it divides Federal human capital functions by who is responsible for delivering them. Federal Functions (designated as “F” functions) are those for which OPM is responsible for writing the policy and providing the services.  Agency Functions (designated as “A” functions) are those that OPM writes the&nbsp;policy and Agencies are responsible for providing the&nbsp;services, either internally or&nbsp;via a service provider.
              </p>
              <a target="_blank" rel="noopener noreferrer" href="https://www.opm.gov/services-for-agencies/hr-line-of-business/hc-business-reference-model">Click here to access the HCBRM</a>
              <img alt="External Link" class="width-2 margin-left-05" src="{{site.baseurl}}/assets/img/external-link-dark.svg">
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-col">
              <p>
                <a class="text-primary" style="display:flex; justify-content:flex-end;" href="#top">Back to top</a>
              </p>
            </div>
          </div>

          <div class="grid-row border-top-1px" id="hcim">
            <h2>Human Capital Information Model (HCIM)</h2>
          </div>
          <div class="grid-row">
            <div class="desktop:grid-col margin-right-5">
              <img class="margin-bottom-2" src="{{site.baseurl}}/assets/images/fibf/HCIM_BSC_webpage_Jan_2024.webp" alt="The HCIM includes the Data Registry, a comprehensive catalog of data elements relating to the Federal Human Capital landscape; Domain Values, lists of possible values for particular Registry data elements; Systems and Forms Mapping, map of all systems and forms which include Registry data elements; and Ecosystem Schema, logical groupings of Registry data elements for a particular message or transaction.">
              <a href="#hcim_img" class="image-link">Click here to enlarge HCIM image</a>
              <div id="hcim_img" class="white-popup mfp-hide">
                <img src="{{site.baseurl}}/assets/images/fibf/HCIM_BSC_webpage_Jan_2024.webp" alt="The HCIM includes the Data Registry, a comprehensive catalog of data elements relating to the Federal Human Capital landscape; Domain Values, lists of possible values for particular Registry data elements; Systems and Forms Mapping, map of all systems and forms which include Registry data elements; and Ecosystem Schema, logical groupings of Registry data elements for a particular message or transaction.">
              </div>
            </div>
            <div class="desktop:grid-col">
              <p class="margin-y-0">
                The HCIM is the foundational service model to achieving a standardized Federal human capital information ecosystem. Comprised of metadata and information packages, the HCIM enables the exchange of human capital data between federal agencies, shared services providers, policy-makers, regulators, academia, industry and the public. It is the “Rosetta Stone” to achieving interoperable human capital systems that enable paperless data sharing across the Federal human capital community.
              </p>
              <a target="_blank" rel="noopener noreferrer" href="https://www.opm.gov/services-for-agencies/hr-line-of-business/human-capital-information-model-hcim/">Click here to access the HCIM</a>
              <img alt="External Link" class="width-2 margin-left-05" src="{{site.baseurl}}/assets/img/external-link-dark.svg">
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-col">
              <p>
                <a class="text-primary" style="display:flex; justify-content:flex-end;" href="#top">Back to top</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>
