{% if site.data.news.items %}
    <ul style="list-style-type: none; padding-left: 0;">
        {% for news_item in site.data.news.items %}
        {% if news_item.Title and news_item.Homepage == "1" %}
            <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.webp" class="news" alt="news icon">
                <span class="date">
                    <b>{{ news_item.Source }}</b><br>
                </span>
                <a class="article" title="{{ news_item.Title }}" href="{{ news_item.Hyperlink }}" target="_blank">{{ news_item.Title }}</a><br>
                    <span class="date">
                        <i>{{ news_item.Date | date: "%B %d, %Y" }}</i>
                    </span>
                    </span>
                </a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No news items available.</p>
{% endif %}
<p><a title="Read more" href="{{ site.baseurl }}/news" class="display-flex flex-align-center"><span class="display-block">Read More</span> <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="/assets/img/sprite.svg#arrow_forward"></use>
  </svg></a></p>