
{% if site.data.news.items && include.category %}
<div class="news-by-category">
    <div class="display-flex flex-align-center">
        <!-- <svg class="usa-icon usa-icon--size-4 text-primary" aria-hidden="true" focusable="false" role="img"><use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#info"></use></svg> -->
        <h2 class="margin-bottom-0 margin-top-0">
            News
        </h2>
    </div>
    <ul style="list-style-type: none; padding-left: 0;">
        {% for news_item in site.data.news.items %}
        {% if news_item.Title and news_item.Category == include.category %}
            <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.webp" class="news" alt="news icon">
                <span class="date">
                    <b>{{ news_item.Source }}</b><br>
                </span>
                <a class="article display-block" title="{{ news_item.Title }}" href="{{ news_item.Hyperlink }}" target="_blank">
                    {{ news_item.Title }}
                </a>
                <span class="date">
                    <i>{{ news_item.Date | date: "%B %d, %Y" }}</i>
                </span>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}


