<ul style="list-style-type: none; padding-left: 0;">
    <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
        <span class="date">
            <b>USDA National Finance Center – NFC Forward Program</b><br>
        </span>
        <a class="article" title="USDA National Finance Center – NFC Forward Program" href="https://sam.gov/opp/df7fc65622c54ea08a2c239f3a99e6a3/view" target="_blank">RFI: USDA is Looking for Market Research Responses to Implement Modern Enterprise Solutions for the National Finance Center (NFC) and its Customers</a><br>
        <span class="date">
            <i>July 24, 2024</i>
        </span>
    </li>
    <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
        <span class="date">
            <b>Business Standards Council</b><br>
        </span>
        <a class="article" title="Public Comment Open for FY25 Annual Update" href="/public-comment-open-for-fy25-annual-update-to-mission-support-data-and-business-standards/">Public Comment Open for FY25 Annual Update to Mission Support Data and Business Standards</a><br>
        <span class="date">
            <i>July 14, 2024</i> 
        </span> 
    </li>

    <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
        <span class="date">
            <b>Department of Treasury Press Release</b><br>
        </span>
        <a class="article" href="https://www.fiscal.treasury.gov/news/patent-and-trademark-office.html" target="_blank" aria-label="Treasury Announces USPTO as First Agency to Use Financial Management Marketplace for Core Financial System Needs" rel="external no folow">Treasury Announces USPTO as First Agency to Use Financial Management Marketplace for Core Financial System Needs</a><br>
        <span class="date">
            <i>July 12, 2024</i>
        </span>
    </li>

    <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
        <span class="date">
            <b>General Services Administration Press Release</b><br>
        </span>
        <a class="article" href="https://www.gsa.gov/about-us/newsroom/news-releases/technology-modernization-fund-announces-investment-06182024" target="_blank" aria-label="Technology Modernization Fund Announces Investment to Modernize Department of Energy HR System with Commercial Software as a Sevice (SaaS)" rel="external no folow">Technology Modernization Fund Announces Investment to Modernize Department of Energy HR System with Commercial Software as a Service (SaaS)</a><br>
        <span class="date">
            <i>June 18, 2024</i>
        </span>
    </li>

    <li class="margin-bottom-4"><img src="{{ site.baseurl }}/assets/images/project-icons/news.png" class="news" alt="news icon">
        <span class="date">
            <b>Interior Business Center</b><br>
        </span>
        <a class="article" href="https://www.doi.gov/ibc/interior-business-center-announces-new-director" target="_blank" aria-label="Interior Business Center Announces New Director" rel="external no folow">Interior Business Center Announces New Director</a><br>
        <span class="date">
            <i>June 3, 2024</i>
        </span>
    </li>
</ul>