---
title: List of all posts
permalink: /business-standards-api/hr/par/
---
[{
"Business-Standards": "HR",
"Sub-section":"Personnel Action Request (PAR) Processing",
"Business Lifecycle": [{% raw %}{{% endraw %}
{% for post in site.data.hr_par.Business_Lifecycle %}
"{{post.type |strip_newlines}}": {{ post["data"] |  remove: '<p>' | remove: '</p>' | replace: "=>", ":" | strip_newlines  }}{% unless forloop.last %},{% endunless %}
{% endfor %} ,
{% for post in site.data.hr_benefits.Business_Lifecycle %}
"{{post.type |strip_newlines}}": {{ post["data"] |  remove: '<p>' | remove: '</p>' | replace: "=>", ":" | strip_newlines  }}{% unless forloop.last %},
{% endunless %}{% endfor %}
{% raw %}}{% endraw %}],

"Business Capabilities": [{% include business-standards-api/hr/par/hr-capabilities.html %}]
}]
