<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="erm-lifecycle" class="usa-accordion usa-accordion--bordered" data-allow-multiple>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1"> EEO.010 Federal Sector Equal Employment Opportunity Government-Wide Management </button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="eeo-010" aria-label="EEO.010 Federal Sector Equal Employment Opportunity Government-Wide Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2"> EEO.020 Federal Sector Equal Employment Program Management </button>
        <div id="b-a2" class="usa-accordion__content usa-prose">
            <table id="eeo-020" aria-label="EEO.020 Federal Sector Equal Employment Program Management">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3"> EEO.030 Federal Sector Affirmative Employment Programs </button>
        <div id="b-a3" class="usa-accordion__content usa-prose">
            <table id="eeo-030" aria-label="EEO.030 Federal Sector Affirmative Employment Programs">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4"> EEO.040 Federal Sector Anti-Harassment Programs </button>
        <div id="b-a4" class="usa-accordion__content usa-prose">
            <table id="eeo-040" aria-label="EEO.040 Federal Sector Anti-Harassment Programs">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a5"> EEO.050 Federal Sector Reasonable Accommodation Programs </button>
        <div id="b-a5" class="usa-accordion__content usa-prose">
            <table id="eeo-050" aria-label="EEO.050 Federal Sector Reasonable Accommodation Programs">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a6"> EEO.060 Federal Sector EEO Complaint Management Strategy, Planning, and Oversight </button>
        <div id="b-a6" class="usa-accordion__content usa-prose">
            <table id="eeo-060" aria-label="EEO.060 Federal Sector EEO Complaint Management Strategy, Planning, and Oversight">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a7"> EEO.070 Federal Sector EEO Complaint Management Procedures </button>
        <div id="b-a7" class="usa-accordion__content usa-prose">
            <table id="eeo-070" aria-label="EEO.070 Federal Sector EEO Complaint Management Procedures">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a8"> EEO.080 Federal Sector EEO Complaint Processing </button>
        <div id="b-a8" class="usa-accordion__content usa-prose">
            <table id="eeo-080" aria-label="EEO.080 Federal Sector EEO Complaint Processing">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a9"> EEO.090 Federal Sector EEO Administrative Judge (AJ) Hearings </button>
        <div id="b-a9" class="usa-accordion__content usa-prose">
            <table id="eeo-090" aria-label="EEO.090 Federal Sector EEO Administrative Judge (AJ) Hearings">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a10"> EEO.100 Federal Sector EEO Appeals </button>
        <div id="b-a10" class="usa-accordion__content usa-prose">
            <table id="eeo-100" aria-label="EEO.100 Federal Sector EEO Appeals">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a11"> EEO.110 Federal Sector EEO Remedies and Enforcement </button>
        <div id="b-a11" class="usa-accordion__content usa-prose">
            <table id="eeo-110" aria-label="EEO.110 Federal Sector EEO Remedies and Enforcement">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a12"> EEO.120 Federal Sector Agency EEO Reporting </button>
        <div id="b-a12" class="usa-accordion__content usa-prose">
            <table id="eeo-120" aria-label="EEO.120 Federal Sector Agency EEO Reporting">
                <thead>
                    <tr>
                        <th class="capability_class" scope="col"><strong><em>Identifier</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                        <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
